Repository jellyfin/jellyfin-web, pull requests merged in 2020-08, with the labels that each got.

#1686 Fix issue with nowplaying page when item.Album or item.Artists are null.
  src/components/remotecontrol/remotecontrol.js
Labels: stable backport

#1681 Add paging in book player with touch events
  src/plugins/bookPlayer/plugin.js
Labels: stable backport

#1679 Migration of loading and favoriteitems to ES6 modules
  package.json
  src/components/appRouter.js
  src/components/favoriteitems.js
  src/components/guide/guide.js
  src/components/imageeditor/imageeditor.js
  src/components/loading/loading.js
  src/components/playback/playbackmanager.js
  src/components/recordingcreator/recordingeditor.js
  src/components/recordingcreator/recordingfields.js
  src/components/recordingcreator/recordinghelper.js
  src/components/recordingcreator/seriesrecordingeditor.js
  src/components/subtitleeditor/subtitleeditor.js
  src/components/tunerPicker.js
  src/components/tvproviders/schedulesdirect.js
  src/components/tvproviders/xmltv.js
  src/controllers/dashboard/notifications/notifications/index.js
  src/controllers/dashboard/plugins/add/index.js
  src/controllers/dashboard/plugins/available/index.js
  src/controllers/dashboard/plugins/installed/index.js
  src/controllers/edititemmetadata.js
  src/controllers/hometab.js
  src/controllers/itemDetails/index.js
  src/controllers/list.js
  src/controllers/livetv/livetvchannels.js
  src/controllers/livetv/livetvrecordings.js
  src/controllers/livetv/livetvschedule.js
  src/controllers/livetv/livetvseriestimers.js
  src/controllers/livetv/livetvsuggested.js
  src/controllers/livetvguideprovider.js
  src/controllers/livetvsettings.js
  src/controllers/movies/moviecollections.js
  src/controllers/movies/moviegenres.js
  src/controllers/movies/movies.js
  src/controllers/movies/movietrailers.js
Labels: es6

#1713 Migrated `/controllers/livetvsettings.js` to es6 module
  package.json
  src/controllers/livetvsettings.js
Labels: es6

#1707 Migration of playbackmanager to ES6 module
  package.json
  src/components/guide/guide.js
  src/components/itemsrefresher.js
  src/components/notifications/notifications.js
  src/components/playback/playbackmanager.js
  src/components/recordingcreator/recordingcreator.js
  src/components/remotecontrol/remotecontrol.js
  src/components/subtitlesync/subtitlesync.js
  src/components/themeMediaPlayer.js
  src/components/upnextdialog/upnextdialog.js
  src/controllers/list.js
  src/controllers/movies/moviesrecommended.js
  src/libraries/screensavermanager.js
  src/plugins/chromecastPlayer/plugin.js
  src/plugins/sessionPlayer/plugin.js
  src/scripts/libraryMenu.js
  src/scripts/serverNotifications.js
Labels: es6

#1718 Migrate routes.js and mouseManager to ES6
  package.json
  src/components/images/imageLoader.js
  src/components/viewContainer.js
  src/scripts/mouseManager.js
  src/scripts/routes.js
Labels: es6

#1502 Pull themes and plugins from web config
  package.json
  src/components/appRouter.js
  src/components/apphost.js
  src/components/displaySettings/displaySettings.js
  src/components/displaySettings/displaySettings.template.html
  src/components/skinManager.js
  src/config.template.json
  src/index.html
  src/manifest.json
  src/plugins/chromecastPlayer/chromecastHelper.js
  src/plugins/chromecastPlayer/plugin.js
  src/scripts/autoThemes.js
  src/scripts/inputManager.js
  src/scripts/settings/appSettings.js
  src/scripts/settings/webSettings.js
  src/scripts/site.js
  src/scripts/themeLoader.js
  src/scripts/themeManager.js
Labels: es6

#1724 Migrated `livetvguideprovider.js` to es6 module
  package.json
  src/controllers/livetvguideprovider.js
Labels: es6

#1650 Migration of favorites, homeTab and editItemMetadata to ES6 modules
  package.json
  src/controllers/edititemmetadata.js
  src/controllers/favorites.js
  src/controllers/home.js
  src/controllers/hometab.js
Labels: es6

#1649 Migration of notification and notifications to ES6 modules
  package.json
  src/controllers/dashboard/notifications/notification/index.js
  src/controllers/dashboard/notifications/notifications/index.js
Labels: es6

#1654 Migration of toast and upnextdialog to ES6 modules
  package.json
  src/components/imageeditor/imageeditor.js
  src/components/toast/toast.js
  src/components/upnextdialog/upnextdialog.js
  src/scripts/site.js
Labels: es6

#1175 Add folder for common SCSS code
  CONTRIBUTORS.md
  src/styles/_mixins.scss
Labels: sass

#1748 Fix old Edge loading
  src/scripts/site.js
Labels: stable backport

#1756 Migrated castSenderApi.js to es6 module
  package.json
  src/components/castSenderApi.js
  src/plugins/chromecastPlayer/plugin.js
Labels: es6

#1738 Move focusManager to ES6
  package.json
  src/components/filtermenu/filtermenu.js
  src/components/focusManager.js
  src/components/guide/guide.js
  src/components/slideshow/slideshow.js
  src/components/sortmenu/sortmenu.js
  src/components/subtitleeditor/subtitleeditor.js
  src/components/tunerPicker.js
  src/components/viewManager/viewManager.js
  src/controllers/list.js
  src/libraries/scroller.js
  src/scripts/scrollHelper.js
  src/scripts/serverNotifications.js
Labels: es6

#1726 Migrated livetvseriestimer to es6 module
  package.json
  src/controllers/livetv/livetvseriestimers.js
Labels: es6

#1743 Migrated livetvschedule.js to ES6 module
  package.json
  src/controllers/livetv/livetvschedule.js
Labels: es6

#1744 Migrated livetvrecordings.js to es6 module
  package.json
  src/controllers/livetv/livetvrecordings.js
Labels: es6

#1736 Migration of xmltv and schedulesdirect to ES6 modules
  package.json
  src/components/tvproviders/schedulesdirect.js
  src/components/tvproviders/xmltv.js
Labels: es6

#1762 Migration of recordinghelper and seriesrecordingeditor to ES6 modules
  package.json
  src/components/recordingcreator/recordingbutton.js
  src/components/recordingcreator/recordingeditor.js
  src/components/recordingcreator/recordingfields.js
  src/components/recordingcreator/recordinghelper.js
  src/components/recordingcreator/seriesrecordingeditor.js
Labels: es6

#1553 Migration of Movies to ES6 Modules
  package.json
  src/controllers/movies/moviecollections.js
  src/controllers/movies/moviegenres.js
  src/controllers/movies/movies.js
  src/controllers/movies/moviesrecommended.js
  src/controllers/movies/movietrailers.js
Labels: es6

#1774 Migrate navdrawer and scroller to ES6
  .eslintignore
  package.json
  src/controllers/list.js
  src/libraries/navdrawer/navdrawer.js
  src/libraries/scroller.js
  src/scripts/libraryMenu.js
Labels: es6

#1733 Migration of viewManager to ES6 module
  package.json
  src/components/appRouter.js
  src/components/viewManager/viewManager.js
  src/scripts/libraryMenu.js
  src/scripts/site.js
Labels: es6

#1653 Migrate shell, serverNotifications and scrollHelper to ES6 + remove searchtab
  package.json
  src/assets/css/librarybrowser.css
  src/components/collectionEditor/collectionEditor.js
  src/components/dialogHelper/dialogHelper.js
  src/components/filtermenu/filtermenu.js
  src/components/guide/guide-settings.js
  src/components/guide/guide.js
  src/components/itemsrefresher.js
  src/components/notifications/notifications.js
  src/components/playlisteditor/playlisteditor.js
  src/components/recordingcreator/recordingcreator.js
  src/components/recordingcreator/recordingeditor.js
  src/components/recordingcreator/recordingfields.js
  src/components/sortmenu/sortmenu.js
  src/components/subtitleeditor/subtitleeditor.js
  src/components/tunerPicker.js
  src/components/viewSettings/viewSettings.js
  src/controllers/livetv/livetvsuggested.js
  src/controllers/movies/moviesrecommended.js
  src/controllers/music/musicrecommended.js
  src/controllers/shows/tvrecommended.js
  src/plugins/sessionPlayer/plugin.js
  src/scripts/scrollHelper.js
  src/scripts/searchtab.js
  src/scripts/serverNotifications.js
  src/scripts/shell.js
Labels: es6

#1675 Migration of list and screensavermanager to ES6 modules
  package.json
  src/controllers/list.js
  src/libraries/screensavermanager.js
Labels: es6

#1769 Migration of subtitleeditor and subtitlesync to ES6 modules
  package.json
  src/components/subtitleeditor/subtitleeditor.js
  src/components/subtitlesync/subtitlesync.js
Labels: es6

#1751 Migration of layoutManager and itemsrefresher to ES6 modules
  package.json
  src/components/filtermenu/filtermenu.js
  src/components/guide/guide-settings.js
  src/components/guide/guide.js
  src/components/itemsrefresher.js
  src/components/layoutManager.js
  src/components/recordingcreator/recordingcreator.js
  src/components/recordingcreator/recordingeditor.js
  src/components/remotecontrol/remotecontrol.js
  src/components/slideshow/slideshow.js
  src/components/sortmenu/sortmenu.js
  src/components/tabbedview/tabbedview.js
  src/components/tunerPicker.js
  src/components/viewSettings/viewSettings.js
  src/controllers/livetv/livetvsuggested.js
  src/scripts/libraryMenu.js
  src/scripts/livetvcomponents.js
  src/scripts/site.js
Labels: es6

#1768 Migration of sortmenu and slideshow to ES6 modules
  package.json
  src/components/slideshow/slideshow.js
  src/components/sortmenu/sortmenu.js
Labels: es6

#1778 Migration of logoScreenSaver and playAccessValidation to ES6 module
  package.json
  src/plugins/logoScreensaver/plugin.js
  src/plugins/playAccessValidation/plugin.js
Labels: es6

#1652 Migrate add, installed, available plugin pages to ES6
  package.json
  src/controllers/dashboard/plugins/add/index.js
  src/controllers/dashboard/plugins/available/index.js
  src/controllers/dashboard/plugins/installed/index.js
  src/strings/en-us.json
Labels: es6

#1676 Migration of home, tabbedview and libraryMenu to ES6 modules
  package.json
  src/components/tabbedview/tabbedview.js
  src/controllers/home.js
  src/scripts/libraryMenu.js
Labels: es6

#1719 Migration of remotecontrol to ES6 module
  package.json
  src/components/remotecontrol/remotecontrol.js
Labels: es6

#1781 Migration of chromecastPlayer to ES6 Modules and remove a few final requires
  package.json
  src/components/imageDownloader/imageDownloader.js
  src/components/metadataEditor/metadataEditor.js
  src/plugins/chromecastPlayer/plugin.js
  src/scripts/libraryBrowser.js
Labels: es6

#1759 Migration of guide and guide-settings to ES6 modules
  package.json
  src/components/guide/guide-settings.js
  src/components/guide/guide.js
  src/controllers/livetv/livetvguide.js
  src/plugins/chromecastPlayer/plugin.js
  src/scripts/libraryMenu.js
Labels: es6

#1749 Migration of livetvguide and livetvcomponents to ES6 modules
  package.json
  src/controllers/livetv/livetvguide.js
  src/controllers/livetv/livetvsuggested.js
  src/scripts/livetvcomponents.js
Labels: es6

#1750 Migration of recordingbutton and recordingcreator to ES6 modules
  package.json
  src/components/recordingcreator/recordingbutton.js
  src/components/recordingcreator/recordingcreator.js
Labels: es6

#1747 Migration of htmlAudioPlayer to ES6 module
  package.json
  src/plugins/htmlAudioPlayer/plugin.js
Labels: es6

#1757 Migrated itembydetailpage to es6 moduel
  package.json
  src/scripts/itembynamedetailpage.js
Labels: es6

#1577 Migrate appHost, qualityOptions, bundle and appLoader to es6
  .eslintrc.js
  package.json
  src/bundle.js
  src/components/actionSheet/actionSheet.js
  src/components/appRouter.js
  src/components/apphost.js
  src/components/cardbuilder/cardBuilder.js
  src/components/dialogHelper/dialogHelper.js
  src/components/images/imageLoader.js
  src/components/indicators/indicators.js
  src/components/itemContextMenu.js
  src/components/metadataEditor/metadataEditor.js
  src/components/nowPlayingBar/nowPlayingBar.js
  src/components/playback/mediasession.js
  src/components/playback/playbackmanager.js
  src/components/qualityOptions.js
  src/components/scrollManager.js
  src/components/subtitlesettings/subtitleappearancehelper.js
  src/components/subtitlesettings/subtitlesettings.js
  src/controllers/dashboard/dashboard.js
  src/controllers/dashboard/devices/devices.js
  src/controllers/dashboard/dlna/profile.js
  src/controllers/dashboard/dlna/profiles.js
  src/controllers/dashboard/plugins/add/index.js
  src/controllers/dashboard/plugins/repositories/index.js
  src/controllers/dashboard/scheduledtasks/scheduledtask.js
  src/controllers/dashboard/scheduledtasks/scheduledtasks.js
  src/controllers/itemDetails/index.js
  src/controllers/livetvstatus.js
  src/controllers/music/musicrecommended.js
  src/controllers/playback/video/index.js
  src/elements/emby-checkbox/emby-checkbox.js
  src/elements/emby-itemrefreshindicator/emby-itemrefreshindicator.js
  src/elements/emby-itemscontainer/emby-itemscontainer.js
  src/elements/emby-playstatebutton/emby-playstatebutton.js
  src/elements/emby-progressbar/emby-progressbar.js
  src/elements/emby-progressring/emby-progressring.js
  src/elements/emby-radio/emby-radio.js
  src/elements/emby-scrollbuttons/emby-scrollbuttons.js
  src/elements/emby-scroller/emby-scroller.js
  src/elements/emby-slider/emby-slider.js
  src/elements/emby-tabs/emby-tabs.js
  src/plugins/bookPlayer/plugin.js
  src/plugins/bookPlayer/tableOfContents.js
  src/plugins/experimentalWarnings/plugin.js
  src/plugins/htmlVideoPlayer/plugin.js
  src/scripts/apploader.js
  src/scripts/datetime.js
  src/scripts/deleteHelper.js
  src/scripts/gamepadtokey.js
  src/scripts/globalize.js
  src/scripts/inputManager.js
  src/scripts/site.js
Labels: es6

#1728 Migrated FilterMenu to es6 module
  package.json
  src/components/filtermenu/filtermenu.js
Labels: es6

#1771 Migration of themeMediaPLayer, viewSettings and notification to ES6 modules
  package.json
  src/components/notifications/notifications.js
  src/components/themeMediaPlayer.js
  src/components/viewSettings/viewSettings.js
Labels: es6

#1725 Migrated livetvsuggested.js to es6 module
  package.json
  src/controllers/livetv/livetvsuggested.js
Labels: es6

#1794 Remove extraneous pageContainer element from videoOSD
  src/assets/css/videoosd.css
  src/controllers/playback/video/index.html
Labels: stable backport

#1780 Migration of tunerPicker and userdatabuttons to ES6 modules
  package.json
  src/components/tunerPicker.js
  src/components/userdatabuttons/userdatabuttons.js
Labels: es6

#1799 Hitting space to check/uncheck checkboxes doesn't work on firefox
  src/elements/emby-checkbox/emby-checkbox.js
  src/elements/emby-radio/emby-radio.js
Labels: stable backport

#1761 Migration of recordingeditor and recordingfields to ES6 modules
  package.json
  src/components/recordingcreator/recordingcreator.js
  src/components/recordingcreator/recordingeditor.js
  src/components/recordingcreator/recordingfields.js
Labels: es6

#1645 Migrate appRouter to ES6
  package.json
  src/components/appRouter.js
  src/components/dialogHelper/dialogHelper.js
  src/components/itemContextMenu.js
  src/components/mediainfo/mediainfo.js
  src/scripts/site.js
Labels: es6

#1779 Migration of experimentalWarnings and sessionPlayer to ES6 modules
  package.json
  src/components/playback/playbackmanager.js
  src/plugins/experimentalWarnings/plugin.js
  src/plugins/sessionPlayer/plugin.js
  src/scripts/site.js
Labels: es6

#1716 Migrate PluginManager and PackageManager to ES6
  .eslintrc.js
  package.json
  src/components/cardbuilder/cardBuilder.js
  src/components/packageManager.js
  src/components/pluginManager.js
  src/plugins/htmlVideoPlayer/plugin.js
  src/scripts/editorsidebar.js
  src/scripts/keyboardNavigation.js
  src/scripts/site.js
Labels: es6

#1789 Move Dashboard to a new module
  package.json
  src/scripts/clientUtils.js
  src/scripts/site.js
Labels: es6

#1818 Fix non-ES6 import [10.6.z]
  src/controllers/dashboard/plugins/add.js
Labels: stable backport

#1823 Set background color on blurhash image load
  src/components/images/imageLoader.js
Labels: stable backport

#1849 Add BuildRequires: git to Fedora specfile
  fedora/jellyfin-web.spec
Labels: stable backport

#1845 Various TV-related fixes
  src/assets/css/fonts.css
  src/assets/css/librarybrowser.css
  src/components/cardbuilder/card.css
  src/controllers/itemDetails/index.html
  src/controllers/itemDetails/index.js
  src/controllers/user/menu/index.html
  src/controllers/user/menu/index.js
  src/libraries/scroller.js
  src/themes/appletv/theme.css
  src/themes/blueradiance/theme.css
  src/themes/dark/theme.css
  src/themes/light/theme.css
  src/themes/purplehaze/theme.css
  src/themes/wmc/theme.css
Labels: p: ps4, p: tizen, p: uwp, ui & ux
