Repository jellyfin/jellyfin-web, pull requests merged in 2020-03, with the labels that each got.

#926 Fixed broken links described by #925
  src/dlnasettings.html
  src/networking.html
Labels: stable backport

#929 Fix Network Settings Page
  src/controllers/dashboard/networking.js
Labels: stable backport

#862 Use Gulp to build the client
  .ci/azure-pipelines.yml
  README.md
  gulpfile.js
  package.json
  postcss.config.js
  src/bundle.js
  src/index.html
  src/scripts/site.js
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
  yarn.lock
Labels: enhancement

#948 Fix artist details ribbon
  src/controllers/itemdetailpage.js
Labels: bug, stable backport

#920 Fix slideshow 2
  src/components/dialogHelper/dialogHelper.js
  src/scripts/inputManager.js
Labels: stable backport

#936 Fix "Copy Stream URL" for iOS.
  src/components/itemcontextmenu.js
Labels: stable backport

#951 Correct the url in the wizardstart.html to remove the administrator folder
  src/wizardstart.html
Labels: stable backport

#907 Improve image loading speed and sizes
  src/components/backdrop/backdrop.js
  src/components/cardbuilder/cardBuilder.js
  src/components/cardbuilder/chaptercardbuilder.js
  src/components/dom.js
  src/components/listview/listview.js
  src/components/remotecontrol/remotecontrol.js
  src/controllers/dashboard/dashboard.js
  src/controllers/itemdetailpage.js
  src/controllers/medialibrarypage.js
  src/controllers/playback/videoosd.js
  src/libraries/apiclient/apiclient.js
  src/libraries/apiclient/apiclientcore.js
  src/libraries/apiclient/connectionmanager.js
  src/scripts/site.js
Labels: stable backport

#919 Fix icons doubling and WebOS support
  src/components/cardbuilder/cardBuilder.js
  src/components/homesections/homesections.js
  src/components/slideshow/slideshow.js
  src/controllers/dashboard/scheduledtasks/scheduledtasks.js
  src/elements/emby-collapse/emby-collapse.js
Labels: stable backport

#958 Show missing indicator in ListView
  src/components/listview/listview.css
Labels: stable backport

#955 Fix schedules direct buttons being hidden by default
  src/components/tvproviders/schedulesdirect.js
  src/components/tvproviders/xmltv.js
Labels: stable backport

#904 Clear player data after stop
  src/components/playback/playbackmanager.js
  src/controllers/playback/videoosd.js
Labels: stable backport

#932 Show hamburger menu on mobile and fix title padding
  src/assets/css/librarybrowser.css
  src/scripts/librarymenu.js
Labels: stable backport

#969 Fix XviD playback on Tizen
  src/scripts/browser.js
  src/scripts/browserdeviceprofile.js
Labels: stable backport

#975 Fix cast sender api path
  src/scripts/site.js
Labels: stable backport

#869 Start conversion of modules to ES6
  .eslintrc.yml
  package.json
  src/components/cardbuilder/cardBuilder.js
  webpack.common.js
  yarn.lock
Labels: enhancement

#1005 Switch to new version of JavascriptSubtitlesOctopus, enable new options
  package.json
  src/components/htmlvideoplayer/plugin.js
  yarn.lock
Labels: stable backport

#996 Update CI to use NodeJS 12.x
  .ci/azure-pipelines.yml
  package.json
  yarn.lock
Labels: merge conflict
