Repository jellyfin/jellyfin-web, pull requests merged in 2020-10, with the labels that each got.

#1953 Fix 'file:' fetching (bundled apps)
  src/scripts/settings/webSettings.js
Labels: p: tizen

#1894 Fix webOS 1.2
  src/components/viewContainer.js
  webpack.dev.js
  webpack.prod.js
Labels: p: webos

#1825 Redesign OSD and Up Next dialog
  src/assets/css/videoosd.css
  src/components/mediainfo/mediainfo.js
  src/components/upnextdialog/upnextdialog.css
  src/components/upnextdialog/upnextdialog.js
  src/controllers/playback/video/index.html
  src/controllers/playback/video/index.js
Labels: ui & ux

#1934 Remove missing ep checkbox in library options
  src/components/libraryoptionseditor/libraryoptionseditor.js
  src/components/libraryoptionseditor/libraryoptionseditor.template.html
  src/strings/ar.json
  src/strings/bg-bg.json
  src/strings/cs.json
  src/strings/da.json
  src/strings/de.json
  src/strings/el.json
  src/strings/en-gb.json
  src/strings/en-us.json
  src/strings/es-ar.json
  src/strings/es-mx.json
  src/strings/es.json
  src/strings/es_419.json
  src/strings/fa.json
  src/strings/fr.json
  src/strings/hu.json
  src/strings/it.json
  src/strings/ja.json
  src/strings/kk.json
  src/strings/ko.json
  src/strings/lt-lt.json
  src/strings/nb.json
  src/strings/nl.json
  src/strings/pl.json
  src/strings/pt-br.json
  src/strings/pt-pt.json
  src/strings/pt.json
  src/strings/ro.json
  src/strings/ru.json
  src/strings/sk.json
  src/strings/sl-si.json
  src/strings/sv.json
  src/strings/ta.json
  src/strings/vi.json
  src/strings/zh-cn.json
  src/strings/zh-tw.json
Labels: backend

#1552 Add basic support for bulk deleting all devices
  src/controllers/dashboard/devices/devices.html
  src/controllers/dashboard/devices/devices.js
  src/strings/en-us.json
Labels: ui & ux
