Repository jellyfin/jellyfin-web, pull requests merged in 2020-04, with the labels that each got.

#1000 Support H264 Level 52 (Tizen 5.0)
  src/scripts/browserdeviceprofile.js
Labels: stable backport

#1020 Fix attachment delivery urls
  src/components/htmlvideoplayer/plugin.js
Labels: stable backport

#1028 Fixed alignment of subsections on item details page
  src/itemdetails.html
Labels: stable backport

#1018 Backport changes to Octopus
  webpack.common.js
  yarn.lock
Labels: stable backport

#1040 Fix native hls resume
  src/components/htmlMediaHelper.js
Labels: stable backport

#1049 Fix newline breaks in SRT subtitles shown in Firefox
  src/components/htmlvideoplayer/plugin.js
Labels: stable backport

#1048 Use patched octopus that works on Cordova
  package.json
  yarn.lock
Labels: stable backport

#1047 Fix inconsistent value in drop down list on library page
  src/controllers/librarydisplay.js
Labels: stable backport

#963 Don't scale logo on details page
  src/assets/css/librarybrowser.css
Labels: stable backport

#1068 Pass title and filename to native shell
  src/components/filedownloader.js
  src/components/itemcontextmenu.js
Labels: stable backport

#1070 Set subtitle-sync for SubtitlesOctopus
  src/components/htmlvideoplayer/plugin.js
Labels: stable backport

#1072 Move "hide watched media" checkbox
  src/components/homescreensettings/homescreensettings.template.html
Labels: stable backport

#1095 Fix .ass subtitles not starting on mobile
  src/components/htmlMediaHelper.js
  src/components/htmlvideoplayer/plugin.js
Labels: stable backport

#1093 Fix some mobile navigation issues
  src/assets/css/librarybrowser.css
  src/index.html
  src/scripts/librarymenu.js
Labels: stable backport

#872 Update ISO playback warning
  src/components/playback/experimentalwarnings.js
  src/strings/en-us.json
Labels: merge conflict

#1105 Restore user menu on mobile
  src/scripts/librarymenu.js
Labels: stable backport

#1104 Fix reference to undefined variable
  src/scripts/browser.js
Labels: stable backport

#1100 Add scheduled playback progress report
  src/components/playback/playbackmanager.js
  src/libraries/apiclient/apiclientcore.js
Labels: stable backport

#1108 Add Android icon for Android TV in devices page
  src/scripts/imagehelper.js
Labels: stable backport

#1109 Change Chromecast player name to Google Cast
  src/components/chromecast/chromecastplayer.js
Labels: stable backport

#1022 Fix mobile layout for itemdetails
  src/assets/css/librarybrowser.css
  src/controllers/itemdetailpage.js
Labels: stable backport

#1113 Add title and year to posters in TV genres view
  src/controllers/shows/tvgenres.js
Labels: stable backport

#1083 Handle 401 & 403 Server Responses Correctly
  src/components/appRouter.js
  src/controllers/auth/login.js
  src/strings/en-us.json
Labels: backend

#1121 Update more route locations
  src/components/polyfills/objectassign.js
  src/controllers/dashboard/apikeys.js
  src/controllers/dashboard/devices/device.js
  src/controllers/dashboard/devices/devices.js
  src/controllers/dashboard/dlna/dlnaprofile.js
  src/controllers/dashboard/dlna/dlnaprofiles.js
  src/controllers/dashboard/dlna/dlnasettings.js
  src/controllers/dashboard/encodingsettings.js
  src/controllers/dashboard/librarydisplay.js
  src/controllers/dashboard/medialibrarypage.js
  src/controllers/dashboard/metadataimagespage.js
  src/controllers/dashboard/metadatanfo.js
  src/controllers/dashboard/playbackconfiguration.js
  src/controllers/dashboard/serveractivity.js
  src/controllers/dashboard/streamingsettings.js
  src/legacy/focusPreventScroll.js
  src/libraries/navdrawer/navdrawer.css
  src/libraries/navdrawer/navdrawer.js
  src/libraries/screensavermanager.js
  src/libraries/scroller.js
  src/libraries/visibleinviewport.js
  src/scripts/alphanumericshortcuts.js
  src/scripts/dom.js
  src/scripts/filesystem.js
  src/scripts/gamepadtokey.js
  src/scripts/keyboardnavigation.js
  src/scripts/mouseManager.js
  src/scripts/routes.js
  src/scripts/site.js
Labels: es6

#1127 Fix pointer missing in "create new lib" link
  src/components/homesections/homesections.js
  src/elements/emby-button/emby-button.css
Labels: ui & ux

#1130 Fix keyboard navigation on remotecontrol page
  src/nowplaying.html
Labels: p: ps4, p: tizen, p: uwp, p: webos

#1134 Use posters for latest TV shows
  src/components/homesections/homesections.js
Labels: ui & ux

#1129 Convert ESLint config to JavaScript, lint all files and re-add autoprefixer
  .editorconfig
  .eslintignore
  .eslintrc.js
  .eslintrc.yml
  .gitattributes
  gulpfile.js
  package.json
  postcss.config.js
  webpack.dev.js
  webpack.prod.js
  yarn.lock
Labels: build & ci

#1126 Check appSettings for undefined
  src/scripts/settings/appSettings.js
  src/scripts/settings/userSettings.js
Labels: bug

#1125 Fix event subscription on remotecontrol page
  src/components/remotecontrol/remotecontrol.js
  src/strings/en-us.json
  src/strings/ru.json
Labels: bug

#978 Improve and split builds
  .copr/Makefile
  .github/CODEOWNERS
  .gitignore
  build.sh
  build.yaml
  bump_version
  debian/changelog
  debian/compat
  debian/control
  debian/copyright
  debian/gbp.conf
  debian/install
  debian/po/POTFILES.in
  debian/po/templates.pot
  debian/rules
  debian/source/format
  debian/source/options
  deployment/Dockerfile.centos.all
  deployment/Dockerfile.debian.all
  deployment/Dockerfile.fedora.all
  deployment/Dockerfile.portable
  deployment/build.centos.all
  deployment/build.debian.all
  deployment/build.fedora.all
  deployment/build.portable
  fedora/Makefile
  fedora/jellyfin-web.spec
  src/components/apphost.js
Labels: build & ci

#1004 Don't use Globalize globally
  src/components/accessschedule/accessschedule.js
  src/components/apphost.js
  src/components/directorybrowser/directorybrowser.js
  src/components/homesections/homesections.js
  src/components/itemcontextmenu.js
  src/components/medialibrarycreator/medialibrarycreator.js
  src/components/medialibraryeditor/medialibraryeditor.js
  src/components/multiselect/multiselect.js
  src/components/subtitleeditor/subtitleeditor.js
  src/components/tvproviders/schedulesdirect.js
  src/components/tvproviders/xmltv.js
  src/controllers/auth/addserver.js
  src/controllers/auth/forgotpassword.js
  src/controllers/auth/forgotpasswordpin.js
  src/controllers/auth/login.js
  src/controllers/dashboard/dlna/dlnaprofile.js
  src/controllers/dashboard/dlna/dlnasettings.js
  src/controllers/dashboard/encodingsettings.js
  src/controllers/dashboard/general.js
  src/controllers/dashboard/librarydisplay.js
  src/controllers/dashboard/metadataimagespage.js
  src/controllers/dashboard/metadatanfo.js
  src/controllers/dashboard/playbackconfiguration.js
  src/controllers/dashboard/streamingsettings.js
  src/controllers/livetvguideprovider.js
  src/controllers/livetvsettings.js
  src/controllers/movies/moviecollections.js
  src/controllers/movies/movies.js
  src/controllers/movies/moviesrecommended.js
  src/controllers/movies/movietrailers.js
  src/controllers/music/musicalbums.js
  src/controllers/music/musicrecommended.js
  src/controllers/music/songs.js
  src/controllers/shows/episodes.js
  src/controllers/shows/tvrecommended.js
  src/controllers/shows/tvshows.js
  src/controllers/shows/tvupcoming.js
  src/controllers/user/profile.js
  src/controllers/useredit.js
  src/controllers/userlibraryaccess.js
  src/controllers/usernew.js
  src/controllers/userparentalcontrol.js
  src/controllers/userpasswordpage.js
  src/controllers/wizard/user.js
  src/scripts/editorsidebar.js
  src/scripts/itembynamedetailpage.js
  src/scripts/librarybrowser.js
  src/scripts/taskbutton.js
Labels: i18n

#1156 Change EOL of dfnshelper from CRLF to LF
  src/scripts/dfnshelper.js
Labels: build & ci

#1146 Fix some issues blocking WebOS 1.2 / 2.0
  package.json
  src/components/apphost.js
  src/components/maintabsmanager.js
  src/components/notifications/notifications.js
  src/scripts/browser.js
  src/scripts/browserdeviceprofile.js
  src/scripts/settings/webSettings.js
  src/scripts/site.js
  webpack.dev.js
  webpack.prod.js
Labels: p: webos
