Repository jellyfin/jellyfin-web, pull requests merged in 2020-06, with the labels that each got.

#1232 Fix more sonarqube bugs
  src/components/accessSchedule/accessSchedule.js
  src/components/actionSheet/actionSheet.js
  src/components/activitylog.js
  src/components/appRouter.js
  src/components/apphost.js
  src/components/htmlVideoPlayer/plugin.js
  src/components/libraryoptionseditor/libraryoptionseditor.js
  src/components/skinManager.js
  src/controllers/dashboard/metadataImages.js
  src/controllers/dashboard/notifications/notification.js
  src/controllers/playback/videoosd.js
  src/dlnaprofiles.html
  src/elements/emby-slider/emby-slider.js
  src/scripts/browser.js
  src/scripts/browserDeviceProfile.js
  src/scripts/editorsidebar.js
  src/scripts/libraryMenu.js
  src/scripts/playlists.js
  src/scripts/site.js
Labels: build & ci

#1309 Transfer whole playlist when transferring playback
  package.json
  src/components/playback/remotecontrolautoplay.js
Labels: playback

#1284 Migrate components/playback functions to ES6 modules
  package.json
  src/components/playback/brightnessosd.js
  src/components/playback/nowplayinghelper.js
  src/components/playback/playbackorientation.js
  src/components/playback/playerSelectionMenu.js
  src/components/playback/playersettingsmenu.js
  src/components/playback/playmethodhelper.js
  src/components/playback/volumeosd.js
Labels: es6

#1286 Implement blurhash (follow-up of #987 but from scratch)
  package.json
  src/bundle.js
  src/components/cardbuilder/cardBuilder.js
  src/components/displaySettings/displaySettings.js
  src/components/displaySettings/displaySettings.template.html
  src/components/images/imageLoader.js
  src/components/images/style.css
  src/components/listview/listview.js
  src/controllers/itemDetails.js
  src/scripts/settings/userSettings.js
  src/strings/en-us.json
  src/strings/es.json
  yarn.lock
Labels: feature, ui & ux

#1352 Migrate chaptercardbuilder and peoplecardbuilder to es6 modules
  package.json
  src/components/cardbuilder/chaptercardbuilder.js
  src/components/cardbuilder/peoplecardbuilder.js
Labels: es6

#1353 Migration accessSchedule to ES6 modules
  package.json
  src/components/accessSchedule/accessSchedule.js
Labels: es6

#1089 Migrating backdropscreensaver, filterdialog and fetchhelper to ES6
  .eslintrc.js
  package.json
  src/components/fetchhelper.js
  src/components/filterdialog/filterdialog.js
  src/controllers/livetv/livetvchannels.js
  src/controllers/movies/movies.js
  src/controllers/movies/movietrailers.js
  src/controllers/music/musicalbums.js
  src/controllers/music/musicartists.js
  src/controllers/music/songs.js
  src/controllers/shows/episodes.js
  src/controllers/shows/tvshows.js
  src/plugins/backdropScreensaver/plugin.js
Labels: es6

#1354 Fix baseUrl for web config file
  src/scripts/settings/webSettings.js
Labels: bug

#1046 Add more separate hardware decoding toggles
  src/controllers/dashboard/dashboard.js
  src/controllers/dashboard/encodingsettings.js
  src/encodingsettings.html
  src/strings/en-us.json
  src/strings/zh-cn.json
Labels: backend

#1204 Fix slideshow (Safari, WebOS 2)
  src/components/slideshow/slideshow.js
  src/components/slideshow/style.css
Labels: ui & ux

#1427 Remove leftover from #1046
  src/controllers/dashboard/dashboard.js
Labels: regression

#1171 Enable a simple color placeholder for loading cards
  src/components/cardbuilder/card.css
  src/components/cardbuilder/cardBuilder.js
  src/components/images/style.css
  src/components/remotecontrol/remotecontrol.js
  src/themes/appletv/theme.css
  src/themes/blueradiance/theme.css
  src/themes/light/theme.css
  src/themes/purplehaze/theme.css
  src/themes/wmc/theme.css
Labels: ui & ux

#1432 Don't start time sync if not in SyncPlay mode
  src/components/syncPlay/timeSyncManager.js
Labels: confirmed

#1358 Migration shortcuts to ES6 modules
  package.json
  src/components/shortcuts.js
Labels: es6

#1384 Migration channelMapper to ES6 modules
  package.json
  src/components/channelMapper/channelMapper.js
  src/controllers/livetvstatus.js
Labels: es6

#1370 Migration listview to ES6 modules
  package.json
  src/components/listview/listview.js
Labels: es6

#1485 Add missing tooltip for TV layout
  src/scripts/libraryMenu.js
  src/strings/en-us.json
  src/strings/es.json
Labels: accessibility

#1424 Migration dialog and dialogHelper to ES6 modules
  package.json
  src/components/alert.js
  src/components/confirm/confirm.js
  src/components/dialog/dialog.js
  src/components/dialogHelper/dialogHelper.js
Labels: es6

#1404 Migration collectionEditor and playlisteditor to ES6 modules
  package.json
  src/components/collectionEditor/collectionEditor.js
  src/components/itemContextMenu.js
  src/components/multiSelect/multiSelect.js
  src/components/playlisteditor/playlisteditor.js
  src/components/remotecontrol/remotecontrol.js
  src/controllers/list.js
  src/controllers/movies/moviecollections.js
  src/scripts/playlists.js
Labels: es6

#1365 Migration mediaLibraryEditor and mediaLibraryCreator to ES6 modules
  package.json
  src/components/mediaLibraryCreator/mediaLibraryCreator.js
  src/components/mediaLibraryEditor/mediaLibraryEditor.js
  src/controllers/dashboard/mediaLibrary.js
Labels: es6

#1420 Migrate htmlMediaHelper, groupedCards and themeLoader to es6 Modules
  .eslintrc.js
  package.json
  src/components/groupedcards.js
  src/components/htmlMediaHelper.js
  src/scripts/themeLoader.js
Labels: es6

#1174 Migrate subtitlesettings to es6
  package.json
  src/components/settingshelper.js
  src/components/subtitlesettings/subtitleappearancehelper.js
  src/components/subtitlesettings/subtitlesettings.js
  src/controllers/user/subtitles.js
  src/scripts/site.js
Labels: es6

#1206 Fix some issues with details page and small redesign
  src/assets/css/librarybrowser.css
  src/components/actionSheet/actionSheet.js
  src/components/cardbuilder/cardBuilder.js
  src/components/groupedcards.js
  src/components/images/imageLoader.js
  src/components/itemHelper.js
  src/components/listview/listview.js
  src/components/mediainfo/mediainfo.css
  src/components/remotecontrol/remotecontrol.js
  src/controllers/itemDetails/index.html
  src/controllers/itemDetails/index.js
  src/elements/emby-scrollbuttons/emby-scrollbuttons.css
  src/scripts/dom.js
  src/scripts/itembynamedetailpage.js
  src/scripts/routes.js
  src/scripts/site.js
  src/strings/en-us.json
  src/themes/appletv/theme.css
  src/themes/blueradiance/theme.css
  src/themes/dark/theme.css
  src/themes/light/theme.css
  src/themes/purplehaze/theme.css
  src/themes/wmc/theme.css
Labels: ui & ux

#1475 remove sessionId parameter from api calls
  package.json
  src/components/syncPlay/groupSelectionMenu.js
  src/components/syncPlay/syncPlayManager.js
  yarn.lock
Labels: backend
