Repository jellyfin/jellyfin-web, pull requests merged in 2020-05, with the labels that each got.

#1142 fix playlist translation for en language
  src/strings/en-gb.json
  src/strings/en-us.json
  src/strings/ru.json
Labels: i18n

#1162 Remove the small logo in OSD and details page
  src/controllers/itemdetailpage.js
  src/controllers/playback/videoosd.js
Labels: ui & ux

#1150 Remove limit of 50 for tag filter
  src/components/filterdialog/filterdialog.js
Labels: ui & ux

#1165 Add dependabot config
  .dependabot/config.yml
Labels: dependencies

#1167 Added AV1 Codec Profile to Avoid Transcode
  src/scripts/browserdeviceprofile.js
Labels: playback

#1168 fixed aspect ratio display issue of photo
  src/components/slideshow/style.css
Labels: ui & ux

#1065 Add unloading capability to the image loader
  package.json
  src/components/images/imageLoader.js
  src/components/images/style.css
  src/components/lazyloader/lazyedgehack.css
  src/components/lazyloader/lazyloader-intersectionobserver.js
  src/components/lazyloader/lazyloader-scroll.js
  src/controllers/itemdetailpage.js
  src/controllers/movies/moviegenres.js
  src/controllers/shows/tvgenres.js
  src/libraries/visibleinviewport.js
  src/scripts/settings/userSettings.js
  src/scripts/site.js
Labels: es6

#1088 Update and cleanup MediaSessions
  package.json
  src/components/playback/mediasession.js
  src/scripts/site.js
Labels: es6

#1007 Remove API Client from the tree
  .eslintrc.js
  package.json
  src/bundle.js
  src/components/htmlMediaHelper.js
  src/libraries/apiclient/apiclient.js
  src/libraries/apiclient/appStorage.js
  src/libraries/apiclient/connectionmanager.js
  src/libraries/apiclient/credentialprovider.js
  src/libraries/apiclient/events.js
  src/libraries/apiclient/localassetmanager.js
  src/libraries/apiclient/package.json
  src/libraries/apiclient/sync/filerepository.js
  src/libraries/apiclient/sync/itemrepository.js
  src/libraries/apiclient/sync/localsync.js
  src/libraries/apiclient/sync/mediasync.js
  src/libraries/apiclient/sync/multiserversync.js
  src/libraries/apiclient/sync/serversync.js
  src/libraries/apiclient/sync/transfermanager.js
  src/libraries/apiclient/sync/useractionrepository.js
  src/scripts/librarymenu.js
  src/scripts/site.js
  webpack.dev.js
  yarn.lock
Labels: es6

#1144 Fix .ASS offset when seeking a progressive stream
  package.json
  src/components/htmlvideoplayer/plugin.js
  yarn.lock
Labels: playback, stable backport

#1114 Fix SubtitleSync-TextField behavior
  src/components/subtitlesync/subtitlesync.js
Labels: ui & ux

#1205 Fix slider thumb on WebOS 2
  src/elements/emby-slider/emby-slider.css
  src/elements/emby-slider/emby-slider.js
  src/scripts/browser.js
Labels: ui & ux

#1198 Switch player backdrops to poster attribute of the video element
  src/components/htmlvideoplayer/plugin.js
  src/components/htmlvideoplayer/style.css
Labels: ui & ux

#1211 Fix #1210: Add credentials to XHR requests
  src/components/htmlaudioplayer/plugin.js
  src/components/htmlvideoplayer/plugin.js
Labels: playback

#1231 Fix Progressive Stream 'P' capitalization
  src/components/mediainfo/mediainfo.js
Labels: blocked

#1173 Migrate deleteHelper, actionSheet, indicators and playMenu to ES6
  .gitignore
  package.json
  src/components/actionsheet/actionsheet.js
  src/components/deletehelper.js
  src/components/indicators/indicators.js
  src/components/playmenu.js
Labels: es6

#1155 Vertical menu
  src/components/apphost.js
  src/components/cardbuilder/cardBuilder.js
  src/components/guide/tvguide.template.html
  src/components/listview/listview.js
  src/components/metadataeditor/metadataeditor.template.html
  src/components/multiselect/multiselect.js
  src/controllers/dashboard/devices/devices.js
  src/controllers/dashboard/medialibrarypage.js
  src/controllers/dashboard/plugins/installed.js
  src/controllers/livetvstatus.js
  src/controllers/userprofilespage.js
  src/itemdetails.html
  src/list.html
Labels: discussion needed, ui & ux

#1242 Implement select menu for chromecast version
  src/components/chromecast/chromecastplayer.js
  src/components/playbacksettings/playbacksettings.js
  src/components/playbacksettings/playbacksettings.template.html
  src/scripts/settings/userSettings.js
  src/strings/en-us.json
Labels: playback, ui & ux

#1140 Clean up network settings page
  src/controllers/dashboard/networking.js
  src/networking.html
  src/strings/en-us.json
Labels: ui & ux

#1246 Clean up the translation files
  scripts/scdup.py
  scripts/scgen.py
  src/controllers/dashboard/dlna/profile.js
  src/controllers/dashboard/dlna/profiles.js
  src/controllers/dashboard/dlna/settings.js
  src/controllers/dashboard/mediaLibrary.js
  src/controllers/dashboard/metadataImages.js
  src/controllers/dashboard/playback.js
  src/controllers/dashboard/streaming.js
  src/controllers/dashboard/users/useredit.js
  src/controllers/dashboard/users/userlibraryaccess.js
  src/controllers/dashboard/users/usernew.js
  src/controllers/dashboard/users/userparentalcontrol.js
  src/controllers/dashboard/users/userpasswordpage.js
  src/controllers/dashboard/users/userprofilespage.js
  src/controllers/itemDetails.js
  src/controllers/user/profile.js
  src/scripts/routes.js
  src/strings/cs.json
  src/strings/da.json
  src/strings/de.json
  src/strings/es-ar.json
  src/strings/es-mx.json
  src/strings/es.json
  src/strings/fi.json
  src/strings/gsw.json
  src/strings/hu.json
  src/strings/is-is.json
  src/strings/kk.json
  src/strings/nl.json
  src/strings/sl-si.json
  src/strings/zh-cn.json
  src/strings/zh-tw.json
Labels: i18n

#1141 Register plugins with promises
  src/components/pluginManager.js
Labels: es6

#1229 Keep scrollbar always present to avoid UI clipping
  src/assets/css/site.css
  src/components/htmlVideoPlayer/plugin.js
  src/components/skinManager.js
  src/components/slideshow/slideshow.js
Labels: ui & ux

#1222 Make dialogs more bearable
  src/components/cardbuilder/card.css
  src/components/channelMapper/channelMapper.js
  src/components/dialogHelper/dialoghelper.css
  src/components/directorybrowser/directorybrowser.js
  src/components/formdialog.css
  src/components/imageDownloader/imageDownloader.js
  src/components/imageDownloader/imageDownloader.template.html
  src/components/imageOptionsEditor/imageOptionsEditor.js
  src/components/imageUploader/imageUploader.js
  src/components/imageUploader/imageUploader.template.html
  src/components/imageeditor/imageeditor.js
  src/components/imageeditor/imageeditor.template.html
  src/components/itemidentifier/itemidentifier.js
  src/components/mediaLibraryCreator/mediaLibraryCreator.js
  src/components/mediaLibraryEditor/mediaLibraryEditor.js
  src/components/metadataEditor/metadataEditor.js
  src/components/metadataEditor/metadataEditor.template.html
  src/components/metadataEditor/personEditor.js
  src/dlnaprofile.html
  src/elements/emby-input/emby-input.css
  src/scheduledtask.html
  src/strings/en-us.json
Labels: ui & ux

#1011 Add syncplay feature
  CONTRIBUTORS.md
  gulpfile.js
  package.json
  src/assets/audio/silence.mp3
  src/assets/css/videoosd.css
  src/components/htmlAudioPlayer/plugin.js
  src/components/htmlVideoPlayer/plugin.js
  src/components/playback/playbackmanager.js
  src/components/playerstats/playerstats.js
  src/components/syncplay/groupSelectionMenu.js
  src/components/syncplay/playbackPermissionManager.js
  src/components/syncplay/syncPlayManager.js
  src/components/syncplay/timeSyncManager.js
  src/controllers/dashboard/users/useredit.js
  src/scripts/libraryMenu.js
  src/scripts/serverNotifications.js
  src/scripts/site.js
  src/strings/en-us.json
  src/useredit.html
  webpack.dev.js
  webpack.prod.js
Labels: backend, blocked, feature

#1263 Implement minimalistic EPUB reader
  package.json
  src/bundle.js
  src/components/bookPlayer/plugin.js
  src/components/bookPlayer/style.css
  src/components/bookPlayer/tableOfContent.js
  src/components/playback/playbackmanager.js
  src/components/pluginManager.js
  src/scripts/site.js
  yarn.lock
Labels: playback

#1269 Convert photo player to class
  package.json
  src/components/photoPlayer/plugin.js
Labels: es6
