Repository jellyfin/jellyfin-web, pull requests merged in 2020-07, with the labels that each got.

#1430 Player hotfixes and improvements
  src/assets/css/flexstyles.css
  src/components/cardbuilder/card.css
  src/components/cardbuilder/cardBuilder.js
  src/components/itemContextMenu.js
  src/components/listview/listview.js
  src/components/nowPlayingBar/nowPlayingBar.css
  src/components/nowPlayingBar/nowPlayingBar.js
  src/components/playback/playbackmanager.js
  src/components/playback/playqueuemanager.js
  src/components/remotecontrol/remotecontrol.css
  src/components/remotecontrol/remotecontrol.js
  src/nowplaying.html
  src/plugins/chromecastPlayer/plugin.js
  src/plugins/sessionPlayer/plugin.js
  src/scripts/serverNotifications.js
  src/scripts/site.js
  src/strings/en-us.json
  src/strings/es.json
  src/themes/appletv/theme.css
  src/themes/blueradiance/theme.css
  src/themes/dark/theme.css
  src/themes/light/theme.css
  src/themes/purplehaze/theme.css
  src/themes/wmc/theme.css
Labels: bug, enhancement, playback, ui & ux

#1356 Migration alphaPicker to ES6 modules
  package.json
  src/components/alphaPicker/alphaPicker.js
  src/components/search/searchfields.js
  src/components/tabbedview/itemstab.js
  src/controllers/list.js
  src/controllers/movies/movies.js
  src/controllers/movies/movietrailers.js
  src/controllers/music/musicalbums.js
  src/controllers/music/musicartists.js
  src/controllers/shows/tvshows.js
Labels: es6

#1361 Migration imageUploader, itemidentifier and itemMediaInfo to ES6 modules
  package.json
  src/components/imageUploader/imageUploader.js
  src/components/itemMediaInfo/itemMediaInfo.js
  src/components/itemidentifier/itemidentifier.js
Labels: es6

#1443 Migration directorybrowser to ES6 modules
  package.json
  src/components/directorybrowser/directorybrowser.js
  src/components/tvproviders/xmltv.js
  src/controllers/dashboard/encodingsettings.js
  src/controllers/dashboard/general.js
  src/controllers/dashboard/networking.js
  src/controllers/livetvsettings.js
  src/controllers/livetvtuner.js
Labels: es6, merge conflict

#1541 Migration of display, home, playback and subtitles to ES6 modules and small fixes
  package.json
  src/controllers/user/display.js
  src/controllers/user/home.js
  src/controllers/user/playback.js
  src/controllers/user/subtitles.js
Labels: es6

#1535 Migration emby-checkbox, emby-textarea and emby-toggle to ES6 modules
  package.json
  src/elements/emby-checkbox/emby-checkbox.js
  src/elements/emby-textarea/emby-textarea.js
  src/elements/emby-toggle/emby-toggle.js
Labels: es6

#1537 Migration of emby-progressbar, emby-progressring, emby-itemrefreshindicator emby-slider to ES6 modules
  package.json
  src/elements/emby-itemrefreshindicator/emby-itemrefreshindicator.js
  src/elements/emby-progressbar/emby-progressbar.js
  src/elements/emby-progressring/emby-progressring.js
  src/elements/emby-slider/emby-slider.js
Labels: es6

#1538 Migration of emby-radio, emby-scroller and emby-tabs to ES6 modules
  package.json
  src/elements/emby-radio/emby-radio.js
  src/elements/emby-scroller/emby-scroller.js
  src/elements/emby-tabs/emby-tabs.js
Labels: es6

#1545 Migration of apikeys, dashboard and encodingsettings to ES6 modules
  package.json
  src/controllers/dashboard/apikeys.js
  src/controllers/dashboard/dashboard.js
  src/controllers/dashboard/encodingsettings.js
Labels: es6

#1422 Migration backdrop to ES6 modules
  package.json
  src/components/appRouter.js
  src/components/backdrop/backdrop.js
  src/components/remotecontrol/remotecontrol.js
  src/components/skinManager.js
  src/components/tabbedview/tabbedview.js
  src/controllers/itemDetails.js
  src/scripts/autoBackdrops.js
Labels: es6

#1512 Migration itemContextMenu and maintabmanager to ES6 modules
  package.json
  src/components/itemContextMenu.js
  src/components/maintabsmanager.js
Labels: es6

#1536 Migration of emby-ratingbutton, emby-scrollbuttons and emby-select to ES6 modules
  package.json
  src/elements/emby-ratingbutton/emby-ratingbutton.js
  src/elements/emby-scrollbuttons/emby-scrollbuttons.js
  src/elements/emby-select/emby-select.js
Labels: es6

#1457 Migration displaySettings, homeScreenSettings & playbackSettings to ES6 modules
  package.json
  src/components/displaySettings/displaySettings.js
  src/components/homeScreenSettings/homeScreenSettings.js
  src/components/playbackSettings/playbackSettings.js
  src/controllers/user/display.js
  src/controllers/user/home.js
  src/controllers/user/playback.js
Labels: es6

#1539 Migration of networking, playback, serveractivity, mediaLibrary to ES6 Modules
  package.json
  src/controllers/dashboard/mediaLibrary.js
  src/controllers/dashboard/networking.js
  src/controllers/dashboard/playback.js
  src/controllers/dashboard/serveractivity.js
Labels: es6

#1440 Migration confirm, prompt and multiSelect to ES6 modules
  package.json
  src/components/confirm/confirm.js
  src/components/imageeditor/imageeditor.js
  src/components/metadataEditor/metadataEditor.js
  src/components/multiSelect/multiSelect.js
  src/components/prompt/prompt.js
  src/components/recordingcreator/recordinghelper.js
  src/components/subtitleeditor/subtitleeditor.js
  src/controllers/dashboard/devices/devices.js
  src/controllers/dashboard/dlna/profiles.js
  src/controllers/dashboard/mediaLibrary.js
  src/controllers/dashboard/plugins/add.js
  src/controllers/dashboard/plugins/installed.js
  src/controllers/dashboard/scheduledtasks/scheduledtask.js
  src/controllers/dashboard/users/userparentalcontrol.js
  src/controllers/dashboard/users/userpasswordpage.js
  src/controllers/dashboard/users/userprofilespage.js
  src/controllers/itemDetails.js
  src/controllers/livetvstatus.js
  src/controllers/user/profile.js
  src/elements/emby-itemscontainer/emby-itemscontainer.js
Labels: es6, merge conflict

#1548 Migration of device and devices to ES6 modules
  package.json
  src/controllers/dashboard/devices/device.js
  src/controllers/dashboard/devices/devices.js
Labels: es6

#1550 Migration of proflie, profiles and settings (DLNA) to ES6 Modules
  package.json
  src/controllers/dashboard/dlna/profile.js
  src/controllers/dashboard/dlna/profiles.js
  src/controllers/dashboard/dlna/settings.js
Labels: es6

#1547 Migration of emby-itemscontainer, emby-programcell and emby-playstatebutton to ES6 modules
  package.json
  src/elements/emby-itemscontainer/emby-itemscontainer.js
  src/elements/emby-playstatebutton/emby-playstatebutton.js
  src/elements/emby-programcell/emby-programcell.js
Labels: es6

#1564 Migration of homesections and appfooter to ES6 modules
  package.json
  src/components/appFooter/appFooter.js
  src/components/homesections/homesections.js
Labels: es6, question

#1596 Remove require and fix networking on es6
  src/controllers/dashboard/networking.js
Labels: es6

#1592 Migration of scheduledtask and scheduledtasks to ES6 modules
  package.json
  src/controllers/dashboard/scheduledtasks/scheduledtask.js
  src/controllers/dashboard/scheduledtasks/scheduledtasks.js
Labels: es6

#1597 Migration of nowplayingbar to ES6 module
  package.json
  src/components/nowPlayingBar/nowPlayingBar.js
Labels: es6

#1572 Migration of dashboard/ to ES6 modules
  package.json
  src/controllers/dashboard/general.js
  src/controllers/dashboard/librarydisplay.js
  src/controllers/dashboard/metadataImages.js
  src/controllers/dashboard/metadatanfo.js
  src/controllers/dashboard/streaming.js
Labels: es6

#1569 Migration of Auth to ES6 modules
  package.json
  src/controllers/auth/addserver.js
  src/controllers/auth/forgotpassword.js
  src/controllers/auth/forgotpasswordpin.js
  src/controllers/auth/login.js
  src/controllers/auth/selectserver.js
Labels: es6

#1581 Migration of searchfields, searchresults and searchpage to ES6 modules
  package.json
  src/components/search/searchfields.js
  src/components/search/searchresults.js
  src/controllers/searchpage.js
Labels: es6

#1582 Migration of emby-button, paper-icon-button-light, emby-collapse, emby-input to ES6 modules
  package.json
  src/elements/emby-button/emby-button.js
  src/elements/emby-button/paper-icon-button-light.js
  src/elements/emby-collapse/emby-collapse.js
  src/elements/emby-input/emby-input.js
Labels: es6

#1570 Migration of datetime, alert and activitylog to ES6 modules
  package.json
  src/components/activitylog.js
  src/components/alert.js
  src/components/appRouter.js
  src/components/multiSelect/multiSelect.js
  src/components/playback/playbackmanager.js
  src/controllers/dashboard/serveractivity.js
  src/controllers/itemDetails.js
  src/plugins/chromecastPlayer/plugin.js
  src/scripts/datetime.js
  src/scripts/serverNotifications.js
  src/scripts/site.js
Labels: es6

#1566 Migration of TV to ES6 modules
  package.json
  src/controllers/shows/episodes.js
  src/controllers/shows/tvgenres.js
  src/controllers/shows/tvlatest.js
  src/controllers/shows/tvrecommended.js
  src/controllers/shows/tvshows.js
  src/controllers/shows/tvstudios.js
  src/controllers/shows/tvupcoming.js
Labels: es6

#1620 Restore More button in metadata editor
  src/components/metadataEditor/metadataEditor.js
  src/components/metadataEditor/metadataEditor.template.html
Labels: stable backport

#1585 Migration of wizard/ to ES6 modules
  package.json
  src/controllers/wizard/finish.js
  src/controllers/wizard/remoteaccess.js
  src/controllers/wizard/settings.js
  src/controllers/wizard/start.js
  src/controllers/wizard/user.js
Labels: es6

#1586 Migration of metadataeditor and personeditor to ES6 modules
  package.json
  src/components/metadataEditor/metadataEditor.js
  src/components/metadataEditor/personEditor.js
Labels: es6

#1587 Migration of playerstats to ES6 module
  package.json
  src/components/playerstats/playerstats.js
  src/controllers/playback/videoosd.js
Labels: es6

#1616 Removal of Require
  src/components/accessSchedule/accessSchedule.js
  src/components/actionSheet/actionSheet.js
  src/components/cardbuilder/cardBuilder.js
  src/components/directorybrowser/directorybrowser.js
  src/components/playback/playerSelectionMenu.js
  src/components/search/searchfields.js
  src/components/search/searchresults.js
  src/components/subtitlesettings/subtitlesettings.js
  src/controllers/dashboard/scheduledtasks/scheduledtask.js
  src/elements/emby-progressring/emby-progressring.js
  src/elements/emby-scroller/emby-scroller.js
  src/plugins/bookPlayer/plugin.js
  src/scripts/deleteHelper.js
  src/scripts/keyboardNavigation.js
Labels: es6

#1624 Update apiclient to 1.4.1
  package.json
  yarn.lock
Labels: stable backport

#1627 Fix required track count for subtitle selector to appear
  src/controllers/itemDetails/index.js
Labels: stable backport

#1591 Migration of user/menu and user/profile to ES6 modules
  package.json
  src/controllers/user/menu.js
  src/controllers/user/profile.js
Labels: es6

#1583 Migration of touchhelper and taskbuttons to ES6 modules
  package.json
  src/controllers/dashboard/mediaLibrary.js
  src/controllers/livetvstatus.js
  src/controllers/playback/videoosd.js
  src/scripts/settings/appSettings.js
  src/scripts/settings/userSettings.js
  src/scripts/taskbutton.js
  src/scripts/touchHelper.js
Labels: es6

#1588 Migration of globalize, editorsidebar and playlists to ES6 modules
  package.json
  src/components/accessSchedule/accessSchedule.js
  src/components/appRouter.js
  src/components/filterdialog/filterdialog.js
  src/components/filtermenu/filtermenu.js
  src/components/guide/guide-settings.js
  src/components/guide/guide.js
  src/components/homeScreenSettings/homeScreenSettings.js
  src/components/imageDownloader/imageDownloader.js
  src/components/imageOptionsEditor/imageOptionsEditor.js
  src/components/imageUploader/imageUploader.js
  src/components/imageeditor/imageeditor.js
  src/components/itemMediaInfo/itemMediaInfo.js
  src/components/itemidentifier/itemidentifier.js
  src/components/libraryoptionseditor/libraryoptionseditor.js
  src/components/mediaLibraryCreator/mediaLibraryCreator.js
  src/components/mediaLibraryEditor/mediaLibraryEditor.js
  src/components/metadataEditor/metadataEditor.js
  src/components/metadataEditor/personEditor.js
  src/components/playbackSettings/playbackSettings.js
  src/components/recordingcreator/recordingcreator.js
  src/components/recordingcreator/recordingeditor.js
  src/components/recordingcreator/recordingfields.js
  src/components/recordingcreator/seriesrecordingeditor.js
  src/components/search/searchfields.js
  src/components/search/searchresults.js
  src/components/sortmenu/sortmenu.js
  src/components/subtitleeditor/subtitleeditor.js
  src/components/subtitlesettings/subtitlesettings.js
  src/components/viewSettings/viewSettings.js
  src/controllers/livetvguideprovider.js
  src/scripts/editorsidebar.js
  src/scripts/globalize.js
  src/scripts/playlists.js
  src/scripts/site.js
Labels: es6

#1589 Migration of alphanumericshortcuts, autobackdrops and youtubeplayer plugin to ES6 modules
  package.json
  src/components/tabbedview/itemstab.js
  src/controllers/list.js
  src/plugins/youtubePlayer/plugin.js
  src/scripts/alphanumericshortcuts.js
  src/scripts/autoBackdrops.js
Labels: es6

#1584 Migration of nowplaying and videoosd to ES6 modules
  package.json
  src/controllers/playback/nowplaying.js
  src/controllers/playback/videoosd.js
Labels: es6

#1595 Fix issue with sync menu and excessive logging
  src/components/playback/playbackmanager.js
  src/components/syncPlay/groupSelectionMenu.js
  src/components/syncPlay/syncPlayManager.js
Labels: stable backport

#1403 Migration mediainfo to ES6 modules
  package.json
  src/components/mediainfo/mediainfo.js
Labels: es6

#1628 Use NodeList instead of HTMLCollection
  src/components/images/imageLoader.js
Labels: stable backport

#1625 Add version check for SyncPlay
  src/components/playerstats/playerstats.js
  src/controllers/dashboard/users/useredit.js
  src/scripts/libraryMenu.js
Labels: stable backport

#1632 Remove debug leftovers
  src/components/playback/playbackmanager.js
Labels: stable backport

#1363 Migration imageOptionsEditor and libraryoptionseditor to ES6 modules
  package.json
  src/components/imageOptionsEditor/imageOptionsEditor.js
  src/components/libraryoptionseditor/libraryoptionseditor.js
Labels: es6

#1546 Migration of user to ES6 Modules
  package.json
  src/controllers/dashboard/users/useredit.js
  src/controllers/dashboard/users/userlibraryaccess.js
  src/controllers/dashboard/users/usernew.js
  src/controllers/dashboard/users/userparentalcontrol.js
  src/controllers/dashboard/users/userpasswordpage.js
  src/controllers/dashboard/users/userprofilespage.js
Labels: es6

#1612 Add support for seeking with milliseconds
  src/components/playback/playbackmanager.js
  src/scripts/inputManager.js
Labels: stable backport

#1542 Fix OSD lock
  src/controllers/playback/videoosd.js
Labels: ui & ux

#1641 Fix event source for inputManager in case of multiple open dialogs
  src/scripts/inputManager.js
Labels: stable backport

#1662 Add h264 codec profile for TS container
  src/scripts/browserDeviceProfile.js
Labels: stable backport

#1660 Fix mkv directplay on Edge chromium
  src/assets/img/devices/edgechromium.svg
  src/components/apphost.js
  src/components/playback/playerSelectionMenu.js
  src/scripts/browser.js
  src/scripts/browserDeviceProfile.js
  src/scripts/imagehelper.js
  src/scripts/site.js
Labels: stable backport

#1661 Fix removing scheduled tasks
  src/controllers/dashboard/scheduledtasks/scheduledtask.js
Labels: stable backport

#1667 Get and tag with actual release version in CI
  .ci/azure-pipelines-package.yml
Labels: stable backport

#1665 Fix bump_version so it works properly
  bump_version
Labels: stable backport

#1656 Fix CircleOfDeath on plugin install
  src/controllers/dashboard/plugins/add/index.js
Labels: stable backport

#1672 Adjust target browsers
  package.json
Labels: stable backport

#1669 Flip quoting in variable set command
  .ci/azure-pipelines-package.yml
Labels: stable backport

#1663 Migration of libraryBrowser and multiDownload to ES6 modules
  package.json
  src/controllers/livetv/livetvchannels.js
  src/controllers/movies/moviecollections.js
  src/controllers/movies/moviegenres.js
  src/controllers/movies/movies.js
  src/controllers/movies/movietrailers.js
  src/controllers/music/musicalbums.js
  src/controllers/music/musicartists.js
  src/controllers/music/musicgenres.js
  src/controllers/music/musicplaylists.js
  src/controllers/music/songs.js
  src/scripts/libraryBrowser.js
  src/scripts/multiDownload.js
Labels: es6

#1655 Migration of imageEditor and imageDownloader to ES6 modules
  package.json
  src/components/imageDownloader/imageDownloader.js
  src/components/imageeditor/imageeditor.js
Labels: es6

#1684 Fix fullscreen video in iOS Safari
  src/components/playback/playbackmanager.js
  src/plugins/htmlVideoPlayer/plugin.js
Labels: stable backport

#1554 Migration of music to ES6 modules
  package.json
  src/controllers/music/musicalbums.js
  src/controllers/music/musicartists.js
  src/controllers/music/musicgenres.js
  src/controllers/music/musicplaylists.js
  src/controllers/music/musicrecommended.js
  src/controllers/music/songs.js
Labels: es6

#1091 Migrated HtmlVideoPlayer
  .editorconfig
  CONTRIBUTORS.md
  package.json
  src/plugins/htmlVideoPlayer/plugin.js
Labels: es6

#1689 Migration of `livetvtuner.js` to es6
  package.json
  src/controllers/livetvtuner.js
Labels: es6

#1678 Fix banner height and use primary image as fallback
  src/assets/css/librarybrowser.css
  src/controllers/itemDetails/index.js
Labels: stable backport

#1701 Use emblem when loading on mobile
  src/index.html
Labels: stable backport

#1692 Migration of refresh dialog to ES6 module
  package.json
  src/components/refreshdialog/refreshdialog.js
Labels: es6

#1693 Migration of playqueuemanager to ES6 module
  package.json
  src/components/playback/playbackmanager.js
  src/components/playback/playqueuemanager.js
Labels: es6

#1700 Migrated livetvstatus.js to es6 module
  package.json
  src/controllers/livetvstatus.js
Labels: es6
