Repository jellyfin/jellyfin-web, pull requests merged in 2020-12, with the labels that each got.

#2153 Add github action to label PRs with merge conflicts
  .github/workflows/merge-conflicts.yml
Labels: build & ci

#2117 Add linters to github actions
  .ci/azure-pipelines-lint.yml
  .ci/azure-pipelines.yml
  .github/workflows/lint.yml
  package.json
Labels: build & ci

#2160 Fix multiple hashes added to route
  src/components/appRouter.js
Labels: regression

#2164 Fix more link issues
  src/components/appRouter.js
  src/controllers/dashboard/dlna/profiles.js
  src/controllers/dashboard/dlna/settings.js
  src/controllers/dashboard/library.js
  src/controllers/dashboard/librarydisplay.js
  src/controllers/dashboard/metadataImages.js
  src/controllers/dashboard/metadatanfo.js
  src/controllers/dashboard/plugins/available/index.js
  src/controllers/dashboard/plugins/installed/index.js
  src/controllers/dashboard/plugins/repositories/index.js
  src/elements/emby-button/emby-button.js
Labels: regression

#2156 Prevent merge conflicts action from running on forks
  .github/workflows/merge-conflicts.yml
Labels: build & ci

#1945 SyncPlay for TV series (and Music)
  src/assets/css/videoosd.css
  src/components/playback/playbackmanager.js
  src/components/playerstats/playerstats.js
  src/components/playlisteditor/playlisteditor.js
  src/components/recordingcreator/recordinghelper.js
  src/components/syncPlay/core/Controller.js
  src/components/syncPlay/core/Helper.js
  src/components/syncPlay/core/Manager.js
  src/components/syncPlay/core/PlaybackCore.js
  src/components/syncPlay/core/QueueCore.js
  src/components/syncPlay/core/index.js
  src/components/syncPlay/core/players/GenericPlayer.js
  src/components/syncPlay/core/players/PlayerFactory.js
  src/components/syncPlay/core/timeSync/TimeSync.js
  src/components/syncPlay/core/timeSync/TimeSyncCore.js
  src/components/syncPlay/core/timeSync/TimeSyncServer.js
  src/components/syncPlay/groupSelectionMenu.js
  src/components/syncPlay/syncPlayManager.js
  src/components/syncPlay/ui/groupSelectionMenu.js
  src/components/syncPlay/ui/playbackPermissionManager.js
  src/components/syncPlay/ui/players/HtmlAudioPlayer.js
  src/components/syncPlay/ui/players/HtmlVideoPlayer.js
  src/components/syncPlay/ui/players/NoActivePlayer.js
  src/components/syncPlay/ui/players/QueueManager.js
  src/components/syncPlay/ui/syncPlayToasts.js
  src/controllers/playback/video/index.html
  src/controllers/playback/video/index.js
  src/scripts/libraryMenu.js
  src/scripts/serverNotifications.js
  src/scripts/site.js
  src/strings/en-us.json
Labels: backend

#2131 Fix babel support for legacy browsers
  babel.config.js
  package.json
  src/components/viewContainer.js
  src/scripts/site.js
  webpack.common.js
  yarn.lock
Labels: p: tizen, p: webos

#2177 Update the API Client version
  package.json
  yarn.lock
Labels: stable backport

#2181 Remove non-existing UserData field from requests
  src/controllers/itemDetails/index.js
  src/controllers/shows/episodes.js
  src/controllers/shows/tvupcoming.js
  src/scripts/playlistedit.js
Labels: stable backport

#2202 Remove reference to sharing help element
  src/controllers/dashboard/users/useredit.js
Labels: stable backport

#2188 Fix anchor click action and plugin configuration page URL
  src/elements/emby-button/emby-button.js
  src/scripts/clientUtils.js
Labels: stable backport

#2183 SyncPlay, don't use bad ApiClient
  src/scripts/site.js
Labels: stable backport

#2195 Fix SyncPlay switching to next item in queue
  src/components/syncPlay/core/PlaybackCore.js
Labels: stable backport

#2186 Fix plugin loader for function definitions in window
  src/components/pluginManager.js
Labels: stable backport

#2213 Fix sonarqube bugs
  src/components/htmlMediaHelper.js
Labels: stable backport

#2216 Fix canPlay for Live TV
  src/components/cardbuilder/cardBuilder.js
  src/components/shortcuts.js
Labels: stable backport

#2219 Set Content-Type header when creating a playlist
  src/components/playlisteditor/playlisteditor.js
Labels: stable backport

#2217 Landing screen options clean up
  src/components/homeScreenSettings/homeScreenSettings.js
Labels: stable backport

#2214 Fix LiveTV group anchors
  src/controllers/livetv/livetvsuggested.js
Labels: stable backport

#2211 Fix invalid dlna profile path
  src/controllers/dashboard/dlna/profiles.js
Labels: stable backport

#2210 Set the step of subtitle offset slider to 0.1
  src/components/subtitlesync/subtitlesync.js
  src/components/subtitlesync/subtitlesync.template.html
Labels: stable backport

#2215 Fix multiplication of event listeners on Live TV pages
  src/controllers/livetvsettings.js
  src/controllers/livetvstatus.js
Labels: stable backport

#2222 Modify some tone mapping related strings
  src/strings/cs.json
  src/strings/de.json
  src/strings/en-gb.json
  src/strings/en-us.json
  src/strings/es-ar.json
  src/strings/es-mx.json
  src/strings/es.json
  src/strings/es_419.json
  src/strings/fr.json
  src/strings/hu.json
  src/strings/it.json
  src/strings/ja.json
  src/strings/ko.json
  src/strings/nb.json
  src/strings/nl.json
  src/strings/pt-br.json
  src/strings/pt-pt.json
  src/strings/ro.json
  src/strings/ru.json
  src/strings/sk.json
  src/strings/ta.json
  src/strings/vi.json
  src/strings/zh-cn.json
  src/strings/zh-tw.json
Labels: stable backport

#2224 Fix possible HLSError (BufferFullError) on Firefox
  src/plugins/htmlVideoPlayer/plugin.js
Labels: stable backport

#2238 Fix restart button being shown when unsupported
  src/controllers/dashboard/dashboard.html
  src/controllers/dashboard/dashboard.js
Labels: stable backport

#2240 Remove duplicate try/catch
  src/scripts/site.js
Labels: stable backport

#2234 Use Noto Sans from Fontsource
  package.json
  src/assets/css/fonts.scss
  src/scripts/site.js
  src/styles/noto-sans/base-400-normal.scss
  src/styles/noto-sans/base-700-normal.scss
  src/styles/noto-sans/hk-400-normal.scss
  src/styles/noto-sans/hk-700-normal.scss
  src/styles/noto-sans/index.scss
  src/styles/noto-sans/jp-400-normal.scss
  src/styles/noto-sans/jp-700-normal.scss
  src/styles/noto-sans/kr-400-normal.scss
  src/styles/noto-sans/kr-700-normal.scss
  src/styles/noto-sans/sc-400-normal.scss
  src/styles/noto-sans/sc-700-normal.scss
  yarn.lock
Labels: stable backport

#2239 Disable browser hack rule for sass files
  .stylelintrc.scss.json
Labels: stable backport

#2237 Fix layout of plugin cards
  src/components/cardbuilder/card.css
Labels: stable backport

#2242 Replace bash prepare script with node version
  package.json
  scripts/prepare.js
  scripts/prepare.sh
Labels: stable backport

#2244 Fix Continue Listening
  src/components/homesections/homesections.js
Labels: stable backport

#2246 Fix layout issues on mobile item details
  src/assets/css/librarybrowser.css
  src/controllers/itemDetails/index.html
  src/controllers/itemDetails/index.js
Labels: stable backport

#2247 Always allow stopping via the action menu
  src/components/nowPlayingBar/nowPlayingBar.js
  src/components/remotecontrol/remotecontrol.js
Labels: stable backport

#2218 Fix style issues on dashboard page
  src/assets/css/dashboard.css
  src/controllers/dashboard/dashboard.html
  src/elements/emby-button/emby-button.css
Labels: stable backport

#2236 Fix touch support in epub reader
  src/plugins/bookPlayer/plugin.js
Labels: stable backport

#2258 Restore the dashboard theme option
  src/components/displaySettings/displaySettings.js
  src/components/displaySettings/displaySettings.template.html
  src/scripts/autoThemes.js
  src/strings/bg-bg.json
  src/strings/ca.json
  src/strings/cs.json
  src/strings/da.json
  src/strings/de.json
  src/strings/el.json
  src/strings/en-gb.json
  src/strings/en-us.json
  src/strings/es-ar.json
  src/strings/es-mx.json
  src/strings/es.json
  src/strings/es_419.json
  src/strings/fa.json
  src/strings/fi.json
  src/strings/fr.json
  src/strings/hu.json
  src/strings/is-is.json
  src/strings/it.json
  src/strings/ja.json
  src/strings/kk.json
  src/strings/ko.json
  src/strings/lt-lt.json
  src/strings/lv.json
  src/strings/nb.json
  src/strings/nl.json
  src/strings/pl.json
  src/strings/pt-br.json
  src/strings/pt-pt.json
  src/strings/pt.json
  src/strings/ro.json
  src/strings/ru.json
  src/strings/sk.json
  src/strings/sl-si.json
  src/strings/sv.json
  src/strings/vi.json
  src/strings/zh-cn.json
  src/strings/zh-tw.json
Labels: stable backport

#2260 Fix chevron centering on home section titles
  src/assets/css/dashboard.css
  src/assets/css/librarybrowser.css
Labels: stable backport

#2263 Fix OSD gradients not letting pointer events through
  src/assets/css/videoosd.css
Labels: stable backport

#2265 Sort items by premiere date on the details page
  src/controllers/itemDetails/index.js
  src/scripts/itembynamedetailpage.js
Labels: stable backport

#2269 Fix issue with double click fullscreen
  src/assets/css/videoosd.css
Labels: stable backport

#2281 Update fontsource to 4.0.1
  package.json
  src/styles/noto-sans/base-400-normal.scss
  src/styles/noto-sans/base-700-normal.scss
  src/styles/noto-sans/hk-400-normal.scss
  src/styles/noto-sans/hk-700-normal.scss
  src/styles/noto-sans/jp-400-normal.scss
  src/styles/noto-sans/jp-700-normal.scss
  src/styles/noto-sans/kr-400-normal.scss
  src/styles/noto-sans/kr-700-normal.scss
  src/styles/noto-sans/sc-400-normal.scss
  src/styles/noto-sans/sc-700-normal.scss
  yarn.lock
Labels: dependencies

#2283 Allow decimal entry for bitrate on mobile
  src/controllers/dashboard/streaming.html
  src/controllers/dashboard/users/useredit.html
Labels: stable backport

#2286 Split Audiobook Resume
  src/controllers/dashboard/playback.html
  src/controllers/dashboard/playback.js
  src/strings/en-us.json
Labels: backend, stable backport

#2288 Bump API client to 1.6.0
  package.json
  yarn.lock
Labels: stable backport

#2280 Add missing Languages to Web
  CONTRIBUTORS.md
  src/components/displaySettings/displaySettings.template.html
  src/scripts/dfnshelper.js
  src/scripts/site.js
Labels: stable backport

#2225 Plugin manager changes
  src/controllers/dashboard/plugins/installed/index.js
  src/strings/en-gb.json
Labels: backend, stable backport
