Repository jellyfin/jellyfin-web, pull requests merged in 2020-09, with the labels that each got.

#1893 Fix old iOS devices that do not support AC-3
  src/scripts/browserDeviceProfile.js
Labels: stable backport

#1897 Fix Message Appearing on Page Reload
  src/controllers/user/display/index.js
  src/controllers/user/home/index.js
  src/controllers/user/playback/index.js
  src/controllers/user/subtitles/index.js
Labels: stable backport

#1798 Add new deinterlacing options
  CONTRIBUTORS.md
  src/controllers/dashboard/encodingsettings.html
  src/controllers/dashboard/encodingsettings.js
  src/strings/bg-bg.json
  src/strings/cs.json
  src/strings/da.json
  src/strings/de.json
  src/strings/en-gb.json
  src/strings/en-us.json
  src/strings/es-ar.json
  src/strings/es-mx.json
  src/strings/es.json
  src/strings/es_419.json
  src/strings/fa.json
  src/strings/fi.json
  src/strings/fr.json
  src/strings/hu.json
  src/strings/it.json
  src/strings/nb.json
  src/strings/nl.json
  src/strings/pl.json
  src/strings/pt-br.json
  src/strings/ru.json
  src/strings/sk.json
  src/strings/sv.json
  src/strings/zh-cn.json
  src/strings/zh-tw.json
Labels: backend, enhancement

#1842 Expose max_muxing_queue_size to user
  src/controllers/dashboard/encodingsettings.html
  src/controllers/dashboard/encodingsettings.js
  src/strings/.en-us.json.swp
  src/strings/en-us.json
  src/strings/zh-cn.json
Labels: backend

#1096 Add quick connect (login without typing password)
  CONTRIBUTORS.md
  package.json
  src/components/quickConnectSettings/quickConnectSettings.js
  src/controllers/dashboard/quickconnect.js
  src/controllers/session/login/index.html
  src/controllers/session/login/index.js
  src/controllers/user/menu/index.html
  src/controllers/user/menu/index.js
  src/controllers/user/quickConnect/index.html
  src/controllers/user/quickConnect/index.js
  src/quickconnect.html
  src/scripts/libraryMenu.js
  src/scripts/routes.js
  src/scripts/site.js
  src/strings/en-us.json
Labels: feature

#1905 Add BR: git for all distros
  fedora/jellyfin-web.spec
Labels: stable backport

#1955 Fix ES6 import - browser
  src/scripts/site.js
Labels: es6, p: tizen

#1954 Fix subtitles display on Tizen 2.x
  src/plugins/htmlVideoPlayer/style.css
Labels: p: tizen, stable backport
