Repository jellyfin/jellyfin-web, pull requests merged in 2020-11, with the labels that each got.

#1236 Convert files to SCSS
  src/assets/css/clearbutton.scss
  src/assets/css/detailtable.scss
  src/assets/css/flexstyles.scss
  src/assets/css/fonts.scss
  src/assets/css/fonts.sized.css
  src/assets/css/fonts.sized.scss
  src/assets/css/ios.scss
  src/assets/css/livetv.scss
  src/assets/css/site.scss
Labels: sass

#1636 Add options to use multiple custom fonts for subtitle rendering
  src/controllers/dashboard/encodingsettings.html
  src/controllers/dashboard/encodingsettings.js
  src/plugins/htmlVideoPlayer/plugin.js
  src/strings/en-us.json
  src/strings/zh-cn.json
Labels: backend

#1212 Feature: manually add subtitle
  src/components/subtitleeditor/subtitleeditor.js
  src/components/subtitleeditor/subtitleeditor.template.html
  src/components/subtitleuploader/style.css
  src/components/subtitleuploader/subtitleuploader.js
  src/components/subtitleuploader/subtitleuploader.template.html
  src/strings/en-us.json
  src/strings/fr.json
Labels: backend, feature, merge conflict

#1237 Sort multi-version movie dropdown menu
  CONTRIBUTORS.md
  src/controllers/itemDetails/index.js
Labels: ui & ux
