Repository jellyfin/jellyfin-web, pull requests merged in 2021-08, with the labels that each got.

#2829 Fix continue watching card shapes
  src/components/homesections/homesections.js
Labels: regression

#2748 Remove activate feature from Quick Connect page
  src/controllers/user/menu/index.html
  src/controllers/user/quickConnect/helper.js
  src/controllers/user/quickConnect/index.html
  src/controllers/user/quickConnect/index.js
Labels: backend

#2749 Use new Quick Connect enabled endpoint
  src/controllers/session/login/index.js
  src/controllers/user/menu/index.js
Labels: backend

#2848 Update dependabot frequency to run weekly
  .github/dependabot.yaml
Labels: github_actions

#2853 Update workbox
  package-lock.json
  package.json
Labels: dependencies, javascript

#2821 Update merge conflict action trigger
  .github/workflows/automation.yml
Labels: github_actions

#2777 Translate the transcode reasons
  src/strings/en-us.json
Labels: enhancement, i18n

#2887 Babel blurhash
  webpack.common.js
Labels: p: webos, p: tizen

#2776 Add hardware encoding status to playback data
  src/components/playerstats/playerstats.js
  src/strings/en-us.json
Labels: backend
