Repository jellyfin/jellyfin-web, pull requests merged in 2021-04, with the labels that each got.

#2530 [2529] [RegressionFix] [Dlna] Album shuffle button does not shuffle any more since 10.6.4.
  CONTRIBUTORS.md
  src/controllers/music/musicalbums.js
Labels: stable backport

#2536 fix: redirect to login if stored credentials are invalid
  src/components/appRouter.js
Labels: stable backport

#2552 add 'unknown' as an input command
  src/scripts/inputManager.js
Labels: stable backport

#2524 Build from fedora-33
  deployment/Dockerfile.fedora
Labels: stable backport

#2572 Fix music videos on artist and album page
  src/controllers/itemDetails/index.js
  src/scripts/itembynamedetailpage.js
Labels: stable backport

#2509 Disable first episodes in Next Up home section
  src/components/homesections/homesections.js
Labels: stable backport

#2575 Revert "fix: redirect to login if stored credentials are invalid"
  src/components/appRouter.js
Labels: stable backport

#2576 Fix ES6 migration
  src/controllers/session/addServer/index.js
Labels: stable backport

#2514 Add support for fillWidth and fillHeight
  src/components/appRouter.js
  src/components/cardbuilder/cardBuilder.js
  src/components/listview/listview.js
  src/components/playback/playbackmanager.js
  src/components/slideshow/slideshow.js
Labels: stable backport, ui & ux

#2593 Ensure that fillHeight gets set on image requests
  package-lock.json
  package.json
  src/components/cardbuilder/cardBuilder.js
Labels: dependencies, javascript, regression, stable backport, ui & ux

#2619 Fix video filters hiding
  src/components/filterdialog/filterdialog.template.html
Labels: stable backport

#2616 Fix view style selection dialog (ES6 migration)
  src/controllers/movies/moviecollections.js
  src/controllers/movies/movies.js
  src/controllers/movies/movietrailers.js
  src/controllers/music/musicartists.js
Labels: stable backport

#2604 Update Audiobook Resume Help
  src/strings/en-us.json
Labels: stable backport

#2617 Set scrollbar width in TV mode.
  src/themes/blueradiance/theme.css
  src/themes/dark/theme.css
  src/themes/purplehaze/theme.css
  src/themes/wmc/theme.css
Labels: stable backport

#2624 webOS: fix Favorites tab
  src/controllers/favorites.js
Labels: p: webos, stable backport
