Repository jellyfin/jellyfin-web, pull requests merged in 2021-01, with the labels that each got.

#2290 Add Chromecast error messages to the locales
  src/strings/en-us.json
Labels: stable backport

#2311 Disable multi download option
  src/components/multiSelect/multiSelect.js
Labels: stable backport

#2309 fix(card): white flashing images
  src/components/images/imageLoader.js
Labels: regression, stable backport

#2313 Fix browser detection: Safari vs Tizen
  src/scripts/browser.js
Labels: p: tizen, stable backport

#2306 Fix tiny card icons
  src/components/cardbuilder/card.css
Labels: stable backport

#2293 Fix latest tab links for tv and music
  src/components/appRouter.js
Labels: stable backport

#2318 Fix removed ButtonDelete key
  src/controllers/dashboard/devices/devices.js
Labels: stable backport

#2312 Use local version of Noto Sans if available
  src/styles/noto-sans/index.scss
Labels: stable backport

#2323 Fix replay icon not getting replaced with play_arrow icon
  src/controllers/itemDetails/index.js
Labels: stable backport

#2344 refactor: remove unused imports
  src/scripts/dfnshelper.js
Labels: stable backport

#2353 Fix scaling in comics player
  src/plugins/comicsPlayer/plugin.js
  src/plugins/comicsPlayer/style.scss
Labels: stable backport

#2357 Fix epub player height
  src/plugins/bookPlayer/plugin.js
Labels: stable backport

#2358 Allows Search On Tizen
  src/components/search/searchfields.template.html
Labels: stable backport
