Repository jellyfin/jellyfin-web, pull requests merged in 2021-05, with the labels that each got.

#2645 Remove image proxying through API
  src/components/imageDownloader/imageDownloader.js
  src/components/itemidentifier/itemidentifier.js
  src/index.html
Labels: stable backport

#2519 Add HEVC in TS for Tizen and webOS
  src/scripts/browserDeviceProfile.js
Labels: p: tizen, p: webos, playback

#2648 Fix alpine python package
  deployment/Dockerfile.docker
Labels: stable backport

#2647 Fix mov support in Safari
  src/scripts/browserDeviceProfile.js
Labels: stable backport

#2657 Bump jellyfin-apiclient to 1.8.0
  package-lock.json
  package.json
Labels: stable backport

#2673 Fix ServiceWorker URL
  src/scripts/site.js
Labels: stable backport

#2676 Fix xss via displaymessage
  src/components/toast/toast.js
Labels: stable backport

#2675 Fix sharing url
  src/components/itemContextMenu.js
Labels: stable backport

#2665 Add connection response handling
  src/components/appRouter.js
Labels: stable backport

#2672 Remove OPUS from supported HLS audio formats
  src/scripts/browserDeviceProfile.js
Labels: stable backport

#2610 Add a Continue Reading Section
  src/components/homeScreenSettings/homeScreenSettings.template.html
  src/components/homesections/homesections.js
  src/strings/en-gb.json
  src/strings/en-us.json
Labels: backend
