Repository jellyfin/jellyfin-web, pull requests merged in 2021-02, with the labels that each got.

#2375 fix: message appearing after adding repositories
  src/controllers/dashboard/plugins/repositories/index.js
Labels: stable backport

#2374 reject play access validation promise
  src/plugins/playAccessValidation/plugin.js
Labels: stable backport

#2356 fix: notched devices area not covered
  src/index.html
Labels: stable backport

#2350 Options for enhanced NVDEC and VPP tonemap
  src/components/playerstats/playerstats.js
  src/controllers/dashboard/encodingsettings.html
  src/controllers/dashboard/encodingsettings.js
  src/strings/en-us.json
  src/strings/zh-cn.json
Labels: backend, stable backport

#2417 Change babel.config.js sourceType to unamiguous
  babel.config.js
Labels: stable backport

#2343 fix image alignment on plugin cards
  src/components/cardbuilder/card.css
  src/controllers/dashboard/devices/devices.js
  src/controllers/dashboard/library.js
  src/controllers/dashboard/plugins/available/index.js
  src/controllers/dashboard/plugins/installed/index.js
  src/controllers/dashboard/users/userprofilespage.js
  src/controllers/session/login/index.js
  src/controllers/session/selectServer/index.js
  src/strings/en-us.json
Labels: stable backport

#2378 update style for active sessions
  src/assets/css/dashboard.css
  src/controllers/dashboard/dashboard.js
  src/strings/en-us.json
Labels: stable backport

#2443 Fix attachment delivery urls
  src/plugins/htmlVideoPlayer/plugin.js
Labels: stable backport

#2456 Add Webpack publicPath
  webpack.common.js
Labels: p: tizen, p: webos

#2461 Remove iOS bandwidth limit
  src/components/appRouter.js
Labels: stable backport
