Repository jellyfin/jellyfin-web, pull requests merged in 2021-09, with the labels that each got.

#2907 Add rebase command
  .github/workflows/commands.yml
Labels: build & ci

#2759 Fix serviceworker paths
  package.json
  yarn.lock
Labels: stable backport

#2342 Clear playlist in SyncPlay group
  src/components/syncPlay/core/Controller.js
  src/components/syncPlay/core/Helper.js
  src/components/syncPlay/ui/players/NoActivePlayer.js
Labels: backend
