Repository jellyfin/jellyfin-web, pull requests merged in 2021-06, with the labels that each got.

#2678 Access Loading globally
  .eslintrc.js
  src/components/loading/loading.js
Labels: stable backport

#2706 Update icon used for syncplay
  src/scripts/libraryMenu.js
Labels: ui & ux

#2742 Update dependencies
  package-lock.json
  package.json
  src/index.html
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Labels: dependencies, javascript

#2722 Add TypeScript support for React components
  .eslintrc.js
  babel.config.js
  package-lock.json
  package.json
  src/components/alphaPicker/AlphaPickerComponent.tsx
  src/components/layoutManager.js
  src/components/pages/SearchPage.tsx
  src/components/search/LiveTVSearchResults.tsx
  src/components/search/SearchFields.tsx
  src/components/search/SearchResults.tsx
  src/components/search/SearchResultsRow.tsx
  src/components/search/SearchSuggestions.tsx
  src/global.d.ts
  tsconfig.json
  webpack.common.js
  webpack.dev.js
Labels: enhancement

#2747 Move Quick Connect toggle to General page in dashboard
  src/controllers/dashboard/general.html
  src/controllers/dashboard/general.js
  src/controllers/dashboard/quickConnect.html
  src/controllers/dashboard/quickConnect.js
  src/scripts/libraryMenu.js
Labels: backend
