Repository jellyfin/jellyfin-web, pull requests merged in 2022-07, with the labels that each got.

#3730 CardBuilder: Test episode number in addition to episode name
  src/components/cardbuilder/cardBuilder.js
Labels: enhancement, stable backport

#3751 Fix splash screen checkbox always unchecked
  src/controllers/dashboard/general.js
Labels: regression, stable backport

#3760 Fix saving log settings not working
  src/controllers/dashboard/logs.js
Labels: stable backport

#3742 Fix unhandled rejection for invalid response
  src/utils/dashboard.js
Labels: bug, cleanup

#3775 Fix user specific remote access
  src/components/pages/UserEditPage.tsx
Labels: stable backport

#3733 Migrate to react router
  src/components/ConnectionRequired.tsx
  src/components/Page.tsx
  src/components/appRouter.js
  src/components/dashboard/users/AccessContainer.tsx
  src/components/dashboard/users/AccessScheduleList.tsx
  src/components/dashboard/users/BlockedTagList.tsx
  src/components/dashboard/users/ButtonElement.tsx
  src/components/dashboard/users/CheckBoxElement.tsx
  src/components/dashboard/users/CheckBoxListItem.tsx
  src/components/dashboard/users/SectionTitleButtonElement.tsx
  src/components/dashboard/users/SectionTitleContainer.tsx
  src/components/dashboard/users/SelectElement.tsx
  src/components/dashboard/users/SelectMaxParentalRating.tsx
  src/components/dashboard/users/SelectSyncPlayAccessElement.tsx
  src/components/dashboard/users/UserCardBox.tsx
  src/components/dashboard/users/UserPasswordForm.tsx
  src/components/reactControllerFactory.js
  src/components/viewManager/viewManager.js
  src/controllers/dashboard/users/useredit.html
  src/controllers/dashboard/users/userlibraryaccess.html
  src/controllers/dashboard/users/usernew.html
  src/controllers/dashboard/users/userparentalcontrol.html
  src/controllers/dashboard/users/userpassword.html
  src/controllers/dashboard/users/userprofiles.html
  src/controllers/user/menu/index.html
  src/controllers/user/menu/index.js
  src/controllers/user/profile/index.html
  src/elements/ButtonElement.tsx
  src/elements/CheckBoxElement.tsx
  src/elements/IconButtonElement.tsx
  src/elements/InputElement.tsx
  src/elements/SectionTitleContainer.tsx
  src/elements/SectionTitleLinkElement.tsx
  src/elements/SelectElement.tsx
  src/routes/index.tsx
  src/routes/search.tsx
  src/routes/user/useredit.tsx
  src/routes/user/userlibraryaccess.tsx
  src/routes/user/usernew.tsx
  src/routes/user/userparentalcontrol.tsx
  src/routes/user/userpassword.tsx
  src/routes/user/userprofile.tsx
  src/routes/user/userprofiles.tsx
  src/scripts/libraryMenu.js
  src/scripts/routes.js
Labels: typescript, cleanup

#3762 Add random sorting to songs
  src/controllers/music/songs.js
Labels: feature

#3773 Update the Firefox icon
  src/assets/img/devices/firefox.svg
Labels: enhancement

#3778 Add title and filename to download request in item details
  src/controllers/itemDetails/index.js
Labels: bug, stable backport

#3781 Fix TypeError
  src/components/itemHelper.js
Labels: bug, stable backport
