Repository jellyfin/jellyfin-web, pull requests merged in 2022-12, with the labels that each got.

#4205 Fix issues navigating home screen tabs
  src/controllers/favorites.js
  src/routes/home.tsx
Labels: bug, regression

#4173 Convert emby-button and emby-scroller to react
  src/elements/emby-button/Button.tsx
  src/elements/emby-button/IconButton.tsx
  src/elements/emby-button/LinkButton.tsx
  src/elements/emby-scrollbuttons/ScrollButtons.tsx
  src/elements/emby-scroller/Scroller.tsx
Labels: typescript

#4215 Add eslint rules for sonar issues
  .eslintrc.js
  src/components/common/GenresItemsContainer.tsx
  src/components/remotecontrol/remotecontrol.js
  src/components/search/LiveTVSearchResults.tsx
  src/components/search/SearchFields.tsx
  src/controllers/list.js
  src/controllers/playback/video/index.js
  src/elements/emby-button/LinkButton.tsx
  src/elements/emby-scrollbuttons/ScrollButtons.tsx
  src/hooks/useApi.tsx
  src/routes/movies/SuggestionsView.tsx
  src/routes/user/userparentalcontrol.tsx
Labels: cleanup
