Repository jellyfin/jellyfin-web, pull requests merged in 2022-03, with the labels that each got.

#3456 Few refactors of remotecontrol
  src/components/cardbuilder/card.scss
  src/components/remotecontrol/remotecontrol.scss
Labels: bug

#3472 Add google cast unsupported message and update translations
  src/components/actionSheet/actionSheet.scss
  src/components/playback/playerSelectionMenu.js
  src/strings/en-us.json
Labels: enhancement

#3244 Add eslint rule for empty functions
  .eslintrc.js
  src/components/guide/guide.js
  src/components/playback/playbackmanager.js
  src/components/syncPlay/core/players/GenericPlayer.js
  src/components/tabbedview/tabbedview.js
  src/components/viewSettings/viewSettings.js
  src/controllers/movies/moviecollections.js
  src/controllers/movies/movietrailers.js
  src/controllers/music/musicalbums.js
  src/controllers/music/musicartists.js
  src/controllers/music/songs.js
  src/controllers/shows/episodes.js
  src/controllers/shows/tvshows.js
  src/elements/emby-progressring/emby-progressring.js
  src/elements/emby-scrollbuttons/emby-scrollbuttons.js
  src/plugins/chromecastPlayer/plugin.js
  src/plugins/sessionPlayer/plugin.js
  src/plugins/youtubePlayer/plugin.js
  src/scripts/clientUtils.js
  src/scripts/settings/userSettings.js
Labels: cleanup

#3478 Fix click on item details poster playing wrong item
  src/controllers/itemDetails/index.js
Labels: bug

#3473 Move rewatching in next up to display option and remove home section
  src/components/appRouter.js
  src/components/displaySettings/displaySettings.js
  src/components/displaySettings/displaySettings.template.html
  src/components/homeScreenSettings/homeScreenSettings.template.html
  src/components/homesections/homesections.js
  src/controllers/list.js
  src/scripts/settings/userSettings.js
  src/strings/en-us.json
Labels: enhancement, backend

#3480 Fix more accessibility issues
  src/components/images/imageLoader.js
  src/elements/emby-scrollbuttons/emby-scrollbuttons.js
  src/scripts/libraryMenu.js
Labels: bug, accessibility

#3369 Escape HTML
  package-lock.json
  package.json
  src/components/actionSheet/actionSheet.js
  src/components/activitylog.js
  src/components/cardbuilder/cardBuilder.js
  src/components/cardbuilder/chaptercardbuilder.js
  src/components/channelMapper/channelMapper.js
  src/components/collectionEditor/collectionEditor.js
  src/components/dashboard/users/SelectElement.tsx
  src/components/dashboard/users/SelectMaxParentalRating.tsx
  src/components/dialog/dialog.js
  src/components/directorybrowser/directorybrowser.js
  src/components/displaySettings/displaySettings.js
  src/components/filtermenu/filtermenu.js
  src/components/guide/guide.js
  src/components/homeScreenSettings/homeScreenSettings.js
  src/components/homesections/homesections.js
  src/components/itemMediaInfo/itemMediaInfo.js
  src/components/itemidentifier/itemidentifier.js
  src/components/libraryoptionseditor/libraryoptionseditor.js
  src/components/listview/listview.js
  src/components/mediaLibraryCreator/mediaLibraryCreator.js
  src/components/mediaLibraryEditor/mediaLibraryEditor.js
  src/components/mediainfo/mediainfo.js
  src/components/metadataEditor/metadataEditor.js
  src/components/playback/nowplayinghelper.js
  src/components/playlisteditor/playlisteditor.js
  src/components/prompt/prompt.js
  src/components/recordingcreator/recordingcreator.js
  src/components/recordingcreator/seriesrecordingeditor.js
  src/components/remotecontrol/remotecontrol.js
  src/components/search/SearchSuggestions.tsx
  src/components/subtitleeditor/subtitleeditor.js
  src/components/upnextdialog/upnextdialog.js
  src/controllers/dashboard/dashboard.js
  src/controllers/dashboard/devices/device.js
  src/controllers/dashboard/devices/devices.js
  src/controllers/dashboard/dlna/profile.js
  src/controllers/dashboard/dlna/profiles.js
  src/controllers/dashboard/dlna/settings.js
  src/controllers/dashboard/library.js
  src/controllers/dashboard/metadatanfo.js
  src/controllers/dashboard/notifications/notification/index.js
  src/controllers/dashboard/users/userpasswordpage.js
  src/controllers/itemDetails/index.js
  src/controllers/movies/moviegenres.js
  src/controllers/movies/moviesrecommended.js
  src/controllers/playback/video/index.js
  src/controllers/session/selectServer/index.js
  src/controllers/shows/tvgenres.js
  src/controllers/user/menu/index.js
  src/controllers/user/profile/index.js
  src/elements/emby-input/emby-input.js
  src/elements/emby-playstatebutton/emby-playstatebutton.js
  src/elements/emby-ratingbutton/emby-ratingbutton.js
  src/elements/emby-select/emby-select.js
  src/elements/emby-slider/emby-slider.js
  src/elements/emby-textarea/emby-textarea.js
  src/scripts/editorsidebar.js
  src/scripts/libraryMenu.js
Labels: bug

#3481 Sort album tracks by (Parent)IndexNumber, then SortName
  src/controllers/itemDetails/index.js
Labels: bug

#3489 Add headings to display settings screen
  src/components/displaySettings/displaySettings.template.html
  src/strings/en-us.json
Labels: enhancement

#3073 Convert userPasswordPage & UserImagePage to react
  src/components/dashboard/users/UserPasswordForm.tsx
  src/components/pages/UserPasswordPage.tsx
  src/components/pages/UserProfilePage.tsx
  src/controllers/dashboard/users/userpassword.html
  src/controllers/dashboard/users/userpasswordpage.js
  src/controllers/user/profile/index.html
  src/controllers/user/profile/index.js
  src/scripts/routes.js
Labels: hacktoberfest-accepted

#3493 Add default-case-last rule and fix issues
  .eslintrc.js
  src/components/subtitlesettings/subtitleappearancehelper.js
Labels: cleanup

#3495 Fix any type warning
  src/components/pages/UserProfilePage.tsx
Labels: cleanup

#2937 Add "Production" and "TV" episode orders to the metadata editor.
  src/components/metadataEditor/metadataEditor.js
  src/strings/en-us.json
Labels: backend

#3498 Restore missing MessageUnauthorizedUser error message
  src/strings/en-us.json
Labels: bug, regression

#3501 Fix old streamInfo on stream change
  src/components/playback/playbackmanager.js
Labels: bug

#3502 Fix webOS OPUS support
  src/scripts/browserDeviceProfile.js
Labels: p: webos, playback

#3505 Fix HTML escaping
  src/components/remotecontrol/remotecontrol.js
  src/controllers/dashboard/dashboard.js
Labels: bug, regression

#3343 Limit transcoding profiles with maximum resolution
  src/components/apphost.js
  src/components/qualityOptions.js
Labels: backend

#3525 Correct Typo
  src/components/tunerPicker.js
Labels: stable backport

#3527 Fix rewatching next up status
  src/scripts/settings/userSettings.js
Labels: bug, stable backport

#3531 Remove broken method of registering routes for plugins
  src/components/pluginManager.js
Labels: cleanup

#3534 Cleanup duplication in webpack dev config
  webpack.dev.js
Labels: cleanup
