Repository jellyfin/jellyfin-web, pull requests merged in 2022-08, with the labels that each got.

#3789 Fix XSS in card aria labels
  src/components/cardbuilder/cardBuilder.js
Labels: bug, regression, stable backport, security

#3777 Make comic page not overflow horizontally
  src/plugins/comicsPlayer/style.scss
Labels: bug

#3807 Use org default renovate config for nodejs
  .github/renovate.json
Labels: build & ci

#3696 Add configurable IgnoreDts flag to M3U tuner
  src/controllers/livetvtuner.html
  src/controllers/livetvtuner.js
  src/strings/en-us.json
Labels: enhancement, backend

#3848 Fix idle function call
  src/libraries/screensavermanager.js
Labels: bug, stable backport

#3849 Fix unexpected cursor hiding
  src/index.html
Labels: stable backport

#3676 Respect safe area (notch) of mobile devices
  src/assets/css/librarybrowser.scss
  src/assets/css/site.scss
  src/assets/css/videoosd.scss
  src/components/alphaPicker/style.scss
  src/components/appFooter/appFooter.scss
  src/components/multiSelect/multiSelect.scss
  src/components/remotecontrol/remotecontrol.scss
  src/components/toast/toast.scss
  src/elements/emby-scroller/emby-scroller.scss
  src/index.html
  src/libraries/navdrawer/navdrawer.scss
  src/plugins/htmlVideoPlayer/style.scss
  src/plugins/youtubePlayer/style.scss
Labels: enhancement, needs testing
