Repository jellyfin/jellyfin-web, pull requests merged in 2022-01, with the labels that each got.

#3070 Convert edit user page to react
  src/components/dashboard/users/CheckBoxElement.tsx
  src/components/dashboard/users/CheckBoxListItem.tsx
  src/components/dashboard/users/LinkEditUserPreferences.tsx
  src/components/dashboard/users/SectionTabs.tsx
  src/components/dashboard/users/SelectElement.tsx
  src/components/dashboard/users/SelectSyncPlayAccessElement.tsx
  src/components/pages/NewUserPage.tsx
  src/components/pages/UserEditPage.tsx
  src/controllers/dashboard/users/useredit.html
  src/controllers/dashboard/users/useredit.js
  src/elements/emby-checkbox/emby-checkbox.scss
  src/scripts/routes.js
Labels: hacktoberfest-accepted

#3270 Add Apple device icon
  src/assets/img/devices/apple.svg
  src/scripts/imagehelper.js
Labels: enhancement

#3297 Update babel packages
  package-lock.json
  package.json
Labels: dependencies, javascript

#3296 Add "Select All" action to multiSelect
  src/components/multiSelect/multiSelect.js
  src/strings/en-us.json
Labels: enhancement

#3071 Convert userLibraryAccessPage to react
  src/components/pages/UserLibraryAccessPage.tsx
  src/controllers/dashboard/users/userlibraryaccess.html
  src/controllers/dashboard/users/userlibraryaccess.js
  src/scripts/routes.js
Labels: hacktoberfest-accepted

#3313 Fix eslint polyfills for typescript files
  .eslintrc.js
  src/components/pages/NewUserPage.tsx
  src/components/pages/UserLibraryAccessPage.tsx
Labels: build & ci

#3322 Add channels link to home page section
  src/components/appRouter.js
  src/components/homesections/homesections.js
Labels: enhancement

#3271 Fix number option in alphapicker
  src/components/alphaPicker/alphaPicker.js
  src/controllers/movies/movies.js
  src/controllers/movies/movietrailers.js
  src/controllers/music/musicalbums.js
  src/controllers/music/musicartists.js
  src/controllers/shows/tvshows.js
Labels: regression

#3323 Fix image urls
  src/components/notifications/badge.png
  src/components/notifications/notifications.js
  src/components/recordingcreator/recordingcreator.js
Labels: regression

#3319 Add episode details to live TV DVR schedule
  src/components/cardbuilder/card.scss
  src/components/cardbuilder/cardBuilder.js
  src/components/itemHelper.js
  src/controllers/livetv/livetvschedule.js
  src/scripts/livetvcomponents.js
Labels: enhancement

#3144 Decode blurhash in a WebWorker
  package-lock.json
  package.json
  src/components/images/blurhash.worker.ts
  src/components/images/imageLoader.js
  src/components/images/style.scss
  src/components/lazyLoader/lazyLoaderIntersectionObserver.js
Labels: enhancement

#3302 Avoid requesting mjpeg attachements during ass subtitle playback
  src/plugins/htmlVideoPlayer/plugin.js
Labels: bug

#3334 Fix trailer playback when no local trailers are available
  src/components/playback/playbackmanager.js
Labels: bug

#3344 Try to determine the number of speakers before falling back to hardcoded values
  src/scripts/browserDeviceProfile.js
Labels: enhancement

#3348 Fix unstyled emby-select field when rendered with React
  src/components/dashboard/users/SelectSyncPlayAccessElement.tsx
  src/elements/emby-select/emby-select.js
Labels: regression

#3350 Update the resume button after stopping
  src/plugins/bookPlayer/plugin.js
Labels: bug

#3351 Fix starting of book player with a blank page
  src/plugins/bookPlayer/plugin.js
Labels: bug

#3354 Fix Light theme text color
  src/components/remotecontrol/remotecontrol.scss
  src/themes/light/theme.css
Labels: bug

#3340 Fix auto focus on Play/Resume
  src/components/autoFocuser.js
  src/controllers/itemDetails/index.js
Labels: bug

#3072 Convert userParentalControlPage to react
  src/components/dashboard/users/AccessScheduleList.tsx
  src/components/dashboard/users/BlockedTagList.tsx
  src/components/dashboard/users/CheckBoxListItem.tsx
  src/components/dashboard/users/SectionTitleButtonElement.tsx
  src/components/dashboard/users/SelectMaxParentalRating.tsx
  src/components/pages/UserParentalControl.tsx
  src/controllers/dashboard/users/userparentalcontrol.html
  src/controllers/dashboard/users/userparentalcontrol.js
  src/scripts/routes.js
Labels: hacktoberfest-accepted
