Repository jellyfin/jellyfin-web, pull requests merged in 2022-06, with the labels that each got.

#3668 Show PlaySettings button even if transcoding isn't supported
  src/components/playback/playersettingsmenu.js
  src/controllers/playback/video/index.html
  src/controllers/playback/video/index.js
Labels: bug, stable backport, ui & ux

#3609 Eslint no sequences
  .eslintrc.js
  src/components/apphost.js
  src/components/favoriteitems.js
  src/components/libraryoptionseditor/libraryoptionseditor.js
  src/components/remotecontrol/remotecontrol.js
  src/controllers/dashboard/metadataImages.js
  src/controllers/favorites.js
  src/controllers/itemDetails/index.js
  src/controllers/list.js
  src/controllers/playback/video/index.js
  src/scripts/libraryBrowser.js
Labels: cleanup

#3704 Fix empty avatar when upload same profile image
  src/components/pages/UserProfilePage.tsx
Labels: stable backport

#3701 Remove MPEG4 hwaccel from AMF
  src/controllers/dashboard/encodingsettings.html
Labels: bug, stable backport

#3694 Add the ability to enable/disable the splashscreen
  src/controllers/dashboard/general.html
  src/controllers/dashboard/general.js
  src/strings/en-us.json
Labels: enhancement, backend, stable backport

#3631 Add random sorting
  src/controllers/movies/movies.js
  src/controllers/shows/tvshows.js
Labels: feature

#3651 Remove unused Screenshot code
  src/components/imageDownloader/imageDownloader.template.html
  src/components/imageOptionsEditor/imageOptionsEditor.js
  src/components/imageOptionsEditor/imageOptionsEditor.template.html
  src/components/imageUploader/imageUploader.template.html
  src/components/imageeditor/imageeditor.js
  src/components/imageeditor/imageeditor.template.html
  src/scripts/serverNotifications.js
  src/strings/en-us.json
Labels: cleanup

#3716 Recognize MIME for transcoded audio in streams
  src/plugins/htmlAudioPlayer/plugin.js
Labels: bug, stable backport

#3713 Add VideoRangeType condition for web client
  src/scripts/browserDeviceProfile.js
  src/strings/en-us.json
Labels: backend, stable backport

#3722 Fix 6ch audio is disabled on AC3 supported browsers
  src/scripts/browserDeviceProfile.js
Labels: stable backport

#3721 Fix stream selection remembering
  src/components/playback/playbackmanager.js
  src/components/playbackSettings/playbackSettings.js
  src/components/playbackSettings/playbackSettings.template.html
  src/scripts/settings/userSettings.js
  src/strings/en-us.json
Labels: stable backport

#3719 Expose DoVi metadata and VideoRangeType
  src/components/itemMediaInfo/itemMediaInfo.js
  src/components/playerstats/playerstats.js
  src/strings/en-us.json
Labels: backend, stable backport

#3720 Fix device logos for various clients
  src/scripts/imagehelper.js
Labels: stable backport

#3724 Fix resume not working on LG WebOS
  src/components/htmlMediaHelper.js
  src/plugins/htmlVideoPlayer/plugin.js
Labels: bug, stable backport, p: webos

#3549 Show subtitle text color setting
  src/components/subtitlesettings/subtitlesettings.js
  src/components/subtitlesettings/subtitlesettings.template.html
  src/elements/emby-input/emby-input.scss
Labels: enhancement

#3729 Save series images under season, when browsing parent images for season
  src/components/imageDownloader/imageDownloader.js
Labels: bug, stable backport

#3706 Add react router and migrate search page
  package-lock.json
  package.json
  src/components/ConnectionRequired.tsx
  src/components/HistoryRouter.tsx
  src/components/Page.tsx
  src/components/appRouter.js
  src/components/pages/SearchPage.tsx
  src/components/search/LiveTVSearchResults.tsx
  src/components/search/SearchResults.tsx
  src/components/search/SearchSuggestions.tsx
  src/components/viewManager/viewManager.js
  src/controllers/search.html
  src/index.html
  src/routes/index.tsx
  src/routes/search.tsx
  src/scripts/routes.js
  src/scripts/site.js
  webpack.common.js
Labels: enhancement, typescript
