Repository jellyfin/jellyfin-web, pull requests merged in 2022-04, with the labels that each got.

#3536 Remove setTitle function in app router
  src/components/appRouter.js
  src/components/tabbedview/tabbedview.js
  src/controllers/home.js
  src/controllers/itemDetails/index.js
  src/controllers/list.js
  src/controllers/playback/video/index.js
  src/controllers/session/selectServer/index.js
Labels: cleanup

#3539 Add no-duplicate-imports rule and fix issue
  .eslintrc.js
  src/plugins/bookPlayer/plugin.js
Labels: cleanup

#3538 Move screensavermanager to scripts
  src/scripts/screensavermanager.js
  src/scripts/screensavermanager.scss
  src/scripts/site.js
Labels: cleanup

#3545 Disable renovate vulnerability PRs
  .github/renovate.json
Labels: build & ci

#3548 Remove some functions from the global scope
  .eslintrc.js
  src/components/appRouter.js
  src/components/favoriteitems.js
  src/controllers/dashboard/devices/device.js
  src/controllers/dashboard/dlna/profile.js
  src/controllers/dashboard/notifications/notification/index.js
  src/controllers/dashboard/scheduledtasks/scheduledtask.js
  src/controllers/livetvguideprovider.js
  src/controllers/livetvtuner.js
  src/scripts/clientUtils.js
  src/scripts/editorsidebar.js
  src/scripts/libraryMenu.js
  src/scripts/site.js
  src/utils/url.ts
Labels: cleanup

#3544 Add error catching when loading home screen tab
  src/controllers/hometab.js
Labels: cleanup

#3551 Fix url search in hash
  src/components/appRouter.js
  src/scripts/clientUtils.js
  src/utils/url.ts
Labels: bug, regression

#3556 Remove duplicate appRouter.param function
  src/components/appRouter.js
  src/components/pages/UserEditPage.tsx
  src/components/pages/UserLibraryAccessPage.tsx
  src/components/pages/UserParentalControl.tsx
  src/components/pages/UserPasswordPage.tsx
Labels: cleanup

#3558 Use toBoolean from string utils
  src/components/activitylog.js
  src/components/dialogHelper/dialogHelper.js
  src/controllers/dashboard/serveractivity.js
  src/scripts/settings/appSettings.js
  src/scripts/settings/userSettings.js
Labels: cleanup

#3523 Add some tips for the enhanced NVDEC decoder
  src/controllers/dashboard/encodingsettings.html
  src/strings/en-us.json
  src/strings/es.json
  src/strings/zh-cn.json
Labels: stable backport

#3547 Fix touch events in epub player
  package-lock.json
  package.json
  src/plugins/bookPlayer/plugin.js
Labels: bug, regression, stable backport

#3535 Fix 'resume' when clicking on item details poster
  src/controllers/itemDetails/index.js
Labels: bug, stable backport

#3509 add eslint novoid
  .eslintrc.js
  src/components/accessSchedule/accessSchedule.js
  src/components/groupedcards.js
  src/components/libraryoptionseditor/libraryoptionseditor.js
  src/components/tvproviders/schedulesdirect.js
  src/controllers/dashboard/dashboard.js
  src/controllers/itemDetails/index.js
  src/controllers/list.js
  src/controllers/playback/video/index.js
  src/controllers/session/forgotPassword/index.js
  src/controllers/session/resetPassword/index.js
  src/scripts/libraryMenu.js
Labels: cleanup

#3562 Add linting for config files and scripts
  .eslintrc.js
  package.json
Labels: build & ci

#3553 Refactor NavigationDrawer to Es6-class
  src/libraries/navdrawer/navdrawer.js
  src/scripts/libraryMenu.js
Labels: cleanup

#3559 Remove custom equality check functions
  src/components/backdrop/backdrop.js
  src/controllers/itemDetails/index.js
Labels: cleanup

#3479 Change buttons that act as links to anchor tags
  src/components/cardbuilder/card.scss
  src/components/cardbuilder/cardBuilder.js
  src/controllers/itemDetails/index.js
Labels: enhancement, accessibility

#3573 Fix underline in card images
  src/components/cardbuilder/card.scss
Labels: regression, ui & ux

#3560 Move backdrop transparency method to component
  src/components/appRouter.js
  src/components/backdrop/backdrop.js
  src/components/remotecontrol/remotecontrol.js
  src/components/tabbedview/tabbedview.js
  src/controllers/itemDetails/index.js
  src/controllers/playback/video/index.js
  src/plugins/htmlVideoPlayer/plugin.js
  src/plugins/youtubePlayer/plugin.js
  src/scripts/autoBackdrops.js
  src/utils/dashboard.js
Labels: cleanup

#3563 Use history for app router
  package-lock.json
  package.json
  src/components/appRouter.js
  src/scripts/routes.js
  src/scripts/site.js
Labels: enhancement, needs testing

#3414 Add support for MPEG-1 Layer II audio for Chrome and Firefox
  src/scripts/browserDeviceProfile.js
Labels: playback

#3546 Update home video library translation
  src/controllers/dashboard/library.js
  src/strings/en-us.json
Labels: enhancement

#3586 Fix card selector for tv layout
  src/controllers/itemDetails/index.js
Labels: bug, regression

#3582 Replace deprecated String.prototype.substr()
  src/components/cardbuilder/cardBuilder.js
  src/plugins/bookPlayer/tableOfContents.js
  src/plugins/pdfPlayer/plugin.js
Labels: cleanup

#3585 Remove functionality from app router
  src/components/ServerConnections.js
  src/components/appRouter.js
  src/scripts/site.js
Labels: cleanup

#3564 Make now playing bar use cursor pointer
  src/components/nowPlayingBar/nowPlayingBar.scss
Labels: enhancement

#3597 Use text input in Quick Connect page
  src/controllers/user/quickConnect/index.html
  src/controllers/user/quickConnect/index.js
Labels: stable backport

#3543 Restore sort order and fix strm usecase
  src/components/itemHelper.js
  src/components/itemMediaInfo/itemMediaInfo.js
  src/components/playback/playbackmanager.js
  src/controllers/itemDetails/index.js
Labels: backend, stable backport
