Repository jellyfin/jellyfin-web, pull requests merged in 2022-11, with the labels that each got.

#3792 Convert Movies to react
  src/components/collectionEditor/collectionEditor.js
  src/components/common/AlphaPickerContainer.tsx
  src/components/common/Filter.tsx
  src/components/common/GenresItemsContainer.tsx
  src/components/common/ItemsContainer.tsx
  src/components/common/NewCollection.tsx
  src/components/common/Pagination.tsx
  src/components/common/RecommendationContainer.tsx
  src/components/common/SectionContainer.tsx
  src/components/common/SelectView.tsx
  src/components/common/Shuffle.tsx
  src/components/common/Sort.tsx
  src/components/common/ViewItemsContainer.tsx
  src/components/filtermenu/filtermenu.js
  src/components/filtermenu/filtermenu.template.html
  src/components/itemContextMenu.js
  src/components/maintabsmanager.js
  src/components/multiSelect/multiSelect.js
  src/components/sortmenu/sortmenu.js
  src/components/viewSettings/viewSettings.js
  src/components/viewSettings/viewSettings.template.html
  src/controllers/movies/moviecollections.js
  src/controllers/movies/moviegenres.js
  src/controllers/movies/movies.html
  src/controllers/movies/movies.js
  src/controllers/movies/moviesrecommended.js
  src/controllers/movies/movietrailers.js
  src/elements/ItemsContainerElement.tsx
  src/elements/ItemsScrollerContainerElement.tsx
  src/hooks/useLocalStorage.tsx
  src/routes/index.tsx
  src/routes/movies/CollectionsView.tsx
  src/routes/movies/FavoritesView.tsx
  src/routes/movies/GenresView.tsx
  src/routes/movies/MoviesView.tsx
  src/routes/movies/SuggestionsView.tsx
  src/routes/movies/TrailersView.tsx
  src/routes/movies/index.tsx
  src/scripts/dom.js
  src/scripts/routes.js
  src/scripts/settings/userSettings.js
  src/strings/en-us.json
  src/types/interface.ts
Labels: typescript, cleanup

#4095 Migrate all legacy user views to react router
  src/components/viewManager/ViewManagerPage.tsx
  src/components/viewManager/viewManager.js
  src/routes/index.tsx
  src/routes/legacyRoutes/index.tsx
  src/routes/legacyRoutes/user.ts
  src/scripts/routes.js
Labels: cleanup

#4134 Exclude location.state from effect dependencies
  src/components/viewManager/ViewManagerPage.tsx
Labels: bug, regression

#4138 Fix resolving of the history back Promise
  src/components/appRouter.js
Labels: bug, regression

#4132 Migrate admin routes to react router
  src/routes/index.tsx
  src/routes/legacyRoutes/admin.ts
  src/routes/legacyRoutes/index.tsx
  src/scripts/routes.js
Labels: cleanup

#4135 Improve loading of date-fns
  .eslintrc.js
  src/components/activitylog.js
  src/components/dashboard/users/UserCardBox.tsx
  src/controllers/dashboard/dashboard.js
  src/controllers/dashboard/devices/devices.js
  src/controllers/dashboard/scheduledtasks/scheduledtasks.js
  src/scripts/dfnshelper.js
  src/scripts/globalize.js
  src/utils/dateFnsLocale.ts
  webpack.common.js
Labels: enhancement, cleanup

#4131 Set minimum version of npm
  fedora/jellyfin-web.spec
Labels: build

#4142 Optimize restoring views
  src/components/viewManager/ViewManagerPage.tsx
Labels: enhancement

#4166 Fix keyboard navigation for INPUT and TEXTAREA
  src/scripts/keyboardNavigation.js
Labels: bug, stable backport

#4147 Fix subtitle uploader on TV layout
  src/components/subtitleuploader/subtitleuploader.js
Labels: bug

#4143 Migrate plugin config pages to react-router
  src/components/ServerContentPage.tsx
  src/routes/index.tsx
  src/scripts/routes.js
Labels: cleanup

#4120 Add Unreleased SeriesStatus to filters
  src/components/filterdialog/filterdialog.template.html
  src/components/filtermenu/filtermenu.template.html
  src/strings/en-us.json
Labels: enhancement

#4157 Remove like/dislike filter
  src/components/filterdialog/filterdialog.js
  src/components/filterdialog/filterdialog.template.html
  src/components/userdatabuttons/userdatabuttons.js
  src/strings/en-us.json
Labels: cleanup

#4172 Fix item details banner image alignment
  src/assets/css/librarybrowser.scss
Labels: bug, stable backport

#4126 Add async loading of react pages
  package-lock.json
  package.json
  src/components/AsyncPage.tsx
  src/routes/asyncRoutes/admin.ts
  src/routes/asyncRoutes/index.tsx
  src/routes/asyncRoutes/user.ts
  src/routes/index.tsx
Labels: enhancement

#4150 Fix SubtitleUploader
  src/components/subtitleuploader/subtitleuploader.js
  src/components/subtitleuploader/subtitleuploader.template.html
Labels: bug

#4161 Adjust active devices in dashboard
  CONTRIBUTORS.md
  src/assets/css/dashboard.scss
  src/controllers/dashboard/dashboard.js
Labels: enhancement

#4171 Fix going to parent folder in directory browser
  src/components/directorybrowser/directorybrowser.js
Labels: bug

#4190 Fix null being a valid parental control level
  src/routes/user/userparentalcontrol.tsx
Labels: bug
