Repository jellyfin/jellyfin-web, pull requests merged in 2022-09, with the labels that each got.

#3859 Set mp2 unsupported for android devices
  src/scripts/browserDeviceProfile.js
Labels: bug

#3865 Fix loading indicator showing when loaded
  src/components/ConnectionRequired.tsx
Labels: bug

#3567 Convert Home to react
  src/components/Page.tsx
  src/components/tabbedview/tabbedview.js
  src/controllers/home.html
  src/controllers/home.js
  src/routes/home.tsx
  src/routes/index.tsx
  src/scripts/routes.js
Labels: typescript, cleanup

#3878 Fix sdk imports to improve build size
  src/apiclient.d.ts
  src/components/dashboard/users/UserCardBox.tsx
  src/components/dashboard/users/UserPasswordForm.tsx
  src/components/pages/UserEditPage.tsx
  src/components/pages/UserLibraryAccessPage.tsx
  src/components/pages/UserParentalControl.tsx
  src/components/pages/UserProfilePage.tsx
  src/components/pages/UserProfilesPage.tsx
  src/components/search/LiveTVSearchResults.tsx
  src/components/search/SearchResults.tsx
  src/components/search/SearchResultsRow.tsx
  src/components/search/SearchSuggestions.tsx
Labels: stable backport, cleanup

#3879 Webpack build improvements
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Labels: build

#3907 Use dynamic import for pdf.js
  src/plugins/pdfPlayer/plugin.js
Labels: enhancement

#3855 Add comic and book viewer to dark theme
  src/themes/dark/theme.css
Labels: feature

#3856 Make book table of contents prettier
  src/plugins/bookPlayer/style.scss
Labels: enhancement

#3908 Update to @jellyfin/sdk package
  package-lock.json
  package.json
  src/components/dashboard/users/AccessScheduleList.tsx
  src/components/dashboard/users/UserCardBox.tsx
  src/components/dashboard/users/UserPasswordForm.tsx
  src/components/search/LiveTVSearchResults.tsx
  src/components/search/SearchResults.tsx
  src/components/search/SearchResultsRow.tsx
  src/components/search/SearchSuggestions.tsx
  src/routes/user/useredit.tsx
  src/routes/user/userlibraryaccess.tsx
  src/routes/user/userparentalcontrol.tsx
  src/routes/user/userprofile.tsx
  src/routes/user/userprofiles.tsx
Labels: dependencies

#3767 Include collections in search
  src/components/search/SearchResults.tsx
Labels: feature

#3898 ComicsPlayer: Toggle buttons for page direction and double page view
  CONTRIBUTORS.md
  package-lock.json
  package.json
  src/components/slideshow/slideshow.js
  src/plugins/comicsPlayer/plugin.js
  src/plugins/comicsPlayer/style.scss
  src/scripts/settings/userSettings.js
  src/themes/dark/theme.css
Labels: feature

#3941 Defer loading of swiper until used
  src/components/slideshow/slideshow.js
  src/plugins/comicsPlayer/plugin.js
Labels: cleanup

#3877 Fix itemcontextmenu fails to update for items with no image metadata
  src/components/nowPlayingBar/nowPlayingBar.js
Labels: bug, stable backport

#3939 Fix PDF reader dark theme
  src/plugins/pdfPlayer/style.scss
Labels: bug

#3961 Remove naive scaling of video playback controls
  src/assets/css/videoosd.scss
Labels: enhancement

#3963 Bump version to 10.9.0
  package-lock.json
  package.json
Labels: cleanup

#3942 Add epubjs theme support to the book player
  src/plugins/bookPlayer/plugin.js
Labels: bug

#3965 Fix styling issues in book readers
  src/plugins/comicsPlayer/style.scss
  src/plugins/pdfPlayer/style.scss
  src/themes/dark/theme.css
Labels: cleanup

#3966 Add mini css plugin for production builds
  package-lock.json
  package.json
  webpack.common.js
Labels: build

#3968 Only allow jsx in jsx/tsx files
  .eslintrc.js
  src/index.jsx
  webpack.dev.js
  webpack.prod.js
Labels: cleanup

#3970 Add date episode added sorting
  src/controllers/shows/tvshows.js
  src/strings/en-us.json
Labels: enhancement

#3655 automatically switch to LocalAddress when accessible
  src/components/ServerConnections.js
Labels: enhancement, needs testing

#3972 Upgrade to node 16
  .ci/azure-pipelines-build.yml
  .github/workflows/lint.yml
  .npmrc
  deployment/Dockerfile.centos
  deployment/Dockerfile.debian
  deployment/Dockerfile.portable
  package-lock.json
  package.json
Labels: build
