Repository jellyfin/jellyfin-web, pull requests merged in 2022-05, with the labels that each got.

#3614 Check undefined streamInfo.url
  src/components/playback/playbackmanager.js
Labels: bug, stable backport

#3616 Revert some poor translations
  src/strings/en-us.json
Labels: stable backport, i18n

#3618 Fix backdrop being used on large screens in mobile layout
  src/controllers/itemDetails/index.js
Labels: bug, stable backport

#3604 Fix custom element creation
  src/controllers/dashboard/plugins/repositories/index.js
  src/controllers/session/login/index.js
  src/scripts/libraryMenu.js
Labels: bug, stable backport

#3621 Append year to title of content in video playback.
  src/controllers/playback/video/index.js
Labels: enhancement

#3628 Fix artists album lists
  src/controllers/itemDetails/index.js
  src/scripts/itembynamedetailpage.js
Labels: bug, stable backport

#3632 Create option for bold subtitles
  src/components/subtitlesettings/subtitleappearancehelper.js
  src/components/subtitlesettings/subtitlesettings.js
  src/components/subtitlesettings/subtitlesettings.template.html
  src/strings/en-gb.json
  src/strings/en-us.json
Labels: enhancement

#3076 Refactoring duplicate code
  src/components/dashboard/users/AccessContainer.tsx
  src/components/dashboard/users/SectionTitleContainer.tsx
  src/components/pages/NewUserPage.tsx
  src/components/pages/UserEditPage.tsx
  src/components/pages/UserLibraryAccessPage.tsx
  src/components/pages/UserParentalControl.tsx
  src/components/pages/UserPasswordPage.tsx
  src/components/pages/UserProfilesPage.tsx
Labels: hacktoberfest-accepted, cleanup

#3635 Fix SSA/ASS missing font
  src/plugins/htmlVideoPlayer/plugin.js
Labels: bug, stable backport

#3639 Add missing languages
  src/scripts/dfnshelper.js
  src/scripts/site.js
Labels: stable backport, i18n

#3627 Add shuffle button to movie collections
  src/controllers/movies/movies.html
  src/controllers/movies/movies.js
Labels: enhancement

#3637 Add WebP to the page detection list for comics
  src/plugins/comicsPlayer/plugin.js
Labels: bug, stable backport

#3643 Resolve worker URLs
  src/plugins/htmlVideoPlayer/plugin.js
Labels: bug, stable backport, p: tizen

#3642 Change CSS font-family by language preference
  CONTRIBUTORS.md
  package-lock.json
  package.json
  src/assets/css/fonts.scss
  src/scripts/globalize.js
  src/scripts/site.js
  src/styles/noto-sans/index.scss
  src/styles/noto-sans/tc-400-normal.scss
  src/styles/noto-sans/tc-700-normal.scss
Labels: stable backport

#3644 Migrate to @jellyfin/libass-wasm@4.1.0
  package-lock.json
  package.json
  src/plugins/htmlVideoPlayer/plugin.js
  webpack.common.js
Labels: bug, stable backport, dependencies

#3603 add eslint no-nested-ternary rule and fix violations
  .eslintrc.js
  src/components/favoriteitems.js
  src/components/homesections/homesections.js
  src/components/itemContextMenu.js
  src/components/libraryoptionseditor/libraryoptionseditor.js
  src/components/playback/playbackmanager.js
  src/components/scrollManager.js
  src/components/syncPlay/core/Helper.js
  src/controllers/dashboard/scheduledtasks/scheduledtasks.js
  src/controllers/movies/moviesrecommended.js
  src/controllers/playback/video/index.js
  src/controllers/shows/tvrecommended.js
  src/libraries/scroller.js
  src/scripts/browserDeviceProfile.js
  src/scripts/libraryMenu.js
Labels: cleanup

#3657 Remove play button highlighting
  src/controllers/itemDetails/index.html
Labels: stable backport, ui & ux

#3658 Add workaround for channel card images
  src/assets/css/livetv.scss
Labels: bug, stable backport

#3667 Enable Lint job on release branches
  .github/workflows/lint.yml
  src/plugins/htmlVideoPlayer/plugin.js
Labels: stable backport, build & ci

#3664 Bump @jellyfin/libass-wasm from 4.1.0 to 4.1.1
  package-lock.json
  package.json
Labels: bug, stable backport

#3662 Support searching for tv programs
  src/components/search/LiveTVSearchResults.tsx
Labels: bug, stable backport
