Repository jellyfin/jellyfin-web, pull requests merged in 2022-02, with the labels that each got.

#3377 Fix issue where wrong plugin could be disabled
  src/scripts/site.js
Labels: bug

#3385 Fix themes
  src/controllers/dashboard/devices/devices.js
  src/controllers/livetvstatus.js
  src/themes/appletv/theme.css
  src/themes/blueradiance/theme.css
  src/themes/light/theme.css
  src/themes/wmc/theme.css
Labels: ui & ux

#3380 Enable AV1 codec on webOS 5+ FHD
  src/scripts/browserDeviceProfile.js
Labels: p: webos, playback

#3420 Display physical dimensions of player
  src/plugins/htmlVideoPlayer/plugin.js
Labels: ui & ux

#3347 Stack toasts
  src/components/toast/toast.js
  src/components/toast/toast.scss
Labels: ui & ux

#3360 Show AlphaPicker if there is SortName
  src/components/alphaPicker/alphaPicker.js
  src/controllers/list.js
Labels: ui & ux

#3411 Allow navigation to the parent show/season/album
  src/assets/css/librarybrowser.scss
  src/controllers/itemDetails/index.js
Labels: ui & ux

#3241 Add DisableEmbeddedSubtitles support in editor
  CONTRIBUTORS.md
  src/components/libraryoptionseditor/libraryoptionseditor.js
  src/components/libraryoptionseditor/libraryoptionseditor.template.html
  src/strings/en-gb.json
  src/strings/en-us.json
Labels: backend

#3427 Reload backdrop on restore
  src/controllers/itemDetails/index.js
Labels: ui & ux

#3359 Fix page layouts for webOS
  src/controllers/list.html
  src/controllers/music/music.html
  src/controllers/session/login/index.html
  src/controllers/session/selectServer/index.html
Labels: p: webos, ui & ux

#3431 Check OPUS support on webOS
  src/scripts/browserDeviceProfile.js
Labels: p: webos, playback

#3415 Fix focus on Home tab
  src/components/homesections/homesections.js
Labels: ui & ux

#3355 Add Markdown to Login Disclaimer
  src/controllers/dashboard/general.html
  src/controllers/session/login/index.html
  src/controllers/session/login/index.js
  src/controllers/session/login/login.scss
  src/legacy/domParserTextHtml.js
  src/scripts/site.js
Labels: enhancement

#3445 Fix nowplayingbar not displaying when restoring the view
  src/components/nowPlayingBar/nowPlayingBar.js
Labels: regression

#3448 Add card padder icon for items with an image
  src/components/cardbuilder/card.scss
  src/components/cardbuilder/cardBuilder.js
  src/themes/appletv/theme.css
  src/themes/blueradiance/theme.css
  src/themes/light/theme.css
  src/themes/purplehaze/theme.css
  src/themes/wmc/theme.css
Labels: enhancement

#3451 Move rewatching to separate home screen section
  src/components/homeScreenSettings/homeScreenSettings.template.html
  src/components/homesections/homesections.js
Labels: enhancement

#3452 Update mixed library label
  src/components/mediaLibraryCreator/mediaLibraryCreator.js
  src/controllers/dashboard/library.js
  src/strings/en-us.json
Labels: bug, enhancement

#3433 [TypeScript] Disable implicit any
  package-lock.json
  package.json
  src/apiclient.d.ts
  src/components/alphaPicker/AlphaPickerComponent.tsx
  src/components/cardbuilder/cardBuilder.js
  src/components/dashboard/users/AccessScheduleList.tsx
  src/components/dashboard/users/BlockedTagList.tsx
  src/components/dashboard/users/ButtonElement.tsx
  src/components/dashboard/users/CheckBoxElement.tsx
  src/components/dashboard/users/CheckBoxListItem.tsx
  src/components/dashboard/users/InputElement.tsx
  src/components/dashboard/users/LinkEditUserPreferences.tsx
  src/components/dashboard/users/SectionTabs.tsx
  src/components/dashboard/users/SectionTitleButtonElement.tsx
  src/components/dashboard/users/SectionTitleLinkElement.tsx
  src/components/dashboard/users/SelectElement.tsx
  src/components/dashboard/users/SelectMaxParentalRating.tsx
  src/components/dashboard/users/SelectSyncPlayAccessElement.tsx
  src/components/dashboard/users/UserCardBox.tsx
  src/components/pages/NewUserPage.tsx
  src/components/pages/SearchPage.tsx
  src/components/pages/UserEditPage.tsx
  src/components/pages/UserLibraryAccessPage.tsx
  src/components/pages/UserParentalControl.tsx
  src/components/pages/UserProfilesPage.tsx
  src/components/search/LiveTVSearchResults.tsx
  src/components/search/SearchFields.tsx
  src/components/search/SearchResults.tsx
  src/components/search/SearchResultsRow.tsx
  src/components/search/SearchSuggestions.tsx
  src/global.d.ts
  src/scripts/dom.js
  tsconfig.json
Labels: enhancement

#3461 Fix page reload on return
  src/components/appRouter.js
Labels: bug, p: tizen, ui & ux

#3453 Add copy buttons to Media Info
  src/assets/css/librarybrowser.scss
  src/components/itemContextMenu.js
  src/components/itemMediaInfo/itemMediaInfo.js
  src/scripts/clipboard.js
  src/strings/en-us.json
  src/strings/ru.json
Labels: enhancement

#3465 Show slideshow OSD on click
  src/components/slideshow/slideshow.js
Labels: ui & ux

#3467 Return Promise from SyncPlay playRequest
  src/components/syncPlay/core/Controller.js
  src/components/syncPlay/ui/players/NoActivePlayer.js
Labels: bug

#3464 Fix minor issues with card padder icons
  src/components/cardbuilder/cardBuilder.js
  src/components/images/imageLoader.js
  src/components/images/style.scss
Labels: bug

#3018 Fix audio player overlapping on small screens
  src/components/remotecontrol/remotecontrol.js
  src/components/remotecontrol/remotecontrol.scss
Labels: bug
