Repository jellyfin/jellyfin-web, pull requests merged in 2022-10, with the labels that each got.

#3974 Add sonarjs eslint plugin
  .eslintrc.js
  package-lock.json
  package.json
  src/components/apphost.js
Labels: cleanup

#3976 Move SyncPlay code to a plugin
  src/components/playerstats/playerstats.js
  src/components/playlisteditor/playlisteditor.js
  src/config.json
  src/controllers/playback/video/index.js
  src/index.jsx
  src/plugins/syncPlay/core/Controller.js
  src/plugins/syncPlay/core/Helper.js
  src/plugins/syncPlay/core/Manager.js
  src/plugins/syncPlay/core/PlaybackCore.js
  src/plugins/syncPlay/core/QueueCore.js
  src/plugins/syncPlay/core/Settings.js
  src/plugins/syncPlay/core/index.js
  src/plugins/syncPlay/core/players/GenericPlayer.js
  src/plugins/syncPlay/core/players/PlayerFactory.js
  src/plugins/syncPlay/core/timeSync/TimeSync.js
  src/plugins/syncPlay/core/timeSync/TimeSyncCore.js
  src/plugins/syncPlay/core/timeSync/TimeSyncServer.js
  src/plugins/syncPlay/plugin.ts
  src/plugins/syncPlay/ui/groupSelectionMenu.js
  src/plugins/syncPlay/ui/groupSelectionMenu.scss
  src/plugins/syncPlay/ui/playbackPermissionManager.js
  src/plugins/syncPlay/ui/players/HtmlAudioPlayer.js
  src/plugins/syncPlay/ui/players/HtmlVideoPlayer.js
  src/plugins/syncPlay/ui/players/NoActivePlayer.js
  src/plugins/syncPlay/ui/players/QueueManager.js
  src/plugins/syncPlay/ui/settings/SettingsEditor.js
  src/plugins/syncPlay/ui/settings/editor.html
  src/scripts/libraryMenu.js
  src/scripts/serverNotifications.js
Labels: cleanup

#3983 Fix sonarjs no-collapsible-if
  .eslintrc.js
  src/components/appRouter.js
  src/components/cardbuilder/cardBuilder.js
  src/components/cardbuilder/chaptercardbuilder.js
  src/components/focusManager.js
  src/components/itemContextMenu.js
  src/components/itemHelper.js
  src/components/itemsrefresher.js
  src/components/listview/listview.js
  src/components/mediainfo/mediainfo.js
  src/components/nowPlayingBar/nowPlayingBar.js
  src/components/playback/playbackmanager.js
  src/components/playback/playerSelectionMenu.js
  src/components/recordingcreator/recordingbutton.js
  src/components/recordingcreator/recordingfields.js
  src/components/slideshow/slideshow.js
  src/components/subtitleeditor/subtitleeditor.js
  src/controllers/dashboard/dashboard.js
  src/elements/emby-input/emby-input.js
  src/elements/emby-itemscontainer/emby-itemscontainer.js
  src/elements/emby-slider/emby-slider.js
  src/elements/emby-tabs/emby-tabs.js
  src/index.jsx
  src/libraries/navdrawer/navdrawer.js
  src/libraries/scroller.js
  src/plugins/chromecastPlayer/plugin.js
  src/plugins/htmlVideoPlayer/plugin.js
  src/plugins/sessionPlayer/plugin.js
  src/plugins/youtubePlayer/plugin.js
  src/scripts/browser.js
  src/scripts/browserDeviceProfile.js
  src/scripts/libraryBrowser.js
  src/scripts/mouseManager.js
Labels: cleanup

#3987 Fix dialog closing flow
  src/components/dialogHelper/dialogHelper.js
  src/components/playback/playersettingsmenu.js
Labels: bug

#3980 Fix sonar issues
  .eslintrc.js
  src/components/filtermenu/filtermenu.js
  src/components/subtitlesync/subtitlesync.js
  src/controllers/dashboard/dashboard.js
  src/scripts/imagehelper.js
  src/scripts/serverNotifications.js
Labels: cleanup

#3990 Add no-return-assign eslint rule and fix issues
  .eslintrc.js
  src/components/channelMapper/channelMapper.js
  src/components/tunerPicker.js
  src/components/viewManager/viewManager.js
  src/controllers/dashboard/apikeys.js
  src/controllers/dashboard/dlna/profile.js
  src/controllers/dashboard/plugins/available/index.js
  src/controllers/livetvstatus.js
  src/scripts/libraryBrowser.js
Labels: cleanup

#3989 Add no-useless-constructor eslint rule and fix issues
  .eslintrc.js
  src/plugins/syncPlay/core/timeSync/TimeSyncServer.js
  src/plugins/syncPlay/ui/players/HtmlAudioPlayer.js
Labels: cleanup

#3992 Fix "major" sonar issues
  .eslintrc.js
  src/components/cardbuilder/cardBuilder.js
  src/components/playback/playbackmanager.js
  src/components/tunerPicker.js
  src/components/tvproviders/schedulesdirect.js
  src/components/tvproviders/xmltv.js
  src/controllers/livetvstatus.js
  src/libraries/scroller.js
  src/scripts/dom.js
Labels: cleanup

#3999 Fix sonarjs no-duplicated-branches
  .eslintrc.js
  src/components/cardbuilder/cardBuilder.js
  src/components/itemsrefresher.js
  src/components/recordingcreator/recordingfields.js
  src/elements/emby-itemscontainer/emby-itemscontainer.js
  src/elements/emby-ratingbutton/emby-ratingbutton.js
  src/plugins/htmlVideoPlayer/plugin.js
  src/scripts/browserDeviceProfile.js
Labels: cleanup

#4000 Fix sonarjs no-identical-functions
  .eslintrc.js
  src/components/dialogHelper/dialogHelper.js
  src/components/itemsrefresher.js
  src/controllers/dashboard/dashboard.js
  src/controllers/playback/video/index.js
  src/plugins/htmlAudioPlayer/plugin.js
  src/plugins/htmlVideoPlayer/plugin.js
  src/scripts/editorsidebar.js
Labels: cleanup

#4004 chore: add Basque display language option
  src/components/displaySettings/displaySettings.template.html
  src/scripts/dfnshelper.js
  src/scripts/site.js
Labels: enhancement

#4003 chore: add Basque display language option
  src/components/displaySettings/displaySettings.template.html
  src/index.jsx
  src/scripts/dfnshelper.js
Labels: enhancement

#4005 Fix locale with suffix
  src/components/dashboard/users/UserCardBox.tsx
  src/controllers/dashboard/dashboard.js
  src/controllers/dashboard/devices/devices.js
  src/controllers/dashboard/scheduledtasks/scheduledtasks.js
  src/scripts/dfnshelper.js
Labels: bug, stable backport

#4010 Remove resizeObserver
  src/plugins/htmlVideoPlayer/plugin.js
Labels: cleanup

#4013 Fix sonarjs no-redundant-jump
  .eslintrc.js
  src/components/libraryoptionseditor/libraryoptionseditor.js
  src/components/playback/playerSelectionMenu.js
  src/components/recordingcreator/recordingcreator.js
  src/controllers/itemDetails/index.js
  src/controllers/list.js
  src/controllers/session/forgotPassword/index.js
  src/elements/emby-itemscontainer/emby-itemscontainer.js
  src/plugins/syncPlay/core/QueueCore.js
Labels: cleanup

#4009 Fix legacy browsers
  cssnano.config.js
  webpack.common.js
Labels: bug, p: webos, p: tizen

#4025 Enable eslint array-callback-return foreach checking
  .eslintrc.js
  src/components/htmlMediaHelper.js
  src/controllers/itemDetails/index.js
  src/scripts/multiDownload.js
  src/scripts/shell.js
Labels: cleanup

#4014 Fix sonarjs no-small-switch
  .eslintrc.js
  src/components/htmlMediaHelper.js
  src/components/subtitleeditor/subtitleeditor.js
  src/controllers/livetv/livetvrecordings.js
  src/controllers/movies/moviesrecommended.js
  src/controllers/music/musicrecommended.js
  src/controllers/shows/tvrecommended.js
  src/plugins/comicsPlayer/plugin.js
Labels: cleanup

#4027 Use setup-node built-in npm cache
  .github/workflows/lint.yml
Labels: github-actions, ci

#4001 Fix sonarjs prefer-single-boolean-return
  .eslintrc.js
  src/components/apphost.js
  src/components/backdrop/backdrop.js
  src/components/focusManager.js
  src/components/htmlMediaHelper.js
  src/components/indicators/indicators.js
  src/components/itemHelper.js
  src/components/playback/playbackmanager.js
  src/components/scrollManager.js
  src/elements/emby-select/emby-select.js
  src/plugins/bookPlayer/plugin.js
  src/plugins/comicsPlayer/plugin.js
  src/plugins/htmlAudioPlayer/plugin.js
  src/plugins/pdfPlayer/plugin.js
  src/scripts/browser.js
  src/scripts/browserDeviceProfile.js
  src/scripts/gamepadtokey.js
  src/scripts/mouseManager.js
Labels: cleanup

#4031 Fix bundle names for packages under namespaces
  webpack.common.js
Labels: build

#4026 Add es-check to verify builds produce valid es5 code
  .escheckrc
  .github/workflows/lint.yml
  package-lock.json
  package.json
  webpack.common.js
Labels: ci

#4032 Enable eslint sonar prefer-object-literal
  .eslintrc.js
  src/components/imageeditor/imageeditor.js
  src/components/playback/playbackmanager.js
  src/components/subtitlesettings/subtitlesettings.js
  src/controllers/wizard/remote/index.js
  src/scripts/browserDeviceProfile.js
Labels: cleanup

#4033 Allow zero as MaxParentalRating value
  src/routes/user/userparentalcontrol.tsx
Labels: enhancement

#4036 Move skinBody class to root react element
  src/components/ConnectionRequired.tsx
  src/index.html
Labels: cleanup

#4039 Fix card cropping on item details page
  src/assets/css/librarybrowser.scss
Labels: bug, stable backport

#4028 Change settings menu item name to "Euskara"
  src/components/displaySettings/displaySettings.template.html
Labels: enhancement

#4052 Remove apiclient appstorage usage
  src/scripts/settings/appSettings.js
Labels: cleanup

#4056 Fix button group position on ItemDetails
  src/assets/css/librarybrowser.scss
  src/components/listview/listview.js
  src/components/listview/listview.scss
  src/controllers/itemDetails/index.js
Labels: bug

#4054 Remove string replaceAll implementations
  src/components/alert.js
  src/components/apphost.js
  src/components/confirm/confirm.js
  src/components/prompt/prompt.js
  src/components/viewContainer.js
  src/scripts/globalize.js
Labels: cleanup

#4057 Add toPercent utility for compatibility
  src/elements/emby-progressring/emby-progressring.js
  src/utils/number.ts
Labels: bug, regression

#4067 Enable react strict mode
  src/index.jsx
Labels: cleanup

#4058 Add eslint no-shadow rule and fix violations
  .eslintrc.js
  src/components/appRouter.js
  src/components/backdrop/backdrop.js
  src/components/channelMapper/channelMapper.js
  src/components/directorybrowser/directorybrowser.js
  src/components/guide/guide.js
  src/components/imageeditor/imageeditor.js
  src/components/maintabsmanager.js
  src/components/playback/brightnessosd.js
  src/components/playback/playbackmanager.js
  src/components/shortcuts.js
  src/components/slideshow/slideshow.js
  src/components/tvproviders/schedulesdirect.js
  src/components/tvproviders/xmltv.js
  src/controllers/dashboard/encodingsettings.js
  src/controllers/itemDetails/index.js
  src/controllers/movies/moviecollections.js
  src/controllers/movies/movies.js
  src/controllers/movies/movietrailers.js
  src/controllers/music/musicalbums.js
  src/controllers/music/musicartists.js
  src/controllers/music/musicrecommended.js
  src/controllers/music/songs.js
  src/controllers/shows/episodes.js
  src/controllers/shows/tvshows.js
  src/elements/emby-scroller/emby-scroller.js
  src/elements/emby-textarea/emby-textarea.js
  src/plugins/chromecastPlayer/plugin.js
  src/plugins/htmlVideoPlayer/plugin.js
  src/plugins/youtubePlayer/plugin.js
  src/scripts/gamepadtokey.js
Labels: cleanup

#4084 Fix double routing of root path
  src/components/ConnectionRequired.tsx
  src/components/appRouter.js
  src/routes/index.tsx
  src/scripts/routes.js
Labels: bug, regression

#4089 Fix double escape HTML
  src/components/remotecontrol/remotecontrol.js
Labels: bug, regression, stable backport

#4098 Fix AlphaPicker padding
  src/assets/css/librarybrowser.scss
Labels: bug, regression

#4099 fix build Windows
  webpack.common.js
Labels: bug

#4080 Update server and quick connect icons
  src/controllers/session/selectServer/index.js
  src/controllers/user/menu/index.html
  src/scripts/libraryMenu.js
Labels: enhancement

#4101 Fix pointer events not propogating to dashboard pages
  src/assets/css/librarybrowser.scss
Labels: bug, regression

#3944 Metadata loss warning while renaming libraries
  src/controllers/dashboard/library.js
  src/strings/en-us.json
Labels: enhancement

#4102 Move castSenderApi to plugin directory
  src/plugins/chromecastPlayer/castSenderApi.js
  src/plugins/chromecastPlayer/plugin.js
Labels: cleanup

#4081 Add search bar for plugin catalogue
  src/controllers/dashboard/plugins/available/index.html
  src/controllers/dashboard/plugins/available/index.js
Labels: feature, hacktoberfest-accepted

#4103 Fix label creation for plugin search input (#4079)
  src/controllers/dashboard/plugins/installed/index.html
Labels: bug

#4104 Add device logos for Roku and Finamp
  src/assets/img/devices/finamp.svg
  src/assets/img/devices/roku.svg
  src/scripts/imagehelper.js
Labels: enhancement

#4069 Fix images sometimes not un-blurring
  CONTRIBUTORS.md
  src/components/images/imageLoader.js
Labels: bug, stable backport, ui & ux

#4110 Fix chunk names
  src/components/appRouter.js
  src/scripts/globalize.js
Labels: cleanup

#4113 Fix sdk dependencies in lockfile
  package-lock.json
Labels: bug

#4094 Accept arbitrary precision for community rating
  CONTRIBUTORS.md
  src/components/metadataEditor/metadataEditor.template.html
Labels: bug

#4117 Backport PR #4094 to 10.8 release
  CONTRIBUTORS.md
  src/components/metadataEditor/metadataEditor.template.html
Labels: bug

#4123 Add react loading component
  src/components/ConnectionRequired.tsx
  src/components/loading/LoadingComponent.tsx
Labels: enhancement

#4083 Refactor ConnectionState to a shared enum
  src/apiclient.d.ts
  src/components/ConnectionRequired.tsx
  src/components/appRouter.js
  src/controllers/session/addServer/index.js
  src/controllers/session/selectServer/index.js
  src/utils/jellyfin-apiclient/ConnectionState.ts
Labels: cleanup
