Repository jellyfin/jellyfin-web, pull requests merged in 2023-04, with the labels that each got.

#4477 Remove all trailing colons from translations
  src/strings/en-us.json
Labels: ui & ux, cleanup

#4481 revert asyncRoutes to legacyRoutes
  src/components/tabbedview/tabbedview.js
  src/controllers/dashboard/users/useredit.html
  src/controllers/dashboard/users/useredit.js
  src/controllers/dashboard/users/userlibraryaccess.html
  src/controllers/dashboard/users/userlibraryaccess.js
  src/controllers/dashboard/users/usernew.html
  src/controllers/dashboard/users/usernew.js
  src/controllers/dashboard/users/userparentalcontrol.html
  src/controllers/dashboard/users/userparentalcontrol.js
  src/controllers/dashboard/users/userpassword.html
  src/controllers/dashboard/users/userpasswordpage.js
  src/controllers/dashboard/users/userprofiles.html
  src/controllers/dashboard/users/userprofilespage.js
  src/controllers/home.html
  src/controllers/home.js
  src/controllers/movies/moviecollections.js
  src/controllers/movies/moviegenres.js
  src/controllers/movies/movies.html
  src/controllers/movies/movies.js
  src/controllers/movies/moviesrecommended.js
  src/controllers/movies/movietrailers.js
  src/controllers/user/profile/index.html
  src/controllers/user/profile/index.js
  src/routes/asyncRoutes/user.ts
  src/routes/index.tsx
  src/routes/legacyRoutes/admin.ts
  src/routes/legacyRoutes/user.ts
Labels: enhancement

#4485 fix: dead link
  src/controllers/dashboard/encodingsettings.html
Labels: bug

#4385 Drop progressive transcoding in web client
  src/scripts/browserDeviceProfile.js
Labels: bug, stable backport, playback

#4482 Add experimental routes
  src/App.tsx
  src/routes/AsyncRoute.tsx
  src/routes/LegacyRoute.tsx
  src/routes/appRoutes/asyncRoutes/user.ts
  src/routes/appRoutes/index.tsx
  src/routes/appRoutes/legacyRoutes/admin.ts
  src/routes/appRoutes/legacyRoutes/public.ts
  src/routes/appRoutes/legacyRoutes/user.ts
  src/routes/experimentalAppRoutes/asyncRoutes/admin.ts
  src/routes/experimentalAppRoutes/asyncRoutes/user.ts
  src/routes/experimentalAppRoutes/index.tsx
  src/routes/experimentalAppRoutes/legacyRoutes/admin.ts
  src/routes/experimentalAppRoutes/legacyRoutes/public.ts
  src/routes/experimentalAppRoutes/legacyRoutes/user.ts
  src/routes/index.tsx
Labels: enhancement

#4471 Remove commented out code
  CONTRIBUTORS.md
  src/components/dialogHelper/dialogHelper.js
  src/components/filtermenu/filtermenu.js
  src/components/htmlMediaHelper.js
  src/components/multiSelect/multiSelect.js
  src/components/playback/playbackmanager.js
  src/libraries/scroller.js
Labels: cleanup

#4489 Update unstable sdk version
  package-lock.json
Labels: dependencies, npm

#4490 Render navigation elements with react
  src/App.tsx
  src/components/viewContainer.js
  src/index.html
  src/index.jsx
Labels: cleanup

#4435 Add video volume change on mouse scroll
  src/controllers/playback/video/index.js
Labels: feature

#4492 Add the tonemap mode options
  src/controllers/dashboard/encodingsettings.html
  src/controllers/dashboard/encodingsettings.js
  src/strings/en-us.json
  src/strings/zh-cn.json
Labels: feature, stable backport

#4499 Allow json file imports in typescript files
  tsconfig.json
Labels: build

#4500 Move fetchLocal function to utils
  src/scripts/settings/webSettings.js
  src/utils/fetchLocal.ts
Labels: cleanup

#4502 Update CODEOWNERS
  .github/CODEOWNERS
Labels: cleanup

#4501 Add comment when rebase command fails
  .github/workflows/commands.yml
Labels: github-actions, ci

#4503 Fix missing issue id for rebase failed comment
  .github/workflows/commands.yml
Labels: github-actions, ci

#4505 Fix missing invalid issue number for rebase failed comment
  .github/workflows/commands.yml
Labels: github-actions, ci

#4506 Add indexes to simplify route imports
  src/routes/appRoutes/asyncRoutes/index.ts
  src/routes/appRoutes/index.tsx
  src/routes/appRoutes/legacyRoutes/index.ts
  src/routes/experimentalAppRoutes/asyncRoutes/index.ts
  src/routes/experimentalAppRoutes/index.tsx
  src/routes/experimentalAppRoutes/legacyRoutes/index.ts
Labels: cleanup

#4497 Fix rewind and fast forward buttons not showing on audio books in mobile layout
  src/components/remotecontrol/remotecontrol.js
Labels: feature

#4441 Show clock in TV layout
  src/scripts/libraryMenu.js
  src/styles/librarybrowser.scss
Labels: feature

#4496 Fix info header not updated on version change
  src/controllers/itemDetails/index.js
Labels: enhancement

#4463 Fix previousTrack click eventlistener to avoid erroneous calls
  src/components/nowPlayingBar/nowPlayingBar.js
  src/components/remotecontrol/remotecontrol.js
Labels: bug

#4509 Fix centos docker build maybe
  deployment/Dockerfile.centos
Labels: build

#4221 Fix too long URLs on getItems() when too many ids are provided
  CONTRIBUTORS.md
  src/components/notifications/notifications.js
  src/components/playback/playbackmanager.js
  src/plugins/chromecastPlayer/plugin.js
  src/plugins/syncPlay/core/Helper.js
  src/utils/jellyfin-apiclient/getItems.ts
Labels: bug

#4357 feat: migrate from JavascriptSubtitlesOctopus to JASSUB
  .escheckrc
  babel.config.js
  package-lock.json
  package.json
  src/plugins/htmlVideoPlayer/plugin.js
  src/plugins/htmlVideoPlayer/style.scss
  webpack.common.js
Labels: enhancement

#4510 Remove babel typescript preset dependency
  package-lock.json
  package.json
Labels: cleanup

#4163 Reduce tv card scaling
  src/components/cardbuilder/card.scss
Labels: enhancement

#4536 Drop progressive transcoding in web client
  src/scripts/browserDeviceProfile.js
Labels: bug, playback

#4541 Escape device id in raw HTML.
  src/controllers/dashboard/devices/devices.js
  src/scripts/imagehelper.js
Labels: security

#4544 Fix eslint warnings
  src/components/ConnectionRequired.tsx
  src/components/ServerContentPage.tsx
  src/components/common/ViewItemsContainer.tsx
  src/components/dashboard/users/UserPasswordForm.tsx
  src/components/search/SearchResults.tsx
  src/components/viewManager/ViewManagerPage.tsx
  src/elements/emby-scroller/Scroller.tsx
  src/routes/user/useredit.tsx
  src/routes/user/usernew.tsx
  src/routes/user/userparentalcontrol.tsx
  src/routes/user/userprofile.tsx
  src/types/viewManager.ts
  src/utils/jellyfin-apiclient/getItems.ts
Labels: cleanup

#4542 Refactor backdrop and header to separate components
  src/App.tsx
  src/components/AppHeader.tsx
  src/components/Backdrop.tsx
Labels: cleanup
