Repository jellyfin/jellyfin-web, pull requests merged in 2023-03, with the labels that each got.

#4373 Add dashboard to plugin manager.
  src/components/pluginManager.js
Labels: enhancement

#4387 Move public pages to react-router
  src/components/appRouter.js
  src/index.jsx
  src/routes/index.tsx
  src/routes/legacyRoutes/index.tsx
  src/routes/legacyRoutes/public.ts
  src/scripts/routes.js
Labels: cleanup

#4381 Allow setting DummyChapterCount to 0 to disable dummy chapters
  src/controllers/dashboard/metadataimages.html
Labels: bug

#4391 Support markdown in item descriptions
  src/controllers/itemDetails/index.js
Labels: feature

#4394 Fix Time Until Next Episode Text Overflow
  src/components/upnextdialog/upnextdialog.scss
Labels: bug

#4389 Remove old Emby (3.x) version checks
  src/components/playback/playbackmanager.js
  src/controllers/dashboard/devices/devices.js
  src/controllers/itemDetails/index.js
Labels: cleanup

#4395 Fix installed plugin version html
  src/controllers/dashboard/plugins/add/index.js
Labels: bug, regression, stable backport

#4320 Add eslint max-params rule with a max of 7 parameters
  .eslintrc.js
  CONTRIBUTORS.md
  src/components/cardbuilder/cardBuilder.js
  src/components/guide/guide.js
  src/components/imageeditor/imageeditor.js
  src/components/playback/playbackmanager.js
  src/components/userdatabuttons/userdatabuttons.js
Labels: cleanup

#4399 Update hls.js to 1.3.4
  package-lock.json
  package.json
  src/plugins/htmlAudioPlayer/plugin.js
  src/plugins/htmlVideoPlayer/plugin.js
  webpack.common.js
Labels: enhancement, dependencies, npm

#4115 Fix special feature subtext display
  src/strings/en-us.json
Labels: feature

#4403 Add eslint radix rule for parseInt
  .eslintrc.js
  src/components/accessSchedule/accessSchedule.js
  src/components/activitylog.js
  src/components/cardbuilder/cardBuilder.js
  src/components/groupedcards.js
  src/components/guide/guide.js
  src/components/imageeditor/imageeditor.js
  src/components/itemMediaInfo/itemMediaInfo.js
  src/components/itemidentifier/itemidentifier.js
  src/components/libraryoptionseditor/libraryoptionseditor.js
  src/components/mediaLibraryCreator/mediaLibraryCreator.js
  src/components/mediaLibraryEditor/mediaLibraryEditor.js
  src/components/metadataEditor/metadataEditor.js
  src/components/playback/mediasession.js
  src/components/playback/playbackmanager.js
  src/components/playback/playersettingsmenu.js
  src/components/playback/playqueuemanager.js
  src/components/recordingcreator/recordingfields.js
  src/components/recordingcreator/recordinghelper.js
  src/components/recordingcreator/seriesrecordingeditor.js
  src/components/refreshdialog/refreshdialog.js
  src/components/remotecontrol/remotecontrol.js
  src/components/shortcuts.js
  src/controllers/dashboard/dlna/profile.js
  src/controllers/dashboard/encodingsettings.js
  src/controllers/dashboard/library.js
  src/controllers/dashboard/scheduledtasks/scheduledtask.js
  src/controllers/dashboard/streaming.js
  src/controllers/livetv/livetvsuggested.js
  src/controllers/music/musicrecommended.js
  src/controllers/playback/video/index.js
  src/controllers/shows/tvrecommended.js
  src/elements/emby-itemscontainer/emby-itemscontainer.js
  src/elements/emby-progressbar/emby-progressbar.js
  src/elements/emby-scrollbuttons/emby-scrollbuttons.js
  src/elements/emby-scroller/Scroller.tsx
  src/elements/emby-tabs/emby-tabs.js
  src/elements/emby-textarea/emby-textarea.js
  src/plugins/chromecastPlayer/plugin.js
  src/plugins/pdfPlayer/plugin.js
  src/plugins/syncPlay/core/Manager.js
  src/routes/movies/index.tsx
  src/routes/user/useredit.tsx
  src/scripts/browser.js
  src/scripts/serverNotifications.js
  src/scripts/settings/appSettings.js
  src/scripts/settings/userSettings.js
Labels: cleanup

#4401 Add plugin types
  src/components/displaySettings/displaySettings.js
  src/components/playback/playbackmanager.js
  src/plugins/backdropScreensaver/plugin.js
  src/plugins/bookPlayer/plugin.js
  src/plugins/chromecastPlayer/plugin.js
  src/plugins/comicsPlayer/plugin.js
  src/plugins/experimentalWarnings/plugin.js
  src/plugins/htmlAudioPlayer/plugin.js
  src/plugins/htmlVideoPlayer/plugin.js
  src/plugins/logoScreensaver/plugin.js
  src/plugins/pdfPlayer/plugin.js
  src/plugins/photoPlayer/plugin.js
  src/plugins/playAccessValidation/plugin.js
  src/plugins/sessionPlayer/plugin.js
  src/plugins/syncPlay/plugin.ts
  src/plugins/youtubePlayer/plugin.js
  src/scripts/libraryMenu.js
  src/scripts/screensavermanager.js
  src/types/plugin.ts
Labels: typescript, cleanup

#3800 Remove NPM prepare script
  .ci/azure-pipelines-build.yml
  .github/workflows/lint.yml
  .github/workflows/tsc.yml
  debian/rules
  deployment/Dockerfile.docker
  deployment/build.portable
  fedora/jellyfin-web.spec
  package.json
  scripts/prepare.js
Labels: cleanup

#4199 Add setting for collection management
  package-lock.json
  src/components/itemContextMenu.js
  src/routes/user/useredit.tsx
Labels: feature

#4262 Add setting for ParallelImageEncodingLimit
  src/controllers/dashboard/general.html
  src/controllers/dashboard/general.js
  src/strings/en-us.json
Labels: enhancement

#4408 fix(hls): playback should work without bundling hls
  package-lock.json
  package.json
  webpack.common.js
Labels: bug, upstream

#4437 Add merge conflict comment
  .github/workflows/automation.yml
Labels: ci

#4440 Fix the stale action removing the merge conflict label when not fixed
  .github/workflows/repo-stale.yaml
Labels: github-actions, ci

#4154 Add Audio VBR setting
  src/controllers/dashboard/encodingsettings.html
  src/controllers/dashboard/encodingsettings.js
  src/strings/en-us.json
Labels: feature

#4425 Use form validation to ensure required fields are filled on submission
  src/components/mediaLibraryCreator/mediaLibraryCreator.js
  src/components/mediaLibraryCreator/mediaLibraryCreator.template.html
Labels: bug

#4423 Update SyncPlay references to use plugin
  src/components/playerstats/playerstats.js
  src/components/playlisteditor/playlisteditor.js
  src/components/pluginManager.js
  src/controllers/playback/video/index.js
  src/plugins/syncPlay/plugin.ts
  src/plugins/syncPlay/ui/groupSelectionMenu.js
  src/plugins/syncPlay/ui/settings/SettingsEditor.js
  src/scripts/serverNotifications.js
  src/types/plugin.ts
Labels: cleanup
