Repository jellyfin/jellyfin-web, pull requests merged in 2023-11, with the labels that each got.

#4930 Fix quality check workflows
  .github/workflows/pr-suggestions.yml
  .github/workflows/quality.yml
Labels: regression, github-actions, ci

#4834 Migrate React Router to React Data Router pattern
  CONTRIBUTORS.md
  src/RootApp.tsx
  src/RootAppRouter.tsx
  src/apps/dashboard/App.tsx
  src/apps/dashboard/routes/_asyncRoutes.ts
  src/apps/dashboard/routes/routes.tsx
  src/apps/experimental/App.tsx
  src/apps/experimental/routes/routes.tsx
  src/apps/stable/App.tsx
  src/apps/stable/AppLayout.tsx
  src/apps/stable/AppRouter.tsx
  src/apps/stable/routes/routes.tsx
  src/components/router/AsyncRoute.tsx
  src/components/router/HistoryRouter.tsx
  src/components/router/LegacyRoute.tsx
  src/components/router/Redirect.tsx
  src/hooks/useLegacyRouterSync.ts
Labels: enhancement, hacktoberfest-accepted

#4929 fix jittering in emby-checkbox
  src/elements/emby-checkbox/emby-checkbox.scss
Labels: bug, p: webos, p: tizen, ui & ux

#4880 Use sort options based on view type
  src/apps/experimental/components/library/SortButton.tsx
  src/utils/items.ts
Labels: hacktoberfest-accepted, typescript, cleanup

#4931 Bump jellyfin-apiclient to v1.11.0
  package-lock.json
  package.json
Labels: dependencies, npm

#4924 Add check for quick connect enabled in menu
  src/components/toolbar/AppUserMenu.tsx
  src/hooks/useQuickConnect.ts
Labels: bug

#4946 Remove H264 10bit support on Samsung TV (Tizen) (Backport #4797)
  src/scripts/browserDeviceProfile.js
Labels: bug, p: tizen, playback

#4890 Show nested chapters in bookplayer TOC
  src/plugins/bookPlayer/style.scss
  src/plugins/bookPlayer/tableOfContents.js
Labels: enhancement, hacktoberfest-accepted

#4891 Fix playback control issues with chromecast
  src/components/nowPlayingBar/nowPlayingBar.js
  src/components/remotecontrol/remotecontrol.js
  src/components/shortcuts.js
  src/controllers/itemDetails/index.js
  src/plugins/chromecastPlayer/plugin.js
Labels: bug, enhancement, hacktoberfest-accepted

#4906 Remove useless fragments
  .eslintrc.js
  src/apps/experimental/components/library/GenresItemsContainer.tsx
  src/apps/experimental/components/library/filter/FilterButton.tsx
  src/components/ServerContentPage.tsx
  src/components/loading/LoadingComponent.tsx
  src/components/viewManager/ViewManagerPage.tsx
Labels: hacktoberfest-accepted, cleanup

#4938 Remove FLAC Audio in Video Support for Tizen
  src/scripts/browserDeviceProfile.js
Labels: bug, p: tizen, playback

#4958 Fix legacy
  package-lock.json
  package.json
  src/index.jsx
  src/manifest.json
Labels: bug, regression

#4919 Add music view
  src/apps/experimental/components/library/ItemsView.tsx
  src/apps/experimental/routes/asyncRoutes/user.ts
  src/apps/experimental/routes/legacyRoutes/user.ts
  src/apps/experimental/routes/music/index.tsx
  src/types/listOptions.ts
Labels: enhancement, hacktoberfest-accepted, typescript

#4973 Add abortable fetch polyfill
  src/index.jsx
Labels: bug, regression

#4993 Remove FLAC Audio in Video Support for Tizen (Backport #4938)
  src/scripts/browserDeviceProfile.js
Labels: bug, p: tizen, playback

#4992 Fix jittering in emby-checkbox (Backport #4929)
  src/elements/emby-checkbox/emby-checkbox.scss
Labels: bug, p: webos, p: tizen

#4923 Randomize backdrop images in screensaver
  src/components/slideshow/slideshow.js
  src/plugins/backdropScreensaver/plugin.js
Labels: enhancement, hacktoberfest-accepted

#4941 Add mks file support to subtitle uploader component and template
  src/components/subtitleuploader/subtitleuploader.js
  src/components/subtitleuploader/subtitleuploader.template.html
Labels: enhancement

#4920 Hide image type and year in certain views
  src/apps/experimental/components/library/ViewSettingsButton.tsx
Labels: enhancement, hacktoberfest-accepted, cleanup

#4922 Hide AppTabs component if path has no tab.
  src/apps/experimental/components/AppToolbar/index.tsx
Labels: hacktoberfest-accepted
