Repository jellyfin/jellyfin-web, pull requests merged in 2023-05, with the labels that each got.

#4547 Refactor app structure
  README.md
  src/RootApp.tsx
  src/apps/experimental/App.tsx
  src/apps/experimental/routes/AppRoutes.tsx
  src/apps/experimental/routes/asyncRoutes/admin.ts
  src/apps/experimental/routes/asyncRoutes/index.ts
  src/apps/experimental/routes/asyncRoutes/user.ts
  src/apps/experimental/routes/legacyRoutes/admin.ts
  src/apps/experimental/routes/legacyRoutes/index.ts
  src/apps/experimental/routes/legacyRoutes/public.ts
  src/apps/experimental/routes/legacyRoutes/user.ts
  src/apps/stable/App.tsx
  src/apps/stable/routes/AppRoutes.tsx
  src/apps/stable/routes/asyncRoutes/index.ts
  src/apps/stable/routes/asyncRoutes/user.ts
  src/apps/stable/routes/legacyRoutes/admin.ts
  src/apps/stable/routes/legacyRoutes/index.ts
  src/apps/stable/routes/legacyRoutes/public.ts
  src/apps/stable/routes/legacyRoutes/user.ts
  src/components/router/AsyncRoute.tsx
  src/components/router/LegacyRoute.tsx
  src/index.jsx
  src/routes/index.tsx
Labels: cleanup

#4554 Remove duplicated app elements
  src/RootApp.tsx
Labels: bug, regression

#4553 Unhide PlayNextEpisodeAutomatically on TV
  src/components/playbackSettings/playbackSettings.js
  src/components/playbackSettings/playbackSettings.template.html
Labels: bug

#4559 Fix getter return value bugs
  src/components/scrollManager.js
  src/legacy/focusPreventScroll.js
  src/scripts/dom.js
Labels: cleanup

#4561 Fix bottom video controls don't auto-hide
  src/controllers/playback/video/index.js
Labels: bug

#4564 Fix bottom video controls don't auto-hide
  src/controllers/playback/video/index.js
Labels: bug

#4563 Unhide PlayNextEpisodeAutomatically on TV
  src/components/playbackSettings/playbackSettings.js
  src/components/playbackSettings/playbackSettings.template.html
Labels: bug

#4552 Refactor `for` loops to `for-of` loops
  src/components/cardbuilder/cardBuilder.js
  src/components/homesections/homesections.js
Labels: cleanup

#4558 Add eslint rules for promise issues
  .eslintrc.js
  src/apps/experimental/routes/home.tsx
  src/apps/experimental/routes/movies/GenresView.tsx
  src/apps/experimental/routes/movies/SuggestionsView.tsx
  src/apps/experimental/routes/movies/index.tsx
  src/apps/stable/routes/user/useredit.tsx
  src/apps/stable/routes/user/userlibraryaccess.tsx
  src/apps/stable/routes/user/usernew.tsx
  src/apps/stable/routes/user/userparentalcontrol.tsx
  src/apps/stable/routes/user/userpassword.tsx
  src/apps/stable/routes/user/userprofile.tsx
  src/apps/stable/routes/user/userprofiles.tsx
  src/components/ConnectionRequired.tsx
  src/components/common/Filter.tsx
  src/components/common/GenresItemsContainer.tsx
  src/components/common/NewCollection.tsx
  src/components/common/SelectView.tsx
  src/components/common/Shuffle.tsx
  src/components/common/Sort.tsx
  src/components/common/ViewItemsContainer.tsx
  src/components/dashboard/users/UserPasswordForm.tsx
  src/components/search/LiveTVSearchResults.tsx
  src/components/search/SearchResults.tsx
  src/components/search/SearchSuggestions.tsx
  src/elements/emby-button/LinkButton.tsx
  src/scripts/datetime.js
  src/utils/dashboard.js
Labels: cleanup

#4571 Add useWebConfig hook
  src/RootApp.tsx
  src/hooks/useWebConfig.tsx
  src/types/webConfig.ts
Labels: enhancement

#4577 Fix for position time bug for remote control player
  src/components/remotecontrol/remotecontrol.js
Labels: bug

#4557 Add support for absolute imports
  .eslintrc.js
  tsconfig.json
  webpack.common.js
Labels: cleanup

#4583 Add enum for library tab values
  src/components/homeScreenSettings/homeScreenSettings.js
  src/controllers/livetv/livetvsuggested.js
  src/controllers/movies/moviesrecommended.js
  src/controllers/music/musicrecommended.js
  src/controllers/shows/tvrecommended.js
  src/types/libraryTab.ts
Labels: cleanup

#4570 Add prefer string starts/ends with eslint rule
  .eslintrc.js
  src/components/metadataEditor/metadataEditor.js
Labels: cleanup

#4581 Fix white background on video refresh
  src/controllers/playback/video/index.js
Labels: bug

#4587 Remove error logs for checks expected to fail
  src/components/scrollManager.js
  src/legacy/focusPreventScroll.js
  src/scripts/dom.js
Labels: cleanup

#4586 Add path checking for canGoBack
  src/components/router/appRouter.js
Labels: bug, regression

#4589 Fix xss in api key page
  src/controllers/dashboard/apikeys.js
Labels: bug, security

#4590 Fix xss in api key page
  src/controllers/dashboard/apikeys.js
Labels: bug, security

#4591 Fix QuickConnect code not displaying in Spanish
  src/strings/es.json
Labels: bug

#4584 Add initial experimental layout with MUI components
  package-lock.json
  package.json
  src/apps/experimental/App.tsx
  src/apps/experimental/AppOverrides.scss
  src/apps/experimental/components/AppToolbar.tsx
  src/apps/experimental/components/AppUserMenu.tsx
  src/apps/experimental/components/ElevationScroll.tsx
  src/apps/experimental/components/tabs/AppTabs.tsx
  src/apps/experimental/components/tabs/tabRoutes.ts
  src/apps/experimental/routes/movies/index.tsx
  src/apps/experimental/theme.ts
  src/global.d.ts
  src/strings/en-us.json
  webpack.common.js
Labels: feature

#4595 Add drawer to experimental layout
  src/apps/experimental/App.tsx
  src/apps/experimental/components/AppToolbar.tsx
  src/apps/experimental/components/LibraryIcon.tsx
  src/apps/experimental/components/drawers/AppDrawer.tsx
  src/apps/experimental/components/drawers/ListItemLink.tsx
  src/apps/experimental/components/drawers/MainDrawerContent.tsx
  src/apps/experimental/components/drawers/ResponsiveDrawer.tsx
  src/apps/experimental/components/drawers/dashboard/AdvancedDrawerSection.tsx
  src/apps/experimental/components/drawers/dashboard/DevicesDrawerSection.tsx
  src/apps/experimental/components/drawers/dashboard/LiveTvDrawerSection.tsx
  src/apps/experimental/components/drawers/dashboard/PluginDrawerSection.tsx
  src/apps/experimental/components/drawers/dashboard/ServerDrawerSection.tsx
  src/apps/experimental/components/tabs/AppTabs.tsx
  src/apps/experimental/routes/AppRoutes.tsx
  src/types/collectionType.ts
Labels: feature

#4604 Fix scrolling in add library dialog
  src/components/mediaLibraryCreator/mediaLibraryCreator.template.html
Labels: bug, regression

#4605 Fix config.json using cache when changed
  src/hooks/useWebConfig.tsx
  src/scripts/settings/webSettings.js
Labels: bug

#4606 Fix experimental layout app icon url
  src/apps/experimental/components/AppToolbar.tsx
  src/index.d.ts
Labels: bug

#4612 Refactor experimental layout user menu
  src/apps/experimental/App.tsx
  src/apps/experimental/components/AppToolbar/UserMenuButton.tsx
  src/apps/experimental/components/AppToolbar/index.tsx
  src/apps/experimental/components/AppToolbar/menus/AppUserMenu.tsx
Labels: cleanup

#4607 Use optional chaining in the home component
  src/apps/experimental/routes/home.tsx
Labels: cleanup

#4617 Add device type for chromecast devices
  src/plugins/chromecastPlayer/plugin.js
Labels: enhancement

#4618 Fix missing translation for Studio
  src/strings/en-us.json
Labels: bug

#4620 Fix extra requests in standalone mode
  src/utils/dashboard.js
Labels: enhancement

#4623 Add addplugin.html to the list of plugin pages for the drawer
  src/apps/experimental/components/drawers/dashboard/AdvancedDrawerSection.tsx
Labels: bug

#4627 Fix overlap of slider bubble
  src/elements/emby-slider/emby-slider.scss
Labels: bug, stable backport

#4628 Fix initial state of volume slider
  src/elements/emby-slider/emby-slider.js
Labels: bug, stable backport

#4534 Seamless playing in multipart episodes
  CONTRIBUTORS.md
  src/components/playback/playbackmanager.js
Labels: enhancement

#3607 Improve subs
  src/components/subtitlesettings/subtitleappearancehelper.js
Labels: enhancement

#4318 Audio normalization
  CONTRIBUTORS.md
  src/components/libraryoptionseditor/libraryoptionseditor.js
  src/components/libraryoptionseditor/libraryoptionseditor.template.html
  src/components/playbackSettings/playbackSettings.js
  src/components/playbackSettings/playbackSettings.template.html
  src/plugins/htmlAudioPlayer/plugin.js
  src/scripts/settings/userSettings.js
  src/strings/en-us.json
Labels: feature

#4615 Extract display mirror handling from component
  src/components/playback/displayMirrorManager.ts
  src/components/playback/playerSelectionMenu.js
  src/global.d.ts
  src/index.jsx
Labels: cleanup

#4616 Add remote play menu to experimental layout
  src/apps/experimental/components/AppToolbar/RemotePlayButton.tsx
  src/apps/experimental/components/AppToolbar/index.tsx
  src/apps/experimental/components/AppToolbar/menus/RemotePlayActiveMenu.tsx
  src/apps/experimental/components/AppToolbar/menus/RemotePlayMenu.tsx
  src/apps/experimental/components/PlayTargetIcon.tsx
  src/strings/en-us.json
  src/types/playTarget.ts
Labels: enhancement

#4621 Remove notifications pages from dashboard
  src/apps/experimental/components/drawers/dashboard/AdvancedDrawerSection.tsx
  src/apps/experimental/routes/asyncRoutes/admin.ts
  src/apps/experimental/routes/legacyRoutes/admin.ts
  src/apps/stable/routes/asyncRoutes/admin.ts
  src/apps/stable/routes/dashboard/notifications.tsx
  src/apps/stable/routes/legacyRoutes/admin.ts
  src/controllers/dashboard/notifications/notification/index.html
  src/controllers/dashboard/notifications/notification/index.js
  src/controllers/dashboard/notifications/notifications/index.html
  src/controllers/dashboard/notifications/notifications/index.js
  src/controllers/dashboard/plugins/add/index.html
  src/scripts/libraryMenu.js
  src/strings/en-us.json
Labels: cleanup

#4656 Remove trailing colons from dummy chapter strings
  src/strings/en-us.json
Labels: cleanup

#4641 Fix some more code smells
  src/apps/stable/routes/user/userparentalcontrol.tsx
  src/apps/stable/routes/user/userprofile.tsx
  src/components/ServerContentPage.tsx
  src/components/alphaPicker/alphaPicker.js
Labels: cleanup
