Repository jellyfin/jellyfin-web, pull requests merged in 2023-02, with the labels that each got.

#4180 DVR: Add options to disable NFO and image saving
  src/controllers/livetvsettings.html
  src/controllers/livetvsettings.js
  src/strings/en-us.json
Labels: enhancement

#4306 Fix html lang attribute
  src/index.jsx
  src/scripts/globalize.js
Labels: bug

#4309 Remove OS and Arch from dashboard
  src/controllers/dashboard/dashboard.html
  src/controllers/dashboard/dashboard.js
  src/strings/en-us.json
Labels: cleanup

#3770 Chapter Image settings(front-end)
  package-lock.json
  src/controllers/dashboard/general.html
  src/controllers/dashboard/general.js
  src/controllers/dashboard/metadataImages.js
  src/controllers/dashboard/metadataimages.html
  src/strings/en-us.json
Labels: feature

#4327 Add toggle to show/hide remaining video time in video player
  src/controllers/playback/video/index.js
  src/scripts/settings/userSettings.js
Labels: feature

#4183 Display whole channel icon and new/repeat/live/premiere flags on timer list
  src/components/listview/listview.js
  src/components/listview/listview.scss
  src/components/mediainfo/mediainfo.js
  src/controllers/itemDetails/index.html
  src/controllers/itemDetails/index.js
Labels: enhancement

#3652 Add option to allow extras to use embedded titles
  src/components/libraryoptionseditor/libraryoptionseditor.js
  src/components/libraryoptionseditor/libraryoptionseditor.template.html
  src/strings/en-us.json
Labels: feature

#4355 Babelify @jellyfin/libass-wasm
  webpack.common.js
Labels: bug

#4356 Babelify @jellyfin/libass-wasm
  webpack.common.js
Labels: bug

#3906 Add secondary subtitle support to html video player
  src/components/playback/playbackmanager.js
  src/controllers/playback/video/index.js
  src/plugins/htmlVideoPlayer/plugin.js
  src/plugins/htmlVideoPlayer/style.scss
  src/strings/en-us.json
Labels: feature

#4362 Fix subtitle offset reset when seeking progressive stream
  src/components/playback/playbackmanager.js
  src/plugins/htmlVideoPlayer/plugin.js
Labels: bug, stable backport

#4311 Add "Light Grey" and "Dark Grey" to subtitle color selection
  src/components/subtitlesettings/subtitlesettings.template.html
  src/strings/en-us.json
Labels: enhancement

#4330 Fix navigation for some types of INPUT
  src/scripts/keyboardNavigation.js
Labels: bug, regression, stable backport

#4351 Remove duplicated display of studios
  src/controllers/itemDetails/index.js
Labels: cleanup

#4384 Fix login page redirect
  src/components/ConnectionRequired.tsx
Labels: bug, regression
