Repository jellyfin/jellyfin-web, pull requests merged in 2023-07, with the labels that each got.

#4654 Add confirmation for 3rd party repos
  src/controllers/dashboard/plugins/add/index.html
  src/controllers/dashboard/plugins/add/index.js
  src/controllers/dashboard/plugins/repositories/index.js
  src/strings/en-us.json
Labels: enhancement, stable backport, security

#4675 refactor: suggestionview and genresview
  package-lock.json
  package.json
  src/RootApp.tsx
  src/apps/experimental/components/library/GenresItemsContainer.tsx
  src/apps/experimental/components/library/GenresSectionContainer.tsx
  src/apps/experimental/components/library/RecommendationContainer.tsx
  src/apps/experimental/components/library/SectionContainer.tsx
  src/apps/experimental/components/library/SuggestionsItemsContainer.tsx
  src/apps/experimental/components/library/SuggestionsSectionContainer.tsx
  src/apps/experimental/routes/movies/CollectionsView.tsx
  src/apps/experimental/routes/movies/FavoritesView.tsx
  src/apps/experimental/routes/movies/GenresView.tsx
  src/apps/experimental/routes/movies/MoviesView.tsx
  src/apps/experimental/routes/movies/SuggestionsView.tsx
  src/apps/experimental/routes/movies/TrailersView.tsx
  src/apps/experimental/routes/movies/index.tsx
  src/components/common/GenresItemsContainer.tsx
  src/components/common/RecommendationContainer.tsx
  src/components/common/SectionContainer.tsx
  src/components/common/ViewItemsContainer.tsx
  src/elements/emby-scrollbuttons/ScrollButtons.tsx
  src/elements/emby-scroller/Scroller.tsx
  src/hooks/useApi.tsx
  src/hooks/useElementSize.ts
  src/hooks/useFetchItems.ts
  src/types/cardOptions.ts
  src/types/interface.ts
  src/types/library.ts
  src/types/suggestionsSections.ts
  webpack.common.js
Labels: cleanup

#4667 Dashboard activity
  package-lock.json
  package.json
  src/apps/experimental/App.tsx
  src/apps/experimental/components/AppToolbar/UserMenuButton.tsx
  src/apps/experimental/components/GridActionsCellLink.tsx
  src/apps/experimental/components/activityTable/LogLevelChip.tsx
  src/apps/experimental/components/activityTable/OverviewCell.tsx
  src/apps/experimental/components/drawers/dashboard/DevicesDrawerSection.tsx
  src/apps/experimental/routes/asyncRoutes/admin.ts
  src/apps/experimental/routes/dashboard/activity.tsx
  src/apps/experimental/routes/legacyRoutes/admin.ts
  src/apps/experimental/theme.ts
  src/apps/stable/App.tsx
  src/apps/stable/routes/legacyRoutes/admin.ts
  src/components/UserAvatar.tsx
  src/controllers/dashboard/dashboard.html
  src/scripts/libraryMenu.js
  src/strings/en-us.json
  webpack.common.js
Labels: feature

#4692 Fix scheduled task time limit key
  src/controllers/dashboard/scheduledtasks/scheduledtask.js
Labels: bug

#4709 Fix scheduled task time limit key
  src/controllers/dashboard/scheduledtasks/scheduledtask.js
Labels: bug

#4702 Fix sending URLs instead of strings to jassub, leading to DataCloneErrors
  src/plugins/htmlVideoPlayer/plugin.js
Labels: bug, regression

#4714 Fix emby-scroller not going to the screen edge on desktop
  src/elements/emby-scroller/emby-scroller.scss
  src/libraries/scroller.js
Labels: enhancement

#4721 Remove easy password/pin configuration
  src/components/dashboard/users/UserPasswordForm.tsx
  src/strings/en-us.json
Labels: cleanup

#4703 Cleanup network config
  package-lock.json
  src/controllers/dashboard/networking.html
  src/controllers/dashboard/networking.js
  src/strings/en-us.json
Labels: cleanup

#4711 Add Filter setting components.
  src/apps/experimental/components/library/filter/FilterButton.tsx
  src/apps/experimental/components/library/filter/FiltersEpisodesStatus.tsx
  src/apps/experimental/components/library/filter/FiltersFeatures.tsx
  src/apps/experimental/components/library/filter/FiltersGenres.tsx
  src/apps/experimental/components/library/filter/FiltersOfficialRatings.tsx
  src/apps/experimental/components/library/filter/FiltersSeriesStatus.tsx
  src/apps/experimental/components/library/filter/FiltersStatus.tsx
  src/apps/experimental/components/library/filter/FiltersStudios.tsx
  src/apps/experimental/components/library/filter/FiltersTags.tsx
  src/apps/experimental/components/library/filter/FiltersVideoTypes.tsx
  src/apps/experimental/components/library/filter/FiltersYears.tsx
  src/hooks/useFetchItems.ts
  src/strings/en-us.json
  src/types/library.ts
Labels: enhancement, typescript

#4723 Add admin links to user menu
  src/apps/experimental/components/AppToolbar/menus/AppUserMenu.tsx
Labels: enhancement

#4720 Cleanup rename default class name based on file name
  src/components/appFooter/appFooter.js
  src/components/imageOptionsEditor/imageOptionsEditor.js
  src/components/imageOptionsEditor/imageOptionsEditor.template.html
Labels: cleanup

#4170 Add encoder settings for ffmpeg's segment deletion
  src/controllers/dashboard/encodingsettings.html
  src/controllers/dashboard/encodingsettings.js
  src/plugins/htmlVideoPlayer/plugin.js
  src/strings/en-us.json
Labels: feature

#4722 Update unused var rule to error
  .eslintrc.js
Labels: cleanup
