Repository jellyfin/jellyfin-web, pull requests merged in 2023-06, with the labels that each got.

#4657 Fix xss in custom subtitles element
  src/plugins/htmlVideoPlayer/plugin.js
Labels: bug, stable backport, security

#4658 Remove ssa/ass tags from text subtitles
  src/plugins/htmlVideoPlayer/plugin.js
Labels: enhancement

#4613 fix: update JASSUB
  package-lock.json
  package.json
  src/plugins/htmlVideoPlayer/plugin.js
  webpack.common.js
Labels: dependencies

#4631 Add Music Videos listing to MusicArtist View
  src/controllers/itemDetails/index.js
Labels: feature

#4674 Require passwords when creating an admin user in the startup wizard
  src/controllers/wizard/user/index.html
  src/controllers/wizard/user/index.js
  src/strings/en-us.json
Labels: bug

#4660 Refactor routes to use layout elements
  src/apps/experimental/App.tsx
  src/apps/experimental/AppLayout.tsx
  src/apps/experimental/components/drawers/AppDrawer.tsx
  src/apps/experimental/components/tabs/AppTabs.tsx
  src/apps/experimental/routes/AppRoutes.tsx
  src/apps/stable/App.tsx
  src/apps/stable/routes/AppRoutes.tsx
Labels: cleanup

#4685 Backport pull request #4171 to release 10.8.z
  src/components/directorybrowser/directorybrowser.js
Labels: bug

#4688 Disable ALAC on MacOS in non-Safari browsers
  src/scripts/browserDeviceProfile.js
Labels: bug, stable backport, playback

#4669 Add SyncPlay button to app toolbar
  src/apps/experimental/components/AppToolbar/SyncPlayButton.tsx
  src/apps/experimental/components/AppToolbar/index.tsx
  src/apps/experimental/components/AppToolbar/menus/SyncPlayMenu.tsx
  src/strings/en-us.json
Labels: enhancement
