Repository jellyfin/jellyfin-web, pull requests merged in 2023-09, with the labels that each got.

#4754 Change Subtitle Sync slider to go from -300 to 300
  src/components/subtitlesync/subtitlesync.js
  src/components/subtitlesync/subtitlesync.template.html
Labels: bug, stable backport, p: webos, ui & ux

#4758 Fix slider step
  src/elements/emby-slider/emby-slider.js
Labels: bug, stable backport, ui & ux

#4724 Cleanup duplicate userSettings from libraryBrowser
  src/controllers/movies/moviecollections.js
  src/controllers/movies/moviegenres.js
  src/controllers/movies/movietrailers.js
  src/controllers/music/musicalbums.js
  src/controllers/music/musicartists.js
  src/controllers/music/musicgenres.js
  src/controllers/music/musicplaylists.js
  src/controllers/music/songs.js
  src/controllers/shows/episodes.js
  src/controllers/shows/tvgenres.js
  src/controllers/shows/tvshows.js
  src/controllers/shows/tvstudios.js
  src/scripts/libraryBrowser.js
  src/scripts/playlists.js
  src/scripts/settings/userSettings.js
Labels: cleanup

#4712 Add Sort Menu setting components
  src/apps/experimental/components/library/SortButton.tsx
  src/types/libraryTab.ts
Labels: enhancement, typescript

#4483 enable airplay for audioplayer
  src/components/nowPlayingBar/nowPlayingBar.js
  src/plugins/htmlAudioPlayer/plugin.js
Labels: feature

#4757 Remove Dolby Vision support on Samsung TV (Tizen)
  src/scripts/browserDeviceProfile.js
Labels: bug, stable backport, p: tizen, playback

#4762 Add fMP4 playback support (HEVC, AV1) in HLS.js
  package-lock.json
  package.json
  src/components/apphost.js
  src/components/htmlMediaHelper.js
  src/controllers/dashboard/encodingsettings.html
  src/controllers/dashboard/encodingsettings.js
  src/scripts/browserDeviceProfile.js
  src/strings/en-us.json
Labels: feature, playback

#4731 Fix major code smells
  src/plugins/bookPlayer/template.html
  src/scripts/autocast.js
  src/scripts/datetime.js
Labels: cleanup

#4748 Change regex for browser detection
  src/scripts/browser.js
Labels: bug

#4730 Refactor alert js
  src/components/alert.js
Labels: cleanup

#4746 fix-cast-with-localhost-server
  src/plugins/chromecastPlayer/plugin.js
Labels: bug

#4772 Add webpack config for analyzing builds and improve ts speed
  package-lock.json
  package.json
  webpack.analyze.js
  webpack.common.js
Labels: build

#4706 Use a random backdrop image for video osd
  CONTRIBUTORS.md
  src/components/playback/playbackmanager.js
  src/controllers/itemDetails/index.js
  src/plugins/htmlVideoPlayer/plugin.js
  src/utils/jellyfin-apiclient/backdropImage.ts
Labels: enhancement

#4773 Add eslint rule for consistent curly brackets
  .eslintrc.js
  src/components/playback/playbackmanager.js
  src/components/slideshow/slideshow.js
  src/controllers/dashboard/devices/devices.js
  src/controllers/dashboard/library.js
  src/controllers/dashboard/plugins/installed/index.js
  src/controllers/dashboard/scheduledtasks/scheduledtasks.js
  src/controllers/playback/video/index.js
  src/elements/emby-slider/emby-slider.js
  src/libraries/navdrawer/navdrawer.js
  src/libraries/scroller.js
  src/plugins/comicsPlayer/plugin.js
  src/scripts/globalize.js
Labels: cleanup

#4774 Add eslint rule to prevent "lonely" if statements
  .eslintrc.js
  src/components/cardbuilder/cardBuilder.js
  src/components/guide/guide.js
  src/components/homesections/homesections.js
  src/components/htmlMediaHelper.js
  src/components/imageDownloader/imageDownloader.js
  src/components/imageeditor/imageeditor.js
  src/components/listview/listview.js
  src/components/nowPlayingBar/nowPlayingBar.js
  src/components/playback/playbackmanager.js
  src/components/recordingcreator/recordingfields.js
  src/components/viewContainer.js
  src/controllers/dashboard/dashboard.js
  src/controllers/dashboard/dlna/profile.js
  src/controllers/playback/video/index.js
  src/elements/emby-itemscontainer/emby-itemscontainer.js
  src/index.jsx
  src/libraries/navdrawer/navdrawer.js
  src/libraries/scroller.js
  src/plugins/htmlVideoPlayer/plugin.js
  src/plugins/youtubePlayer/plugin.js
  src/scripts/libraryMenu.js
  src/scripts/scrollHelper.js
Labels: cleanup

#4761 HLS direct play
  src/plugins/htmlVideoPlayer/plugin.js
  src/scripts/browserDeviceProfile.js
  src/utils/mediaSource.ts
Labels: enhancement, playback

#4775 Remove unused private class members
  .eslintrc.js
  src/components/pluginManager.js
  src/plugins/htmlVideoPlayer/plugin.js
Labels: cleanup

#4507 Add guest cast on episode detail page
  src/controllers/itemDetails/index.html
  src/controllers/itemDetails/index.js
  src/strings/en-us.json
Labels: bug

#4780 Fix ES-Check errors in development build
  webpack.common.js
Labels: enhancement, build

#4781 Add conditional build USE_SYSTEM_FONTS
  src/index.jsx
  src/styles/fonts.noto.scss
  src/styles/fonts.scss
  webpack.common.js
Labels: feature, build

#4776 Add filters status indicator
  src/apps/experimental/components/library/filter/FilterButton.tsx
  src/apps/experimental/components/library/filter/FiltersEpisodesStatus.tsx
  src/apps/experimental/components/library/filter/FiltersFeatures.tsx
  src/apps/experimental/components/library/filter/FiltersGenres.tsx
  src/apps/experimental/components/library/filter/FiltersOfficialRatings.tsx
  src/apps/experimental/components/library/filter/FiltersSeriesStatus.tsx
  src/apps/experimental/components/library/filter/FiltersStatus.tsx
  src/apps/experimental/components/library/filter/FiltersStudios.tsx
  src/apps/experimental/components/library/filter/FiltersTags.tsx
  src/apps/experimental/components/library/filter/FiltersVideoTypes.tsx
  src/apps/experimental/components/library/filter/FiltersYears.tsx
  src/types/library.ts
Labels: enhancement, typescript

#4777 Migrate quick connect page to react
  src/apps/experimental/App.tsx
  src/apps/experimental/components/AppToolbar/menus/AppUserMenu.tsx
  src/apps/experimental/routes/asyncRoutes/user.ts
  src/apps/experimental/routes/legacyRoutes/user.ts
  src/apps/stable/App.tsx
  src/apps/stable/routes/_redirects.ts
  src/apps/stable/routes/asyncRoutes/user.ts
  src/apps/stable/routes/legacyRoutes/user.ts
  src/apps/stable/routes/quickConnect/index.tsx
  src/apps/stable/routes/quickConnect/quickConnect.scss
  src/components/router/Redirect.tsx
  src/controllers/user/menu/index.js
  src/controllers/user/quickConnect/helper.js
  src/controllers/user/quickConnect/index.html
  src/controllers/user/quickConnect/index.js
  src/elements/InputElement.tsx
  src/strings/en-us.json
Labels: enhancement, cleanup

#4789 Add speeds for 2.5x 3x 3.5x 4x
  src/plugins/htmlVideoPlayer/plugin.js
Labels: enhancement

#4790 Add search params to redirects
  src/components/router/Redirect.tsx
Labels: enhancement

#4632 Improve keyboard control
  src/controllers/playback/video/index.js
  src/legacy/keyboardEvent.js
  src/scripts/site.js
Labels: stable backport, ui & ux

#4795 Backport #4632 (Improve keyboard control)
  src/controllers/playback/video/index.js
  src/index.jsx
  src/legacy/keyboardEvent.js
Labels: ui & ux

#4798 Remove unused quickConnect route
  src/apps/experimental/routes/legacyRoutes/admin.ts
  src/apps/stable/routes/legacyRoutes/admin.ts
Labels: cleanup

#4799 Allow any application id for cast receiver
  src/plugins/chromecastPlayer/plugin.js
Labels: enhancement

#4787 Fix homesections in legacy browser
  src/components/homesections/homesections.js
Labels: bug, stable backport

#4783 Add AlphabetPicker
  src/apps/experimental/components/library/AlphabetPicker.tsx
  src/types/library.ts
Labels: enhancement, typescript

#4801 Fix slider step (Backport #4758)
  src/elements/emby-slider/emby-slider.js
Labels: bug, ui & ux

#4800 Fix homesections in legacy browser (Backport #4787)
  src/components/homesections/homesections.js
Labels: bug

#4760 Simplify subtitle sync
  src/components/subtitlesync/subtitlesync.js
  src/components/subtitlesync/subtitlesync.template.html
  src/elements/emby-slider/emby-slider.js
  src/utils/number.ts
Labels: enhancement

#4805 Handle pressing Enter to finish keyboard dragging of slider
  src/elements/emby-slider/emby-slider.js
Labels: enhancement, ui & ux

#4793 Fix error on unmount in syncplay menu
  src/apps/experimental/components/AppToolbar/menus/SyncPlayMenu.tsx
  src/hooks/useSyncPlayGroups.ts
Labels: cleanup

#4804 Split and extract video range support detection
  src/scripts/browserDeviceProfile.js
Labels: enhancement

#4728 Add ability to upload hearing-impaired subs
  src/components/subtitleuploader/subtitleuploader.js
  src/components/subtitleuploader/subtitleuploader.template.html
  src/strings/en-us.json
  src/utils/file.ts
Labels: enhancement, accessibility

#4784 Add Pagination
  src/apps/experimental/components/library/Pagination.tsx
Labels: enhancement, typescript

#4802 Update to node 20
  .ci/azure-pipelines-build.yml
  .github/workflows/lint.yml
  .github/workflows/tsc.yml
  deployment/Dockerfile.centos
  deployment/Dockerfile.debian
  deployment/Dockerfile.fedora
  deployment/Dockerfile.portable
  fedora/Makefile
  fedora/jellyfin-web.spec
  package-lock.json
  package.json
Labels: build

#4809 Update node version in docker build
  deployment/Dockerfile.docker
Labels: build

#4797 Remove H264 10bit support on Samsung TV (Tizen)
  src/scripts/browserDeviceProfile.js
Labels: bug, stable backport, p: tizen, playback

#4813 Handle pressing Enter to finish keyboard dragging of slider (Backport #4805)
  src/elements/emby-slider/emby-slider.js
Labels: enhancement, ui & ux

#4812 Remove caching of main animated pages element
  src/components/viewContainer.js
Labels: bug

#4814 Relax node and npm version requirements
  package-lock.json
  package.json
Labels: build

#4806 Refactor app layouts and common components
  src/RootApp.tsx
  src/apps/experimental/App.tsx
  src/apps/experimental/AppLayout.tsx
  src/apps/experimental/components/AppToolbar/index.tsx
  src/apps/experimental/components/drawers/AppDrawer.tsx
  src/apps/experimental/components/drawers/MainDrawerContent.tsx
  src/apps/experimental/components/drawers/dashboard/AdvancedDrawerSection.tsx
  src/apps/experimental/components/drawers/dashboard/DevicesDrawerSection.tsx
  src/apps/experimental/components/drawers/dashboard/LiveTvDrawerSection.tsx
  src/apps/experimental/components/drawers/dashboard/PluginDrawerSection.tsx
  src/apps/experimental/components/drawers/dashboard/ServerDrawerSection.tsx
  src/apps/stable/App.tsx
  src/components/AppBody.tsx
  src/components/AppHeader.tsx
  src/components/ElevationScroll.tsx
  src/components/ListItemLink.tsx
  src/components/ResponsiveDrawer.tsx
  src/components/router/AsyncRoute.tsx
  src/components/toolbar/AppToolbar.tsx
  src/components/toolbar/AppUserMenu.tsx
  src/components/toolbar/UserMenuButton.tsx
  src/themes/theme.ts
Labels: cleanup
