Repository jellyfin/jellyfin-web, pull requests merged in 2023-10, with the labels that each got.

#4819 Remove duplicate card shape functions
  src/components/cardbuilder/cardBuilder.js
  src/components/favoriteitems.js
  src/components/homesections/homesections.js
  src/controllers/favorites.js
  src/controllers/itemDetails/index.js
  src/controllers/livetv/livetvrecordings.js
  src/controllers/livetv/livetvschedule.js
  src/controllers/livetv/livetvsuggested.js
  src/controllers/movies/moviegenres.js
  src/controllers/movies/moviesrecommended.js
  src/controllers/music/musicrecommended.js
  src/controllers/shows/tvgenres.js
  src/controllers/shows/tvrecommended.js
  src/controllers/shows/tvupcoming.js
  src/scripts/livetvcomponents.js
  src/utils/card.ts
Labels: cleanup

#4785 Add Play, Queue, Shuffle and NewCollection Buttons
  src/apps/experimental/components/library/NewCollectionButton.tsx
  src/apps/experimental/components/library/PlayAllButton.tsx
  src/apps/experimental/components/library/QueueButton.tsx
  src/apps/experimental/components/library/ShuffleButton.tsx
  src/apps/experimental/components/library/SortButton.tsx
  src/apps/experimental/components/library/ViewSettingsButton.tsx
  src/utils/items.ts
Labels: enhancement, typescript

#4837 Fix playing empty item set
  src/components/playback/playbackmanager.js
Labels: bug, stable backport

#4838 Reduce ApiClient calls
  src/utils/jellyfin-apiclient/getItems.ts
Labels: enhancement

#4823 Add Github Codespace definition
  .devcontainer/devcontainer.json
Labels: enhancement, build

#4833 Remove unnecessary renaming
  .eslintrc.js
  CONTRIBUTORS.md
  src/components/itemContextMenu.js
Labels: cleanup

#4829 Eliminates critical Cognitive Complexity issue in Card Builder component as detected by SonarCloud
  .github/workflows/tsc.yml
  package-lock.json
  package.json
  src/components/cardbuilder/cardBuilder.js
  src/components/cardbuilder/cardBuilderUtils.js
  src/components/cardbuilder/cardBuilderUtils.test.js
Labels: cleanup

#4213 Increasing limit of returned results from searches
  src/components/search/SearchResults.tsx
Labels: enhancement

#4825 Refactor home screen
  src/components/cardbuilder/cardBuilder.js
  src/components/homesections/homesections.js
  src/components/homesections/sections/activeRecordings.ts
  src/components/homesections/sections/libraryButtons.ts
  src/components/homesections/sections/libraryTiles.ts
  src/components/homesections/sections/liveTv.ts
  src/components/homesections/sections/nextUp.ts
  src/components/homesections/sections/recentlyAdded.ts
  src/components/homesections/sections/resume.ts
  src/components/homesections/sections/section.d.ts
  src/scripts/settings/userSettings.js
  src/types/homeSectionType.ts
Labels: typescript, cleanup

#4861 Fix admin check in dashboard routes
  src/apps/dashboard/App.tsx
Labels: bug, regression

#4810 Update GH Actions
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/job-messages.yml
  .github/workflows/publish.yml
  .github/workflows/quality.yml
  .github/workflows/stale.yml
Labels: github-actions, ci

#4867 Fix PR publish in GH actions
  .github/workflows/build.yml
  .github/workflows/publish.yml
Labels: github-actions, ci

#4870 Add current branch to CF Pages publish job
  .github/workflows/publish.yml
Labels: github-actions, ci

#4691 Refactor viewitemcontainer
  src/apps/experimental/components/library/GenresItemsContainer.tsx
  src/apps/experimental/components/library/GenresSectionContainer.tsx
  src/apps/experimental/components/library/ItemsContainer.tsx
  src/apps/experimental/components/library/ItemsView.tsx
  src/apps/experimental/components/library/Pagination.tsx
  src/apps/experimental/components/library/RecommendationContainer.tsx
  src/apps/experimental/components/library/SuggestionsItemsContainer.tsx
  src/apps/experimental/components/library/SuggestionsSectionContainer.tsx
  src/apps/experimental/components/library/filter/FilterButton.tsx
  src/apps/experimental/routes/home.tsx
  src/apps/experimental/routes/movies/CollectionsView.tsx
  src/apps/experimental/routes/movies/FavoritesView.tsx
  src/apps/experimental/routes/movies/MoviesView.tsx
  src/apps/experimental/routes/movies/TrailersView.tsx
  src/apps/experimental/routes/movies/index.tsx
  src/components/common/AlphaPickerContainer.tsx
  src/components/common/Filter.tsx
  src/components/common/NewCollection.tsx
  src/components/common/Pagination.tsx
  src/components/common/SelectView.tsx
  src/components/common/Shuffle.tsx
  src/components/common/Sort.tsx
  src/components/common/ViewItemsContainer.tsx
  src/hooks/useFetchItems.ts
  src/types/cardOptions.ts
  src/types/interface.ts
  src/types/library.ts
  src/utils/items.ts
Labels: enhancement, typescript, cleanup

#4871 Fix libraries maybe not being displayed in TV layout
  src/components/homesections/homesections.js
Labels: bug

#4827 Make the series and season Play button play the next episode
  src/components/playback/playbackmanager.js
Labels: enhancement

#4869 Fix same year appears in <year> - <year> format under card.
  CONTRIBUTORS.md
  src/components/cardbuilder/cardBuilder.js
Labels: bug

#4836 Fix FilterMenu not saving simple filters
  src/components/filtermenu/filtermenu.js
Labels: bug, regression

#4860 Fix language/subtitle switcher when using gamepad
  src/scripts/gamepadtokey.js
Labels: bug, accessibility

#4844 Enable no-undef-init lint rule
  .eslintrc.js
  src/apps/dashboard/components/activityTable/LogLevelChip.tsx
  src/components/images/imageLoader.js
Labels: cleanup

#4886 Change child item sort for Movies to PremiereDate
  src/scripts/itemsByName.js
Labels: enhancement

#4786 Add sort options to playback requests
  CONTRIBUTORS.md
  src/components/itemContextMenu.js
  src/components/playback/playbackmanager.js
  src/components/shortcuts.js
  src/controllers/list.js
  src/scripts/settings/userSettings.js
Labels: bug

#4875 Remove unused Code
  src/components/filtermenu/filtermenu.js
  src/components/sortmenu/sortmenu.js
  src/components/viewSettings/viewSettings.js
  src/components/viewSettings/viewSettings.template.html
Labels: cleanup

#4873 Fix duplicate year in the series details page
  src/components/mediainfo/mediainfo.js
Labels: bug

#4864 Space bar plays/pauses music in queue view
  src/controllers/playback/queue/index.js
Labels: enhancement, needs testing

#4822 Return boolean through direct comparison
  .eslintrc.js
  src/apps/experimental/components/library/GenresSectionContainer.tsx
  src/components/guide/guide.js
  src/components/listview/listview.js
  src/components/playback/playersettingsmenu.js
  src/controllers/itemDetails/index.js
  src/elements/emby-checkbox/emby-checkbox.js
  src/elements/emby-scrollbuttons/ScrollButtons.tsx
  src/scripts/browserDeviceProfile.js
Labels: cleanup

#4856 Snap card sliders to card boundaries
  src/elements/emby-scrollbuttons/ScrollButtons.tsx
  src/elements/emby-scrollbuttons/emby-scrollbuttons.js
  src/elements/emby-scrollbuttons/utils.ts
Labels: bug

#4863 Link documentation in fallback fonts helptext
  src/controllers/dashboard/encodingsettings.html
  src/strings/en-us.json
Labels: enhancement

#4893 Change Subtitle Sync slider to go from -300 to 300 - Backport #4754
  src/components/subtitlesync/subtitlesync.js
  src/components/subtitlesync/subtitlesync.template.html
Labels: bug, p: webos, ui & ux

#4892 Fix language/subtitle switcher when using gamepad - Backport #4860
  src/scripts/gamepadtokey.js
Labels: bug, accessibility

#4888 Consistent CSS for progress bars
  CONTRIBUTORS.md
  src/styles/dashboard.scss
Labels: enhancement

#4850 Fix user menu shown when authenticated user is on select server page
  src/components/toolbar/AppToolbar.tsx
Labels: bug

#4884 Use icon url from client capabilities
  src/components/cardbuilder/cardBuilder.js
  src/components/homesections/sections/libraryButtons.ts
  src/controllers/dashboard/dashboard.js
  src/controllers/dashboard/devices/devices.js
  src/controllers/dashboard/library.js
  src/scripts/libraryMenu.js
  src/utils/image.ts
Labels: enhancement, typescript

#4898 Handle json parse error when testing urls
  src/components/ConnectionRequired.tsx
  src/utils/dashboard.js
Labels: bug

#4824 Add loading indicator and no results message for search
  CONTRIBUTORS.md
  src/components/search/SearchResults.tsx
  src/components/search/searchfields.scss
  src/strings/en-us.json
Labels: enhancement

#4912 Fix imports
  src/components/remotecontrol/remotecontrol.js
  src/controllers/playback/queue/index.js
Labels: bug, stable backport

#4843 Use cast receiver application from user configuration
  src/components/playbackSettings/playbackSettings.js
  src/components/playbackSettings/playbackSettings.template.html
  src/plugins/chromecastPlayer/plugin.js
  src/scripts/settings/userSettings.js
Labels: enhancement

#4874 Convert emby-ItemsContainer to react
  package-lock.json
  package.json
  src/apps/experimental/components/library/ItemsContainer.tsx
  src/apps/experimental/components/library/ItemsView.tsx
  src/elements/emby-itemscontainer/ItemsContainer.tsx
  src/hooks/useFetchItems.ts
  src/utils/events.ts
Labels: typescript

#4894 Show a different icon when the player is paused
  src/assets/img/equalizer-paused.png
  src/components/remotecontrol/remotecontrol.js
  src/components/remotecontrol/remotecontrol.scss
Labels: enhancement, ui & ux

#4885 Remove resource caching from service worker
  package-lock.json
  package.json
  src/serviceworker.js
  webpack.common.js
  webpack.prod.js
Labels: build

#4909 Add eslint suggestions action
  .github/workflows/quality.yml
Labels: github-actions, ci

#4877 Add tv show view
  package-lock.json
  src/apps/experimental/components/library/GenresItemsContainer.tsx
  src/apps/experimental/components/library/GenresSectionContainer.tsx
  src/apps/experimental/components/library/GenresView.tsx
  src/apps/experimental/components/library/PageTabContent.tsx
  src/apps/experimental/components/library/RecommendationItemsContainer.tsx
  src/apps/experimental/components/library/SuggestionsView.tsx
  src/apps/experimental/components/library/UpcomingView.tsx
  src/apps/experimental/routes/asyncRoutes/user.ts
  src/apps/experimental/routes/legacyRoutes/user.ts
  src/apps/experimental/routes/movies/CollectionsView.tsx
  src/apps/experimental/routes/movies/FavoritesView.tsx
  src/apps/experimental/routes/movies/GenresView.tsx
  src/apps/experimental/routes/movies/MoviesView.tsx
  src/apps/experimental/routes/movies/SuggestionsView.tsx
  src/apps/experimental/routes/movies/TrailersView.tsx
  src/apps/experimental/routes/movies/index.tsx
  src/apps/experimental/routes/shows/index.tsx
  src/hooks/useCurrentTab.ts
  src/hooks/useFetchItems.ts
  src/types/libraryTabContent.ts
Labels: enhancement, typescript

#4925 Fix eslint comment action config
  .github/workflows/quality.yml
Labels: github-actions, ci
