Repository jellyfin/jellyfin-web, pull requests merged in 2023-01, with the labels that each got.

#4182 Fix the progressive mp4 transcoding profile
  src/scripts/browserDeviceProfile.js
Labels: stable backport

#4238 Fix XSS vulnerability in router
  src/components/appRouter.js
Labels: bug, security

#4198 Use unstable tag for sdk version
  package-lock.json
  package.json
  webpack.common.js
Labels: dependencies

#4210 Enable seamless playback of multipart Movies.
  CONTRIBUTORS.md
  src/components/playback/playbackmanager.js
Labels: bug, feature

#4016 Add DownloadAll for season and series
  src/components/itemContextMenu.js
  src/scripts/shell.js
  src/strings/en-us.json
Labels: feature

#4194 Support admin login in QuickConnect
  src/controllers/session/login/index.js
  src/controllers/user/menu/index.js
  src/controllers/user/quickConnect/helper.js
  src/controllers/user/quickConnect/index.js
Labels: bug, enhancement

#4193 Add ability to specify half hour for access schedule
  src/components/accessSchedule/accessSchedule.js
Labels: enhancement

#4240 Fix detection of SecondaryAudio support
  src/scripts/browserDeviceProfile.js
Labels: bug, stable backport, playback

#4236 Adds TypeScript Checking to GitHub Actions
  .github/workflows/tsc.yml
  package.json
Labels: github-actions, ci

#4220 Enable Stylelint rules for vendor prefixes
  .stylelintrc.json
  CONTRIBUTORS.md
  src/assets/css/dashboard.scss
  src/assets/css/librarybrowser.scss
  src/assets/css/metadataeditor.scss
  src/assets/css/scrollstyles.scss
  src/assets/css/videoosd.scss
  src/components/filterdialog/style.scss
  src/components/homesections/homesections.scss
  src/components/indicators/indicators.scss
  src/components/loading/loading.scss
  src/components/remotecontrol/remotecontrol.scss
  src/components/subtitlesync/subtitlesync.scss
  src/elements/emby-button/emby-button.scss
  src/elements/emby-checkbox/emby-checkbox.scss
  src/elements/emby-input/emby-input.scss
  src/elements/emby-radio/emby-radio.scss
  src/elements/emby-select/emby-select.scss
  src/elements/emby-slider/emby-slider.scss
  src/elements/emby-tabs/emby-tabs.scss
  src/elements/emby-toggle/emby-toggle.scss
  src/index.html
  src/libraries/navdrawer/navdrawer.scss
  src/themes/appletv/theme.css
  src/themes/blueradiance/theme.css
  src/themes/dark/theme.css
  src/themes/light/theme.css
  src/themes/purplehaze/theme.css
  src/themes/wmc/theme.css
Labels: sass, cleanup

#4269 Fix XSS vulnerability in plugin repo pages
  src/controllers/dashboard/plugins/add/index.js
  src/controllers/dashboard/plugins/available/index.js
Labels: bug, stable backport, security

#4267 Fix AudioContext limit exceeded
  src/scripts/browserDeviceProfile.js
Labels: bug, stable backport

#4263 Fix change audio track
  src/components/playback/playbackmanager.js
  src/plugins/htmlVideoPlayer/plugin.js
  src/scripts/browserDeviceProfile.js
  src/utils/container.ts
Labels: bug, stable backport, playback

#4281 Add experimental display mode option
  src/components/displaySettings/displaySettings.template.html
  src/components/layoutManager.js
  src/strings/en-us.json
Labels: enhancement

#4274 Fix back action on Hisense TV
  src/scripts/browser.js
  src/scripts/keyboardNavigation.js
Labels: stable backport, ui & ux

#4235 Add stereo downmix setting
  src/controllers/dashboard/encodingsettings.html
  src/controllers/dashboard/encodingsettings.js
  src/strings/en-us.json
Labels: feature

#4201 Show total count when no pagination is applied
  src/components/common/Pagination.tsx
  src/scripts/libraryBrowser.js
Labels: enhancement

#4303 Fix AlphaPicker movies library
  src/components/common/AlphaPickerContainer.tsx
Labels: bug, regression

#4310 Backport PR #4147 to 10.8.z branch
  src/components/subtitleuploader/subtitleuploader.js
Labels: bug

#4312 Backport PR #4150 to 10.8.z branch
  src/components/subtitleuploader/subtitleuploader.js
  src/components/subtitleuploader/subtitleuploader.template.html
Labels: bug

#4225 Fixed scss problems in item detail pages
  src/assets/css/librarybrowser.scss
Labels: bug, regression
