Repository jellyfin/jellyfin-web, pull requests merged in 2024-04, with the labels that each got.

#5215 Add option to enable/disable libraries
  CONTRIBUTORS.md
  src/components/libraryoptionseditor/libraryoptionseditor.js
  src/components/libraryoptionseditor/libraryoptionseditor.template.html
  src/strings/en-us.json
Labels: feature

#5242 Update crf help text
  src/strings/en-us.json
Labels: enhancement, ui & ux

#5322 Limit Video Level to 4.2 in fMP4 for iOS < 13
  src/scripts/browserDeviceProfile.js
Labels: bug, p: ios, playback

#5389 Fix valDummyChapterDuration not populating in Dashboard>Libraries>Metadata
  src/controllers/dashboard/metadataImages.js
Labels: bug

#5378 fix: use correct hls containers for audio
  src/scripts/browserDeviceProfile.js
Labels: bug, playback

#4733 Add Lyric support
  src/apps/experimental/routes/legacyRoutes/user.ts
  src/apps/stable/routes/legacyRoutes/user.ts
  src/components/itemContextMenu.js
  src/components/nowPlayingBar/nowPlayingBar.js
  src/components/remotecontrol/remotecontrol.js
  src/controllers/itemDetails/index.html
  src/controllers/itemDetails/index.js
  src/controllers/lyrics.html
  src/controllers/lyrics.js
  src/controllers/playback/queue/index.html
  src/scripts/deleteHelper.js
  src/strings/en-us.json
  src/styles/lyrics.scss
Labels: feature, release-highlight

#5371 Fix Favorite button margin
  src/components/nowPlayingBar/nowPlayingBar.js
  src/components/remotecontrol/remotecontrol.js
  src/components/remotecontrol/remotecontrol.scss
Labels: bug, ui & ux

#5401 Prevent changing volume with mouse wheel when dialog is shown
  src/controllers/playback/video/index.js
Labels: bug

#5392 Convert playlist editor to typescript
  src/apiclient.d.ts
  src/components/playlisteditor/playlisteditor.js
  src/components/playlisteditor/playlisteditor.ts
  src/scripts/playlists.js
  src/scripts/settings/userSettings.js
Labels: enhancement, typescript

#5410 Remove nonexistent ItemField AudioInfo
  src/controllers/music/musicrecommended.js
  src/controllers/music/songs.js
  src/scripts/itemsByName.js
Labels: bug

#5393 Update logo assets
  src/assets/img/banner-dark.png
  src/assets/img/banner-light.png
Labels: enhancement, ui & ux

#5414 Fix drawer covering now playing bar in experimental layout
  src/apps/experimental/AppOverrides.scss
  src/components/ResponsiveDrawer.tsx
Labels: bug

#5409 Fix gap above backdrop on details screen in experimental layout
  src/apps/experimental/AppOverrides.scss
Labels: bug

#5429 Fix id param when creating playlists
  src/components/playlisteditor/playlisteditor.ts
Labels: bug

#5430 Update save password button label
  src/components/dashboard/users/UserPasswordForm.tsx
  src/strings/en-us.json
Labels: enhancement

#5422 Fix client-side CSS not applied on page load
  src/index.jsx
Labels: bug

#4749 Remove the blinking caret in full screen playback.
  src/index.html
Labels: bug

#5432 Change "setup" to "set up" in source language
  src/strings/en-us.json
Labels: i18n

#5424 Redirect legacy URLs
  src/hooks/useLegacyRouterSync.ts
Labels: regression

#5398 Fix playing next episode when autoplay is disabled
  src/components/playback/playbackmanager.js
Labels: bug, enhancement, playback

#5419 Fix MP3 audio playback capability checking with HLS
  src/scripts/browserDeviceProfile.js
Labels: bug, playback

#5427 Use NormalizationGain instead of LUFS
  src/components/playback/playbackmanager.js
  src/plugins/htmlAudioPlayer/plugin.js
Labels: enhancement

#5438 Fix playback errors
  src/components/nowPlayingBar/nowPlayingBar.js
  src/elements/emby-itemscontainer/ItemsContainer.tsx
Labels: bug
