Repository jellyfin/jellyfin-web, pull requests merged in 2024-02, with the labels that each got.

#5056 Add Rockchip MPP (RKMPP) as a new HWA type
  src/controllers/dashboard/encodingsettings.html
  src/controllers/dashboard/encodingsettings.js
Labels: feature

#5152 Remove unused elements from item details html
  src/controllers/itemDetails/index.html
Labels: cleanup

#5167 Fix stable app crash due to missing nav components
  src/RootAppRouter.tsx
  src/apps/experimental/routes/routes.tsx
  src/apps/stable/AppLayout.tsx
  src/apps/stable/AppRouter.tsx
  src/apps/stable/routes/routes.tsx
Labels: bug, regression

#5174 Fix stylelint scss config to use main config file
  .github/workflows/quality.yml
  .stylelintrc.json
  .stylelintrc.scss.json
  package.json
Labels: cleanup

#5136 Add support for redirecting to the requested page after login
  src/components/ConnectionRequired.tsx
  src/controllers/session/login/index.js
Labels: enhancement

#5154 Remove unused Id prop from access schedule list
  CONTRIBUTORS.md
  src/apps/dashboard/routes/users/parentalcontrol.tsx
  src/components/dashboard/users/AccessScheduleList.tsx
Labels: cleanup

#5184 Add stricter checks for DolbyVision in HEVC
  src/scripts/browserDeviceProfile.js
Labels: enhancement

#5203 Add support for searching via a url parameter
  package-lock.json
  package.json
  src/apps/stable/routes/search.tsx
  src/components/search/LiveTVSearchResults.tsx
  src/components/search/SearchFields.tsx
  src/components/search/SearchResults.tsx
  src/components/search/searchfields.scss
  src/controllers/itemDetails/index.js
  src/elements/emby-input/Input.tsx
  src/hooks/usePrevious.ts
  webpack.common.js
Labels: enhancement

#5216 Add build and web versions to dashboard
  .eslintrc.js
  src/apps/experimental/components/drawers/DrawerHeaderLink.tsx
  src/controllers/dashboard/dashboard.html
  src/controllers/dashboard/dashboard.js
  src/controllers/dashboard/dashboard.scss
  src/global.d.ts
  src/hooks/useSystemInfo.ts
  src/index.jsx
  src/scripts/settings/webSettings.js
  src/strings/en-us.json
  webpack.common.js
Labels: enhancement

#5212 Migrate actionSheet & scrollHelper to TypeScript
  src/components/actionSheet/actionSheet.ts
  src/scripts/scrollHelper.ts
Labels: typescript, cleanup

#5223 Add GH action to update SDK dependency
  .github/workflows/update-sdk.yml
Labels: ci

#5236 Add commit sha as JF version in CI builds
  .github/workflows/build.yml
Labels: ci
