Repository jellyfin/jellyfin-web, pull requests merged in 2024-11, with the labels that each got.

#6282 Add content hash to CSS files
  webpack.common.js
Labels: bug, stable backport

#6274 Make filtering local to each device
  src/scripts/settings/userSettings.js
Labels: bug, regression, stable backport

#6278 Fix displaying secondary subtitles on Tizen 5
  src/plugins/htmlVideoPlayer/plugin.js
Labels: bug, stable backport, p: tizen

#6276 Update plugin category labels
  src/apps/dashboard/features/plugins/constants/categoryLabels.ts
  src/controllers/dashboard/plugins/available/index.js
  src/strings/en-us.json
Labels: enhancement, stable backport

#6199 Fix missing transcoding speed info
  src/components/playerstats/playerstats.js
Labels: bug, stable backport

#6284 Exclude unneeded files from build output
  webpack.common.js
Labels: bug, stable backport

#6286 Always show enabled filters
  src/components/filterdialog/filterdialog.js
Labels: bug, stable backport

#6285 Backport translations for 10.10.1
  src/strings/cs.json
  src/strings/da.json
  src/strings/de.json
  src/strings/el.json
  src/strings/en-gb.json
  src/strings/fr.json
  src/strings/he.json
  src/strings/it.json
  src/strings/lv.json
  src/strings/nl.json
  src/strings/pt-br.json
  src/strings/pt-pt.json
  src/strings/pt.json
  src/strings/tr.json
  src/strings/vi.json
Labels: i18n

#6297 Fix missing theme images
  webpack.common.js
Labels: bug, regression, stable backport

#6291 Update dependency libpgs to v0.8.0
  package-lock.json
  package.json
  src/plugins/htmlVideoPlayer/plugin.js
Labels: bug, stable backport

#6298 Fix large PDF Display
  src/plugins/pdfPlayer/plugin.js
Labels: bug, regression, stable backport

#6303 Update dependency libpgs to v0.8.1
  package-lock.json
  package.json
Labels: bug, stable backport

#6311 Backport translations for 10.10.2
  src/strings/bg-bg.json
  src/strings/cs.json
  src/strings/da.json
  src/strings/de.json
  src/strings/en-gb.json
  src/strings/fa.json
  src/strings/fi.json
  src/strings/fr.json
  src/strings/he.json
  src/strings/hr.json
  src/strings/ja.json
  src/strings/ko.json
  src/strings/nl.json
  src/strings/pl.json
  src/strings/pt-br.json
  src/strings/ru.json
  src/strings/sk.json
  src/strings/uk.json
  src/strings/vi.json
  src/strings/zh-cn.json
Labels: i18n

#6321 Backport translations for 10.10.2 again
  src/strings/ca.json
  src/strings/es-ar.json
  src/strings/et.json
  src/strings/fr-ca.json
  src/strings/ga.json
  src/strings/ko.json
  src/strings/mt.json
  src/strings/pt-pt.json
  src/strings/ru.json
  src/strings/sk.json
  src/strings/sv.json
  src/strings/uz.json
Labels: i18n

#6326 Backport translations for 10.10.3
  src/strings/it.json
  src/strings/ko.json
Labels: i18n

#6327 Move strict mode to page component
  src/components/Page.tsx
  src/components/router/AsyncRoute.tsx
Labels: cleanup

#6329 Fix changing lyric fetcher order not changeable in library options
  src/components/libraryoptionseditor/libraryoptionseditor.js
  src/strings/en-us.json
Labels: bug, stable backport

#6334 Add branding settings page
  src/apps/dashboard/components/drawer/sections/ServerDrawerSection.tsx
  src/apps/dashboard/features/branding/api/useBrandingOptions.ts
  src/apps/dashboard/routes/_asyncRoutes.ts
  src/apps/dashboard/routes/branding/index.tsx
  src/components/ServerConnections.js
  src/components/router/AsyncRoute.tsx
  src/controllers/dashboard/general.html
  src/controllers/dashboard/general.js
  src/elements/emby-textarea/emby-textarea.scss
  src/styles/fonts.scss
Labels: enhancement

#6254 Move dashboard help links to header icon
  src/apps/dashboard/AppLayout.tsx
  src/apps/dashboard/components/toolbar/HelpButton.tsx
  src/apps/dashboard/constants/helpLinks.ts
  src/apps/dashboard/routes/playback/trickplay.tsx
  src/apps/dashboard/routes/users/access.tsx
  src/apps/dashboard/routes/users/add.tsx
  src/apps/dashboard/routes/users/index.tsx
  src/apps/dashboard/routes/users/parentalcontrol.tsx
  src/apps/dashboard/routes/users/password.tsx
  src/apps/dashboard/routes/users/profile.tsx
  src/components/tvproviders/schedulesdirect.template.html
  src/components/tvproviders/xmltv.template.html
  src/controllers/dashboard/devices/device.html
  src/controllers/dashboard/devices/devices.html
  src/controllers/dashboard/encodingsettings.html
  src/controllers/dashboard/general.html
  src/controllers/dashboard/library.html
  src/controllers/dashboard/networking.html
  src/controllers/dashboard/plugins/available/index.html
  src/controllers/dashboard/plugins/installed/index.html
  src/controllers/dashboard/plugins/repositories/index.html
  src/controllers/dashboard/scheduledtasks/scheduledtask.html
  src/controllers/dashboard/scheduledtasks/scheduledtasks.js
  src/controllers/livetvsettings.html
  src/controllers/livetvstatus.html
  src/controllers/livetvtuner.html
  src/elements/SectionTitleContainer.tsx
  src/styles/site.scss
Labels: enhancement

#6277 Remove self cast target
  src/apps/experimental/components/AppToolbar/menus/RemotePlayMenu.tsx
  src/components/playback/playbackmanager.js
  src/strings/en-us.json
Labels: enhancement

#6336 Add branding help link
  src/apps/dashboard/constants/helpLinks.ts
Labels: enhancement

#6338 Correcting type for Prefer embedded episode info checkbox
  src/components/libraryoptionseditor/libraryoptionseditor.js
Labels: bug, stable backport
