Repository jellyfin/jellyfin-web, pull requests merged in 2024-01, with the labels that each got.

#5060 Update HLS.js to use upstream version
  package-lock.json
  package.json
Labels: dependencies

#4887 Fix Rename Device don't change device name in the devices page
  src/controllers/dashboard/devices/devices.js
Labels: enhancement, hacktoberfest-accepted

#5075 Fix contributors list
  CONTRIBUTORS.md
Labels: cleanup

#4881 Remove click action from item details primary image
  src/components/cardbuilder/cardBuilder.js
  src/components/cardbuilder/cardImage.ts
  src/controllers/itemDetails/index.js
  src/utils/card.ts
Labels: enhancement, ui & ux

#4895 Use LTR for default subtitle direction
  src/plugins/htmlVideoPlayer/plugin.js
Labels: enhancement, accessibility

#5082 Remove unused sync code
  src/components/apphost.js
  src/components/itemContextMenu.js
  src/components/itemHelper.js
  src/components/metadataEditor/metadataEditor.js
  src/scripts/libraryMenu.js
  src/strings/en-us.json
Labels: cleanup

#5067 Migrate loading/loading to TypeScript
  src/components/loading/loading.js
  src/components/loading/loading.scss
  src/components/loading/loading.ts
  src/global.d.ts
Labels: typescript, cleanup

#5020 Update mui based layout ui
  src/apps/dashboard/AppLayout.tsx
  src/apps/dashboard/components/drawer/AppDrawer.tsx
  src/apps/experimental/AppLayout.tsx
  src/apps/experimental/AppOverrides.scss
  src/apps/experimental/components/AppToolbar/index.tsx
  src/apps/experimental/components/drawers/AppDrawer.tsx
  src/apps/experimental/components/drawers/DrawerHeaderLink.tsx
  src/apps/experimental/components/drawers/MainDrawerContent.tsx
  src/components/Backdrop.tsx
  src/components/ResponsiveDrawer.tsx
  src/components/toolbar/AppToolbar.tsx
  src/hooks/useQuickConnect.ts
  src/hooks/useSystemInfo.ts
  src/themes/theme.ts
Labels: enhancement, ui & ux

#5093 Remove sync info from requested fields
  src/apps/experimental/components/library/GenresSectionContainer.tsx
  src/components/favoriteitems.js
  src/components/homesections/sections/activeRecordings.ts
  src/components/homesections/sections/nextUp.ts
  src/components/homesections/sections/recentlyAdded.ts
  src/components/homesections/sections/resume.ts
  src/components/search/LiveTVSearchResults.tsx
  src/components/search/SearchResults.tsx
  src/controllers/favorites.js
  src/controllers/itemDetails/index.js
  src/controllers/list.js
  src/controllers/livetv/livetvrecordings.js
  src/controllers/livetv/livetvschedule.js
  src/controllers/movies/moviegenres.js
  src/controllers/movies/movies.js
  src/controllers/movies/moviesrecommended.js
  src/controllers/movies/movietrailers.js
  src/controllers/music/musicalbums.js
  src/controllers/music/musicartists.js
  src/controllers/music/musicrecommended.js
  src/controllers/shows/tvgenres.js
  src/controllers/shows/tvrecommended.js
  src/controllers/shows/tvshows.js
  src/hooks/useFetchItems.ts
  src/scripts/itemsByName.js
  src/utils/items.ts
Labels: cleanup

#5085 Convert playstatebutton and ratingbuttons to react
  src/elements/emby-playstatebutton/PlayedButton.tsx
  src/elements/emby-ratingbutton/FavoriteButton.tsx
  src/hooks/useFetchItems.ts
Labels: enhancement, typescript

#5059 Fix queue next / last in session player
  CONTRIBUTORS.md
  src/plugins/sessionPlayer/plugin.js
Labels: bug

#5095 Exclude resumable in next up home screen section
  src/components/homesections/sections/nextUp.ts
Labels: enhancement

#5055 Add livetv view
  src/apps/experimental/components/library/GuideView.tsx
  src/apps/experimental/components/library/ItemsView.tsx
  src/apps/experimental/components/library/PageTabContent.tsx
  src/apps/experimental/components/library/PlayAllButton.tsx
  src/apps/experimental/components/library/ProgramsSectionView.tsx
  src/apps/experimental/components/library/QueueButton.tsx
  src/apps/experimental/components/library/RecommendationContainer.tsx
  src/apps/experimental/components/library/RecommendationItemsContainer.tsx
  src/apps/experimental/components/library/SectionContainer.tsx
  src/apps/experimental/components/library/ShuffleButton.tsx
  src/apps/experimental/components/library/SuggestionsItemsContainer.tsx
  src/apps/experimental/components/library/SuggestionsSectionContainer.tsx
  src/apps/experimental/components/library/SuggestionsSectionView.tsx
  src/apps/experimental/components/library/SuggestionsView.tsx
  src/apps/experimental/components/library/filter/FilterButton.tsx
  src/apps/experimental/components/library/filter/FiltersGenres.tsx
  src/apps/experimental/components/library/filter/FiltersOfficialRatings.tsx
  src/apps/experimental/components/library/filter/FiltersStatus.tsx
  src/apps/experimental/components/library/filter/FiltersStudios.tsx
  src/apps/experimental/components/library/filter/FiltersTags.tsx
  src/apps/experimental/components/library/filter/FiltersYears.tsx
  src/apps/experimental/components/tabs/AppTabs.tsx
  src/apps/experimental/components/tabs/tabRoutes.ts
  src/apps/experimental/routes/asyncRoutes/user.ts
  src/apps/experimental/routes/legacyRoutes/user.ts
  src/apps/experimental/routes/livetv/index.tsx
  src/apps/experimental/routes/movies/index.tsx
  src/apps/experimental/routes/music/index.tsx
  src/apps/experimental/routes/shows/index.tsx
  src/components/homeScreenSettings/homeScreenSettings.js
  src/components/router/appRouter.js
  src/controllers/livetv/livetvsuggested.js
  src/elements/ItemsContainerElement.tsx
  src/elements/emby-itemscontainer/ItemsContainer.tsx
  src/hooks/useCurrentTab.ts
  src/hooks/useFetchItems.ts
  src/strings/en-us.json
  src/types/cardOptions.ts
  src/types/libraryTab.ts
  src/types/libraryTabContent.ts
  src/types/listOptions.ts
  src/types/sections.ts
  src/types/suggestionsSections.ts
  src/utils/sections.ts
Labels: enhancement, typescript, cleanup

#5097 Update build action to modify config.json for testing
  .github/workflows/build.yml
Labels: enhancement, ci

#5096 Ignore missing api when fetching SyncPlay groups
  src/hooks/useSyncPlayGroups.ts
Labels: cleanup

#5048 Update CollectionType values for new enum
  package-lock.json
  src/apps/dashboard/routes/users/profile.tsx
  src/apps/experimental/components/LibraryIcon.tsx
  src/apps/experimental/components/library/GenresItemsContainer.tsx
  src/apps/experimental/components/library/GenresSectionContainer.tsx
  src/apps/experimental/components/library/GenresView.tsx
  src/apps/experimental/components/library/ItemsView.tsx
  src/apps/experimental/routes/movies/index.tsx
  src/apps/experimental/routes/music/index.tsx
  src/apps/experimental/routes/shows/index.tsx
  src/components/homesections/sections/recentlyAdded.ts
  src/components/itemHelper.js
  src/components/router/appRouter.js
  src/components/search/LiveTVSearchResults.tsx
  src/components/search/SearchResults.tsx
  src/controllers/list.js
  src/types/cardOptions.ts
  src/types/collectionType.ts
  src/types/libraryTabContent.ts
  src/types/listOptions.ts
Labels: cleanup

#5098 Disable network path field
  src/components/mediaLibraryCreator/mediaLibraryCreator.js
  src/components/mediaLibraryEditor/mediaLibraryEditor.js
  src/controllers/dashboard/general.js
Labels: cleanup

#5092 Use react-query for UserViews queries
  src/RootApp.tsx
  src/apps/experimental/components/drawers/MainDrawerContent.tsx
  src/components/homeScreenSettings/homeScreenSettings.js
  src/components/homesections/homesections.js
  src/hooks/useUserViews.ts
  src/scripts/libraryMenu.js
  src/utils/query/queryClient.ts
  src/utils/query/queryOptions.ts
Labels: enhancement, cleanup

#5146 Fix handling of single click on the previous track button
  src/components/nowPlayingBar/nowPlayingBar.js
  src/components/remotecontrol/remotecontrol.js
Labels: bug, regression

#5139 Refactor item details backdrop handling
  src/components/backdrop/backdrop.js
  src/controllers/itemDetails/index.html
  src/controllers/itemDetails/index.js
  src/styles/librarybrowser.scss
  src/themes/appletv/theme.css
  src/themes/blueradiance/theme.css
  src/themes/dark/theme.css
  src/themes/light/theme.css
  src/themes/purplehaze/theme.css
  src/themes/wmc/theme.css
Labels: enhancement

#4935 Wait for login before ask for notification permission
  src/components/notifications/notifications.js
Labels: enhancement

#5140 Fix backdrop positioning in legacy layouts
  src/components/Backdrop.tsx
  src/components/layoutManager.js
Labels: bug, regression
