Repository jellyfin/jellyfin-web, pull requests merged in 2024-10, with the labels that each got.

#6149 Add playback subscriber abstraction
  src/apps/stable/features/playback/constants/playbackManagerEvent.ts
  src/apps/stable/features/playback/constants/playerEvent.ts
  src/apps/stable/features/playback/types/callbacks.ts
  src/apps/stable/features/playback/types/streamInfo.ts
  src/apps/stable/features/playback/utils/playbackSubscriber.ts
  src/components/playback/playbackmanager.js
  src/types/playTarget.ts
Labels: enhancement

#6152 Use renovate for unstable sdk updates
  .github/renovate.json
  .github/workflows/update-sdk.yml
Labels: dependencies

#6155 Fix minimum release age type in renovate config
  .github/renovate.json
Labels: dependencies

#6166 Fix LiveTV Playback
  src/components/playback/playbackmanager.js
Labels: bug, regression

#6134 Fix crash on several pages
  src/apps/dashboard/routes/users/access.tsx
  src/apps/dashboard/routes/users/parentalcontrol.tsx
  src/apps/dashboard/routes/users/profile.tsx
  src/apps/stable/routes/user/userprofile.tsx
  src/components/dashboard/users/UserPasswordForm.tsx
Labels: bug, regression

#6148 Fix editing device info when there are no options yet
  src/controllers/dashboard/devices/device.js
Labels: bug

#6172 Fix playback subscriber callback binding
  src/apps/stable/features/playback/utils/playbackSubscriber.ts
Labels: bug

#6165 Added option to control how long the screensaver takes to start
  src/components/displaySettings/displaySettings.js
  src/components/displaySettings/displaySettings.template.html
  src/scripts/screensavermanager.js
  src/scripts/settings/userSettings.js
  src/strings/en-us.json
Labels: enhancement

#6133 Fix creating & deleting access schedules
  src/apps/dashboard/routes/users/parentalcontrol.tsx
  src/elements/IconButtonElement.tsx
Labels: bug

#6168 Fix UI freeze when opening same path
  src/components/router/appRouter.js
Labels: bug, regression

#5906 Add option to always burn in subtitles if transcoding is triggered
  src/components/playback/playbackmanager.js
  src/components/subtitlesettings/subtitlesettings.js
  src/components/subtitlesettings/subtitlesettings.template.html
  src/plugins/htmlVideoPlayer/plugin.js
  src/scripts/settings/appSettings.js
  src/strings/en-us.json
Labels: feature, playback

#6187 Fix padding issues in the metadata manager
  src/apps/dashboard/AppOverrides.scss
  src/controllers/edititemmetadata.html
  src/styles/metadataeditor.scss
Labels: enhancement

#6183 Update drawer label for metadata manager
  src/apps/dashboard/components/drawer/sections/ServerDrawerSection.tsx
  src/controllers/dashboard/metadataimages.html
  src/controllers/user/menu/index.html
  src/scripts/libraryMenu.js
  src/strings/en-us.json
Labels: cleanup

#6150 Only connect to ServerConnections once
  src/components/ConnectionRequired.tsx
  src/components/ServerConnections.js
  src/index.jsx
Labels: bug

#6163 Add examples to LabelPublishedServerUriHelp string
  src/strings/en-us.json
Labels: enhancement, ui & ux

#6004 Add ability to select QSV device in the UI
  src/controllers/dashboard/encodingsettings.html
  src/controllers/dashboard/encodingsettings.js
  src/strings/en-us.json
Labels: enhancement

#6157 Add media segment skipping
  src/apps/stable/features/playback/constants/mediaSegmentAction.ts
  src/apps/stable/features/playback/utils/mediaSegmentManager.ts
  src/apps/stable/features/playback/utils/mediaSegmentSettings.ts
  src/apps/stable/features/playback/utils/mediaSegments.test.ts
  src/apps/stable/features/playback/utils/mediaSegments.ts
  src/components/playback/playbackmanager.js
  src/components/playbackSettings/playbackSettings.js
  src/components/playbackSettings/playbackSettings.template.html
  src/constants/time.ts
  src/controllers/user/playback/index.js
  src/scripts/settings/userSettings.js
  src/strings/en-us.json
Labels: feature

#6184 Add playlist editing
  src/apps/experimental/features/details/components/buttons/MoreCommandsButton.tsx
  src/components/itemContextMenu.js
  src/components/itemHelper.js
  src/components/playlisteditor/playlisteditor.ts
  src/controllers/itemDetails/index.js
  src/strings/en-us.json
  src/utils/string.test.ts
  src/utils/string.ts
Labels: enhancement

#6201 Rollback to dompurify v2 for legacy support
  .github/renovate.json
  package-lock.json
  package.json
Labels: security, dependencies, npm

#6100 Refactoring Section Container
  src/apps/experimental/components/library/GenresItemsContainer.tsx
  src/apps/experimental/components/library/GenresSectionContainer.tsx
  src/apps/experimental/components/library/ItemsView.tsx
  src/apps/experimental/components/library/ProgramsSectionView.tsx
  src/apps/experimental/components/library/SectionContainer.tsx
  src/apps/experimental/components/library/SuggestionsSectionView.tsx
  src/apps/experimental/components/library/UpcomingView.tsx
  src/components/common/NoItemsMessage.tsx
  src/components/common/SectionContainer.tsx
  src/elements/emby-itemscontainer/ItemsContainer.tsx
  src/elements/emby-scroller/Scroller.tsx
Labels: enhancement, cleanup

#5412 Add unit tests
  src/utils/card.test.ts
  src/utils/dateFnsLocale.test.ts
  src/utils/events.test.ts
Labels: tests

#6206 Remove check for pre-10.6 server version
  src/apps/dashboard/routes/users/profile.tsx
Labels: cleanup

#3381 Fix queue when playing on remote device (partial)
  src/components/remotecontrol/remotecontrol.js
  src/plugins/sessionPlayer/plugin.js
Labels: enhancement

#6214 Add base item to download params
  src/components/itemContextMenu.js
  src/controllers/itemDetails/index.js
Labels: enhancement

#6215 Remove ratings from video osd
  src/controllers/playback/video/index.html
  src/controllers/playback/video/index.js
  src/styles/videoosd.scss
Labels: ui & ux

#6223 Do not use strict mode for view manager pages
  src/apps/dashboard/AppLayout.tsx
  src/apps/experimental/AppLayout.tsx
  src/components/router/AsyncRoute.tsx
  src/components/viewManager/ViewManagerPage.tsx
  src/index.jsx
Labels: bug, regression

#6135 Fix HEVC playback on Hisense Vidaa OS
  src/scripts/browserDeviceProfile.js
Labels: enhancement, playback

#6212 Use "Save" in Metadata Editor and remove "SaveChanges".
  src/components/metadataEditor/metadataEditor.template.html
  src/strings/en-us.json
Labels: cleanup

#6224 Fix undefined subtitle stream index when off
  src/components/playback/playbackmanager.js
Labels: bug

#6231 Fix tags and schedule edit for parental control
  src/apps/dashboard/routes/users/parentalcontrol.tsx
  src/components/dashboard/users/AccessScheduleList.tsx
  src/components/dashboard/users/TagList.tsx
  src/elements/IconButtonElement.tsx
Labels: bug

#6239 Video OSD cleanup
  src/controllers/playback/video/index.js
  src/styles/videoosd.scss
Labels: enhancement, ui & ux

#6240 Fix capitalization of PreferNonstandardArtistsTag label
  src/components/libraryoptionseditor/libraryoptionseditor.template.html
Labels: bug

#6244 Fix playing episodes when additional parts exist
  src/apps/experimental/components/library/PlayAllButton.tsx
  src/apps/experimental/components/library/QueueButton.tsx
  src/apps/experimental/components/library/ShuffleButton.tsx
  src/apps/experimental/features/details/components/buttons/MoreCommandsButton.tsx
  src/apps/experimental/features/details/components/buttons/PlayOrResumeButton.tsx
  src/components/playback/playbackmanager.js
  src/components/playlisteditor/playlisteditor.ts
Labels: bug

#6252 Fix drawer label for the dashboard metadata page
  src/apps/dashboard/components/drawer/sections/ServerDrawerSection.tsx
Labels: bug, regression

#6196 Add 'ask to skip' to media segments
  src/apps/stable/features/playback/constants/mediaSegmentAction.ts
  src/apps/stable/features/playback/constants/playerEvent.ts
  src/apps/stable/features/playback/utils/mediaSegmentManager.ts
  src/apps/stable/features/playback/utils/mediaSegments.ts
  src/apps/stable/features/playback/utils/playbackSubscriber.ts
  src/components/playback/playbackmanager.js
  src/components/playback/skipbutton.scss
  src/components/playback/skipsegment.ts
  src/controllers/playback/video/index.js
  src/strings/en-us.json
Labels: feature

#6265 Add support for plugin revisions with bad timestamps
  src/apps/dashboard/features/plugins/components/PluginRevisions.tsx
  src/scripts/datetime.js
Labels: bug, regression, stable backport

#6266 Make ask to skip the default for 'Intro' and 'Outro' segments
  src/apps/stable/features/playback/utils/mediaSegmentSettings.ts
  src/components/playbackSettings/playbackSettings.js
Labels: enhancement, stable backport

#6258 Show Skip Button When 'Next Video Info Overlay' is Disabled
  src/components/playback/skipsegment.ts
  src/controllers/playback/video/index.js
  src/scripts/settings/userSettings.js
Labels: enhancement, stable backport
