Repository jellyfin/jellyfin-web, pull requests merged in 2024-03, with the labels that each got.

#5253 Keep exact sdk version in package.json
  .github/workflows/update-sdk.yml
Labels: ci

#5214 Change webOS version needed for audioTracks to 4.0
  CONTRIBUTORS.md
  src/scripts/browserDeviceProfile.js
Labels: bug, p: webos, playback

#5205 Make the server field ignore the trailing slash
  src/controllers/session/addServer/index.js
Labels: enhancement

#4181 Make Height editable on TV Channels
  src/components/metadataEditor/metadataEditor.js
  src/components/metadataEditor/metadataEditor.template.html
  src/strings/en-us.json
Labels: enhancement

#5183 Relax HEVC on Safari for hvc1/dvh1 direct-play
  src/scripts/browserDeviceProfile.js
Labels: enhancement

#5266 Remove Azure pipelines CI
  .ci/azure-pipelines-build.yml
  .ci/azure-pipelines-package.yml
  .ci/azure-pipelines.yml
Labels: cleanup, ci

#5268 Revert "Bump es5-ext from 0.10.53 to 0.10.64"
  package-lock.json
Labels: dependencies

#5269 Update editorconfig for yaml indentation
  .editorconfig
Labels: cleanup

#5240 feat: add VideoToolbox Tone mapping support
  src/controllers/dashboard/encodingsettings.html
  src/controllers/dashboard/encodingsettings.js
  src/strings/en-us.json
Labels: feature, release-highlight

#5284 Fix the descriptions of segment deletion to match server changes
  src/strings/en-us.json
Labels: enhancement

#4984 Add option to enable replaygain scanning
  src/components/libraryoptionseditor/libraryoptionseditor.js
  src/components/libraryoptionseditor/libraryoptionseditor.template.html
  src/strings/en-us.json
Labels: feature

#4883 Add support for subtitle management permission
  src/apps/dashboard/routes/users/profile.tsx
  src/components/itemContextMenu.js
  src/components/itemHelper.js
  src/strings/en-us.json
Labels: feature, hacktoberfest-accepted, release-highlight

#4943 Deleting a user should show name
  .gitignore
  CONTRIBUTORS.md
  src/apps/dashboard/routes/users/index.tsx
  src/components/dashboard/users/UserCardBox.tsx
  src/strings/en-us.json
Labels: enhancement, ui & ux

#5270 Fix card issues in experimental layout
  src/components/cardbuilder/Card/CardFooterText.tsx
  src/components/cardbuilder/Card/cardHelper.ts
Labels: bug

#5290 Convert bump_version to bumper only
  bump_version
Labels: build

#5294 add catch for itemContextMenu.show
  src/components/metadataEditor/metadataEditor.js
Labels: bug

#4916 Adding DOVI support on webOS
  CONTRIBUTORS.md
  src/scripts/browserDeviceProfile.js
Labels: enhancement, p: webos, hacktoberfest-accepted

#5293 Fix searching in tv shows
  src/controllers/shows/tvrecommended.js
Labels: bug

#5289 Enable 'Prefer fMP4-HLS Container' by default on certain platforms
  src/scripts/browserDeviceProfile.js
  src/scripts/settings/userSettings.js
Labels: enhancement, playback

#5295 Log current version to console to help out with issue triage and debugging
  .eslintrc.js
  src/components/apphost.js
  src/controllers/dashboard/dashboard.js
  src/global.d.ts
  src/index.jsx
  webpack.common.js
Labels: enhancement

#5200 Add trickplay support
  src/apps/dashboard/components/drawer/sections/ServerDrawerSection.tsx
  src/apps/dashboard/routes/_asyncRoutes.ts
  src/apps/dashboard/routes/playback/trickplay.tsx
  src/components/dashboard/playback/trickplay/LinkTrickplayAcceleration.tsx
  src/components/libraryoptionseditor/libraryoptionseditor.js
  src/components/libraryoptionseditor/libraryoptionseditor.template.html
  src/components/playback/playbackmanager.js
  src/controllers/dashboard/encodingsettings.html
  src/controllers/dashboard/encodingsettings.js
  src/controllers/dashboard/playback.js
  src/controllers/dashboard/streaming.js
  src/controllers/playback/video/index.js
  src/elements/emby-slider/emby-slider.js
  src/plugins/syncPlay/core/Helper.js
  src/strings/en-us.json
Labels: feature, release-highlight

#5299 Fix the behavior of HDR remuxing in HLS.js 1.5+
  src/plugins/htmlVideoPlayer/plugin.js
Labels: enhancement, playback

#5232 Delete series confirmation to be different to delete episode
  src/components/itemContextMenu.js
  src/scripts/deleteHelper.js
  src/strings/en-us.json
Labels: enhancement

#5302 Enable renovate dashboard
  .github/renovate.json
Labels: dependencies

#5292 Optimize theme background images
  src/themes/blueradiance/bg.jpg
  src/themes/purplehaze/bg.jpg
Labels: enhancement

#5296 Migrate back from JASSUB to JavascriptSubtitlesOctopus
  package-lock.json
  package.json
  src/plugins/htmlVideoPlayer/plugin.js
  src/plugins/htmlVideoPlayer/style.scss
  webpack.common.js
Labels: regression, dependencies

#5282 Complement recent DoVi fallback handling changes server-side
  CONTRIBUTORS.md
  src/scripts/browserDeviceProfile.js
Labels: enhancement, playback

#5301 fix: name GPGPU runtime correctly
  src/strings/en-us.json
Labels: enhancement

#5274 Add more media playback error messages
  src/components/htmlMediaHelper.js
  src/components/playback/playbackmanager.js
  src/plugins/htmlAudioPlayer/plugin.js
  src/plugins/htmlVideoPlayer/plugin.js
  src/strings/en-us.json
  src/types/mediaError.ts
  src/utils/mediaError.ts
  src/utils/mediaSource.ts
Labels: cleanup

#4535 Add "AllowedTags" option to parental controls
  CONTRIBUTORS.md
  src/apps/dashboard/routes/users/parentalcontrol.tsx
  src/components/ServerConnections.js
  src/components/dashboard/users/TagList.tsx
  src/strings/en-us.json
Labels: feature

#5316 Add option to enable smooth scroll
  src/components/scrollManager.js
  src/controllers/user/controls/index.html
  src/controllers/user/controls/index.js
  src/scripts/settings/appSettings.js
  src/strings/en-us.json
Labels: feature

#5315 Add option to limit maximum supported video resolution
  src/components/apphost.js
  src/components/playbackSettings/playbackSettings.js
  src/components/playbackSettings/playbackSettings.template.html
  src/scripts/settings/appSettings.js
  src/strings/en-us.json
Labels: feature

#5076 feat: (preferences) migrate user display settings to react
  src/apps/experimental/routes/asyncRoutes/user.ts
  src/apps/experimental/routes/legacyRoutes/user.ts
  src/apps/experimental/routes/user/display/DisplayPreferences.tsx
  src/apps/experimental/routes/user/display/ItemDetailPreferences.tsx
  src/apps/experimental/routes/user/display/LibraryPreferences.tsx
  src/apps/experimental/routes/user/display/LocalizationPreferences.tsx
  src/apps/experimental/routes/user/display/NextUpPreferences.tsx
  src/apps/experimental/routes/user/display/constants.ts
  src/apps/experimental/routes/user/display/hooks/useDisplaySettingForm.ts
  src/apps/experimental/routes/user/display/hooks/useDisplaySettings.ts
  src/apps/experimental/routes/user/display/hooks/useScreensavers.ts
  src/apps/experimental/routes/user/display/hooks/useServerThemes.ts
  src/apps/experimental/routes/user/display/index.tsx
  src/apps/experimental/routes/user/display/types.ts
  src/scripts/settings/userSettings.js
  src/styles/site.scss
  src/themes/theme.ts
  src/types/webConfig.ts
Labels: enhancement, typescript

#5323 Fix translation of the enhanced NVDEC decoder
  src/strings/en-us.json
Labels: enhancement

#5325 Remove legacy codecs for VideoToolbox
  src/controllers/dashboard/encodingsettings.html
Labels: cleanup

#5327 Add titles to buttons on now playing bar
  src/components/nowPlayingBar/nowPlayingBar.js
  src/strings/en-us.json
Labels: bug, accessibility

#5339 Fix missing emby-collapse import in add plugin page
  src/controllers/dashboard/plugins/add/index.js
Labels: bug, regression

#5332 Disable ffmpeg path setting for security reasons
  src/controllers/dashboard/encodingsettings.html
  src/controllers/dashboard/encodingsettings.js
Labels: bug, security

#5330 Add clear help text for encoding format options
  src/controllers/dashboard/encodingsettings.html
  src/controllers/dashboard/encodingsettings.js
  src/strings/en-us.json
Labels: enhancement, ui & ux

#5348 Use SeriesSortName in SortBy
  src/controllers/favorites.js
  src/controllers/list.js
Labels: bug, enhancement

#5358 Fix unreleased status missing in metadata editor
  src/components/metadataEditor/metadataEditor.js
Labels: bug
