Repository jellyfin/jellyfin-web, pull requests merged in 2024-12, with the labels that each got.

#6387 Remove auto port forward options
  src/controllers/dashboard/networking.html
  src/controllers/dashboard/networking.js
  src/controllers/wizard/remote/index.html
  src/controllers/wizard/remote/index.js
  src/strings/en-us.json
Labels: cleanup

#6295 Enable TV Support for 'Ask to Skip'
  src/components/playback/playbackmanager.js
  src/components/playback/skipsegment.ts
  src/controllers/playback/video/index.js
Labels: enhancement, stable backport

#6373 Prevent opus more than 2 channels being remuxed on Safari
  src/scripts/browserDeviceProfile.js
Labels: enhancement, stable backport, playback

#6388 Fix async route page refresh not loading header
  src/components/ConnectionRequired.tsx
  src/index.jsx
Labels: bug, regression, stable backport

#6317 Fix secondary audio on Tizen 8
  src/scripts/browserDeviceProfile.js
Labels: bug, stable backport, p: tizen, playback

#6362 Always do tone-mapping for HDR transcoding when software pipeline is used
  src/controllers/dashboard/encodingsettings.html
  src/controllers/dashboard/encodingsettings.js
Labels: enhancement, stable backport
