Repository jellyfin/jellyfin-web, pull requests merged in 2024-08, with the labels that each got.

#5856 Fix publish comment action on fork PRs
  .github/workflows/automation.yml
Labels: github-actions, ci

#5825 Replace history syncing with RouterHistory
  src/RootApp.tsx
  src/RootAppRouter.tsx
  src/apps/experimental/routes/routes.tsx
  src/apps/stable/AppRouter.tsx
  src/apps/stable/routes/routes.tsx
  src/components/dialogHelper/dialogHelper.js
  src/components/router/BangRedirect.tsx
  src/components/router/appRouter.js
  src/components/router/routerHistory.ts
  src/hooks/useLegacyRouterSync.ts
  src/index.jsx
Labels: bug

#5822 Replace deprecated babel dependencies
  babel.config.js
  package-lock.json
  package.json
Labels: dependencies, npm

#5857 Fix automation workflow trigger
  .github/workflows/automation.yml
Labels: github-actions, ci

#5832 Add chapter titles to trickplay popup
  src/controllers/playback/video/index.js
Labels: enhancement

#5827 Replace history syncing with RouterHistory
  src/RootApp.tsx
  src/RootAppRouter.tsx
  src/apps/experimental/routes/routes.tsx
  src/apps/stable/routes/routes.tsx
  src/components/dialogHelper/dialogHelper.js
  src/components/router/BangRedirect.tsx
  src/components/router/appRouter.js
  src/components/router/routerHistory.ts
  src/hooks/useLegacyRouterSync.ts
  src/index.jsx
Labels: bug

#5826 Fix overly aggressive view caching
  src/components/viewManager/ViewManagerPage.tsx
Labels: bug, regression, stable backport

#5879 Add PR number to environment for debugging workflow
  .github/workflows/publish.yml
Labels: ci

#5891 Refactor publish workflow
  .github/workflows/automation.yml
  .github/workflows/build.yml
  .github/workflows/job-messages.yml
  .github/workflows/pr-suggestions.yml
  .github/workflows/publish.yml
Labels: github-actions, ci

#5892 Fix branch name passed to CF Pages for forks
  .github/workflows/build.yml
Labels: github-actions, ci

#5894 Migrate to CF wrangler action
  .github/workflows/build.yml
Labels: github-actions, ci

#5896 Fix Cloudflare Pages CI issues
  .github/workflows/build.yml
Labels: github-actions, ci

#5870 Add AC-4 and RFC7845 downmix
  src/controllers/dashboard/encodingsettings.html
Labels: enhancement, playback

#5872 Fix remux detection for pure audio session
  src/components/playback/playmethodhelper.js
Labels: bug

#5898 Fix autoCast race condition
  src/apps/experimental/components/AppToolbar/menus/RemotePlayActiveMenu.tsx
  src/components/playback/playerSelectionMenu.js
  src/index.jsx
  src/scripts/autocast.js
Labels: bug, regression, stable backport

#5730 Add no-cache attribute for fetch requests to /system/info/public to prevent stale server info
  src/components/ConnectionRequired.tsx
  src/components/router/appRouter.js
  src/hooks/useSystemInfo.ts
  src/utils/dashboard.js
Labels: bug, stable backport

#5843 Fix swipe gestures on android for book reader
  src/plugins/bookPlayer/plugin.js
Labels: bug, regression, stable backport, needs testing

#5910 Fix "Download All" for Safari
  src/scripts/multiDownload.js
Labels: bug, stable backport

#5823 fix: use navigate instead of resolver
  src/apps/experimental/routes/routes.tsx
  src/apps/stable/routes/routes.tsx
Labels: bug, stable backport, p: tizen

#4830 Added artist list concatenation for albums that have over 10 artists
  src/controllers/itemDetails/index.js
  src/strings/en-us.json
Labels: bug, hacktoberfest-accepted

#5753 Add 'how many times' is the speed of transcoding in Playback Info
  CONTRIBUTORS.md
  src/components/playerstats/playerstats.js
Labels: enhancement, ui & ux

#5765 Use production year for movies in video player
  src/controllers/playback/video/index.js
Labels: enhancement

#5915 Fix incorrect initial play icon in remote control section
  src/controllers/dashboard/dashboard.js
Labels: bug, stable backport, ui & ux

#5918 Convert defines to boolean
  src/global.d.ts
  webpack.common.js
Labels: build

#5193 add keybinding to control subtitles offset
  src/components/subtitlesync/subtitlesync.js
  src/controllers/playback/video/index.js
Labels: feature, ui & ux

#5742 Replace existence check with optional chaining
  src/components/backdrop/backdrop.js
  src/components/cardbuilder/cardBuilder.js
  src/components/htmlMediaHelper.js
  src/components/itemContextMenu.js
  src/components/itemMediaInfo/itemMediaInfo.js
  src/components/remotecontrol/remotecontrol.js
  src/components/slideshow/slideshow.js
  src/lib/scroller/index.js
  src/plugins/chromecastPlayer/plugin.js
  src/plugins/syncPlay/core/Helper.js
Labels: cleanup

#5920 Fix Safari volume control
  src/components/apphost.js
  src/plugins/htmlAudioPlayer/plugin.js
Labels: bug, regression, stable backport

#5914 Override mp3 remux container
  src/scripts/browserDeviceProfile.js
Labels: enhancement, playback

#5923 Fix safari volume being reset when track changed
  src/plugins/htmlAudioPlayer/plugin.js
Labels: bug, regression, stable backport

#5924 Fix sass rule order warning
  src/lib/navdrawer/navdrawer.scss
Labels: cleanup

#5925 Fix home section resume error
  src/components/homesections/homesections.js
Labels: bug

#5817 Fix undefined serverId in Person card
  src/components/cardbuilder/cardBuilder.js
Labels: stable backport, cleanup

#5405 Add Lyrics Editor for Admin users only
  src/components/itemContextMenu.js
  src/components/itemHelper.js
  src/components/lyricseditor/lyricseditor.js
  src/components/lyricseditor/lyricseditor.scss
  src/components/lyricseditor/lyricseditor.template.html
  src/components/lyricseditor/lyricspreview.template.html
  src/components/lyricsuploader/lyricsuploader.js
  src/components/lyricsuploader/lyricsuploader.scss
  src/components/lyricsuploader/lyricsuploader.template.html
  src/strings/en-us.json
  src/utils/file.ts
Labels: feature, release-highlight

#5850 Move reusable Text Lines component to common file
  src/apps/experimental/components/library/ItemsView.tsx
  src/components/common/textLines/TextLines.tsx
  src/components/common/textLines/types.ts
  src/components/common/textLines/useTextLines.tsx
  src/components/listview/List/ListContent.tsx
  src/components/listview/List/ListItemBody.tsx
  src/components/listview/List/ListTextWrapper.tsx
  src/components/listview/listview.scss
  src/types/listOptions.ts
Labels: cleanup

#5717 Add filter status indicator
  src/components/filterdialog/filterIndicator.js
  src/components/filterdialog/filterIndicator.scss
  src/controllers/livetv.html
  src/controllers/livetv/livetvchannels.js
  src/controllers/movies/movies.html
  src/controllers/movies/movies.js
  src/controllers/movies/movietrailers.js
  src/controllers/music/music.html
  src/controllers/music/musicalbums.js
  src/controllers/music/musicartists.js
  src/controllers/music/songs.js
  src/controllers/shows/episodes.js
  src/controllers/shows/tvrecommended.html
  src/controllers/shows/tvshows.js
  src/scripts/settings/userSettings.js
Labels: enhancement

#5871 Better codec profile for Safari with 10.10 features
  src/components/htmlMediaHelper.js
  src/plugins/htmlVideoPlayer/plugin.js
  src/scripts/browserDeviceProfile.js
Labels: enhancement, playback

#5935 Migrate to stylistic eslint rules
  .eslintrc.js
  package-lock.json
  package.json
  src/apiclient.d.ts
  src/apps/experimental/routes/user/display/hooks/useDisplaySettings.ts
  src/components/cardbuilder/Card/CardHoverMenu.tsx
  src/components/cardbuilder/cardBuilderUtils.ts
  src/components/router/AsyncRoute.tsx
  src/elements/emby-button/Button.tsx
  src/elements/emby-button/IconButton.tsx
  src/elements/emby-button/LinkButton.tsx
  src/elements/emby-scrollbuttons/utils.ts
  src/hooks/useElementSize.ts
  src/index.d.ts
  src/themes/themes.ts
  src/types/base/models/item-dto.ts
  src/types/library.ts
  src/types/libraryTab.ts
  src/types/sections.ts
  src/utils/card.ts
  src/utils/mediaSource.ts
Labels: build

#5933 Add optional dependency for sass-embedded
  package-lock.json
  package.json
Labels: dependencies

#5932 Add shared ItemStatus and ItemDtoQueryResult Type
  src/apps/experimental/components/library/GenresSectionContainer.tsx
  src/apps/experimental/components/library/PlayAllButton.tsx
  src/apps/experimental/components/library/QueueButton.tsx
  src/apps/experimental/components/library/SectionContainer.tsx
  src/apps/experimental/components/library/ShuffleButton.tsx
  src/apps/experimental/components/library/SuggestionsSectionView.tsx
  src/components/cardbuilder/Card/CardBox.tsx
  src/components/cardbuilder/Card/CardFooterText.tsx
  src/components/cardbuilder/Card/CardImageContainer.tsx
  src/components/cardbuilder/Card/CardInnerFooter.tsx
  src/components/cardbuilder/Card/CardOverlayButtons.tsx
  src/components/cardbuilder/Card/cardHelper.ts
  src/components/cardbuilder/Card/useCard.ts
  src/components/cardbuilder/Card/useCardImageUrl.ts
  src/components/indicators/useIndicator.tsx
  src/components/mediainfo/PrimaryMediaInfo.tsx
  src/components/mediainfo/usePrimaryMediaInfo.tsx
  src/hooks/useFetchItems.ts
  src/hooks/useItem.ts
  src/types/base/models/item-dto-query-result.ts
  src/types/base/models/item-dto.ts
  src/types/base/models/item-kind.ts
  src/types/base/models/item-media-kind.ts
  src/types/base/models/item-status.ts
Labels: typescript, cleanup

#5904 Add empty password save error message
  src/components/dashboard/users/UserPasswordForm.tsx
  src/strings/en-us.json
Labels: enhancement

#5934 Fix action for live tv schedule in experimental layout
  src/components/cardbuilder/Card/CardBox.tsx
  src/components/cardbuilder/Card/CardHoverMenu.tsx
  src/components/cardbuilder/Card/useCard.ts
Labels: bug

#5937 Limit activity table to screen size
  src/apps/dashboard/routes/activity.tsx
Labels: enhancement

#5800 Add trickplay key frame only extraction option
  src/apps/dashboard/routes/playback/trickplay.tsx
  src/strings/en-us.json
Labels: enhancement

#5151 Add move to top and bottom context menu options
  src/components/itemContextMenu.js
  src/components/shortcuts.js
  src/strings/en-us.json
Labels: feature

#5784 Enable software tonemapping options
  src/controllers/dashboard/encodingsettings.html
  src/controllers/dashboard/encodingsettings.js
  src/strings/en-us.json
Labels: feature, playback

#5948 Refactor experimental display preferences structure
  src/apps/experimental/features/preferences/components/DisplayPreferences.tsx
  src/apps/experimental/features/preferences/components/ItemDetailPreferences.tsx
  src/apps/experimental/features/preferences/components/LibraryPreferences.tsx
  src/apps/experimental/features/preferences/components/LocalizationPreferences.tsx
  src/apps/experimental/features/preferences/components/NextUpPreferences.tsx
  src/apps/experimental/features/preferences/constants/locales.ts
  src/apps/experimental/features/preferences/hooks/useDisplaySettingForm.ts
  src/apps/experimental/features/preferences/hooks/useDisplaySettings.ts
  src/apps/experimental/features/preferences/hooks/useScreensavers.ts
  src/apps/experimental/features/preferences/types/displaySettingsValues.ts
  src/apps/experimental/routes/user/display/index.tsx
Labels: cleanup

#5949 Fix play all & shuffle not working on genres
  src/components/playback/playbackmanager.js
  src/controllers/list.js
Labels: bug, stable backport

#5972 Apply Maximum Allowed Audio Channels to DirectPlay
  src/scripts/browserDeviceProfile.js
Labels: enhancement, stable backport, playback

#5604 Add button to reset metadata in metadata editor
  src/components/metadataEditor/metadataEditor.js
  src/components/metadataEditor/metadataEditor.template.html
  src/strings/en-us.json
Labels: enhancement, ui & ux

#5984 Add user settings context
  src/RootApp.tsx
  src/hooks/useUserSettings.tsx
  src/hooks/useUserTheme.ts
  src/lib/globalize/index.js
Labels: enhancement

#5992 Show rotation mediainfo
  src/components/itemMediaInfo/itemMediaInfo.js
  src/components/playerstats/playerstats.js
  src/strings/en-us.json
Labels: enhancement

#5970 Migrate to material react table
  package-lock.json
  package.json
  src/apps/dashboard/components/dataGrid/GridActionsCellLink.tsx
  src/apps/dashboard/features/activity/api/useLogEntries.ts
  src/apps/dashboard/features/activity/components/ActionsCell.tsx
  src/apps/dashboard/features/activity/components/LogLevelCell.tsx
  src/apps/dashboard/features/activity/components/LogLevelChip.tsx
  src/apps/dashboard/features/activity/components/OverviewCell.tsx
  src/apps/dashboard/features/activity/components/UserAvatarButton.tsx
  src/apps/dashboard/features/activity/types/ActivityLogEntryCell.ts
  src/apps/dashboard/routes/activity.tsx
  src/hooks/useUsers.ts
  webpack.common.js
Labels: enhancement, dependencies
