Repository jellyfin/jellyfin-web, pull requests merged in 2024-09, with the labels that each got.

#6010 Fix create library crashing when no path specified
  src/components/mediaLibraryCreator/mediaLibraryCreator.js
Labels: bug, regression

#6011 Fix network mode for localhost server
  src/utils/query/queryClient.ts
Labels: bug, regression, stable backport

#6013 Fix autocast when already connected
  src/scripts/autocast.js
Labels: bug, stable backport

#6015 Fix touch events in experimental video player
  src/apps/experimental/AppLayout.tsx
  src/apps/experimental/AppOverrides.scss
Labels: bug, stable backport

#5778 Include The Name Of The TV Show while displaying Episodes In Playlists.
  src/scripts/playlistViewer.js
Labels: enhancement

#5893 Show error when library ids are invalid
  src/components/mediaLibraryEditor/mediaLibraryEditor.js
  src/strings/en-us.json
Labels: enhancement

#5966 Fix hidden scheduled task progress updates causing errors
  src/controllers/dashboard/scheduledtasks/scheduledtasks.js
Labels: bug

#5985 Add new tonemap mode options
  src/controllers/dashboard/encodingsettings.html
Labels: feature, playback, release-highlight

#5987 Limit opus support to Safari 17
  src/scripts/browserDeviceProfile.js
Labels: enhancement, playback

#6016 Show slideshow controls when touched
  src/components/slideshow/slideshow.js
Labels: enhancement, stable backport

#5938 Add Secondary Media Info & Media Info Stats
  src/components/listview/List/ListContent.tsx
  src/components/listview/List/ListItemBody.tsx
  src/components/listview/listview.scss
  src/components/mediainfo/CaptionMediaInfo.tsx
  src/components/mediainfo/EndsAt.tsx
  src/components/mediainfo/MediaInfoItem.tsx
  src/components/mediainfo/MediaInfoStats.tsx
  src/components/mediainfo/PrimaryMediaInfo.tsx
  src/components/mediainfo/SecondaryMediaInfo.tsx
  src/components/mediainfo/StarIcons.tsx
  src/components/mediainfo/mediainfo.js
  src/components/mediainfo/mediainfo.scss
  src/components/mediainfo/type.ts
  src/components/mediainfo/useMediaInfoStats.tsx
  src/components/mediainfo/usePrimaryMediaInfo.tsx
  src/components/mediainfo/useSecondaryMediaInfo.tsx
  src/types/mediaInfoItem.ts
Labels: typescript

#6003 Fix library tabs translate on experimental layout
  src/apps/experimental/components/tabs/AppTabs.tsx
  src/apps/experimental/components/tabs/tabRoutes.ts
Labels: bug

#6001 Add typed filters for activity table
  src/apps/dashboard/AppLayout.tsx
  src/apps/dashboard/routes/activity.tsx
  src/hooks/useLocale.tsx
  src/lib/globalize/index.js
  src/utils/dateFnsLocale.ts
Labels: enhancement

#6023 Update software tonemap help text to mention dovi
  src/strings/en-us.json
Labels: i18n

#5901 Add support for H264 High 10 Profile on Safari
  src/components/playbackSettings/playbackSettings.js
  src/components/playbackSettings/playbackSettings.template.html
  src/scripts/browserDeviceProfile.js
  src/scripts/settings/appSettings.js
  src/strings/en-us.json
Labels: feature, playback, release-highlight

#6020 Add tag support to list view
  src/components/router/appRouter.js
  src/controllers/itemDetails/index.js
  src/controllers/list.js
Labels: feature

#6024 Remove app router routing
  src/components/ConnectionRequired.tsx
  src/components/nowPlayingBar/nowPlayingBar.js
  src/components/router/appRouter.js
  src/index.jsx
Labels: cleanup

#6041 Fix list view item undefined
  src/controllers/list.js
Labels: bug, regression

#5986 Add audio options to workaround compatability problems
  src/components/playback/playbackmanager.js
  src/components/playbackSettings/playbackSettings.js
  src/components/playbackSettings/playbackSettings.template.html
  src/scripts/browserDeviceProfile.js
  src/scripts/settings/appSettings.js
  src/strings/en-us.json
Labels: feature, playback

#6059 Cleanup babel plugins
  babel.config.js
  package-lock.json
  package.json
Labels: cleanup

#6060 Add support for cbt and cb7 books
  src/plugins/comicsPlayer/plugin.js
Labels: feature

#5635 Enhance trickplay
  src/components/libraryoptionseditor/libraryoptionseditor.js
  src/components/libraryoptionseditor/libraryoptionseditor.template.html
  src/components/refreshdialog/refreshdialog.js
  src/strings/en-us.json
Labels: feature

#5978 Make Live TV compatibility profiles customizable
  src/controllers/livetvtuner.html
  src/controllers/livetvtuner.js
  src/strings/en-us.json
Labels: feature, playback

#6068 Remove broken redirects
  src/RootAppRouter.tsx
  src/apps/dashboard/routes/_redirects.ts
  src/apps/experimental/routes/routes.tsx
  src/apps/stable/routes/_redirects.ts
  src/apps/stable/routes/routes.tsx
  src/components/router/Redirect.tsx
Labels: cleanup

#5950 Add localization entry for VideoCodecTagNotSupported
  src/strings/en-us.json
Labels: i18n

#6029 Add support for DoVi Profile 10
  src/scripts/browserDeviceProfile.js
Labels: enhancement, playback

#5881 Add lyric fetcher settings to library options
  src/components/libraryoptionseditor/libraryoptionseditor.js
  src/components/libraryoptionseditor/libraryoptionseditor.template.html
  src/strings/en-us.json
Labels: feature

#6046 Fix focus indication on tags, artist and album
  src/components/remotecontrol/remotecontrol.js
  src/controllers/itemDetails/index.js
Labels: bug, ui & ux

#6080 Discard `chrome` and `safari` on Tizen and webOS
  src/scripts/browser.js
  src/scripts/settings/userSettings.js
Labels: bug, p: webos, p: tizen

#6073 Allow VP9 remuxing for Chrome and Firefox
  src/scripts/browserDeviceProfile.js
Labels: enhancement, playback

#6070 Make hotkeys strict and prevent default actions for handled ones
  src/controllers/playback/video/index.js
  src/plugins/bookPlayer/plugin.js
  src/plugins/comicsPlayer/plugin.js
  src/plugins/pdfPlayer/plugin.js
  src/scripts/keyboardNavigation.js
Labels: enhancement, ui & ux

#6071 Separate bitrate control from resolution
  src/components/playback/playersettingsmenu.js
  src/components/playbackSettings/playbackSettings.js
  src/components/qualityOptions.js
Labels: enhancement

#6081 Add HEVC RExt HW decoding options
  src/controllers/dashboard/encodingsettings.html
  src/controllers/dashboard/encodingsettings.js
Labels: enhancement

#6036 Fix autocast listener
  src/index.jsx
  src/scripts/autocast.js
Labels: bug

#6065 Fix season play button not including specials
  src/components/playback/playbackmanager.js
Labels: bug

#5688 Add support for native PGS subtitle rendering without transcoding
  package-lock.json
  package.json
  src/components/subtitlesettings/subtitlesettings.js
  src/components/subtitlesettings/subtitlesettings.template.html
  src/plugins/htmlVideoPlayer/plugin.js
  src/scripts/browserDeviceProfile.js
  src/strings/en-us.json
  webpack.common.js
Labels: feature, playback, release-highlight

#6018 Prefer custom device name in device access list
  src/apps/dashboard/routes/users/access.tsx
Labels: bug

#6027 Fix double click to uncheck in multi-select menu
  src/components/multiSelect/multiSelect.js
Labels: bug

#5990 Allow editing of original title for Season and Episode items
  src/components/metadataEditor/metadataEditor.js
Labels: enhancement

#5955 Support for Home and Search media keys in TV mode
  src/scripts/keyboardNavigation.js
Labels: enhancement

#6096 Add year for movies in collection
  src/controllers/itemDetails/index.js
Labels: bug

#6090 Allow Dolby Vision fallback layer on Tizen 3+
  src/scripts/browserDeviceProfile.js
Labels: p: tizen, playback

#6044 Update string for RKMPP support in Trickplay
  src/strings/en-us.json
Labels: enhancement

#6099 Increase amount of home sections from 7 to 10
  src/components/homeScreenSettings/homeScreenSettings.js
  src/components/homeScreenSettings/homeScreenSettings.template.html
  src/components/homesections/homesections.js
Labels: enhancement

#6082 Update mixed and collection library icons
  src/apps/experimental/components/LibraryIcon.tsx
  src/components/cardbuilder/cardBuilder.js
  src/components/common/DefaultIconText.tsx
  src/utils/image.test.ts
  src/utils/image.ts
Labels: enhancement, ui & ux

#6095 Fix the hidden software tonemap options
  src/controllers/dashboard/encodingsettings.js
Labels: bug

#5869 Add non-standard multi-value audio tag support
  src/components/libraryoptionseditor/libraryoptionseditor.js
  src/components/libraryoptionseditor/libraryoptionseditor.template.html
  src/strings/en-us.json
Labels: enhancement

#6028 Update behavior of expanding drawer sections
  src/apps/dashboard/components/drawer/sections/ServerDrawerSection.tsx
Labels: enhancement

#6111 Make movie's shuffle button use the current filters
  src/controllers/movies/movies.js
Labels: bug

#6112 Fix audio/subtitle index reset when switching episodes
  src/components/playback/playbackmanager.js
Labels: bug

#6039 Add detail view buttons
  src/apps/experimental/features/details/components/buttons/CancelSeriesTimerButton.tsx
  src/apps/experimental/features/details/components/buttons/CancelTimerButton.tsx
  src/apps/experimental/features/details/components/buttons/DownloadButton.tsx
  src/apps/experimental/features/details/components/buttons/InstantMixButton.tsx
  src/apps/experimental/features/details/components/buttons/MoreCommandsButton.tsx
  src/apps/experimental/features/details/components/buttons/PlayOrResumeButton.tsx
  src/apps/experimental/features/details/components/buttons/PlayTrailerButton.tsx
  src/apps/experimental/features/details/components/buttons/ShuffleButton.tsx
  src/apps/experimental/features/details/components/buttons/SplitVersionsButton.tsx
  src/apps/experimental/features/details/hooks/api/useGetItemByType.ts
  src/components/itemContextMenu.js
  src/hooks/api/libraryHooks/index.ts
  src/hooks/api/libraryHooks/useGetDownload.ts
  src/hooks/api/liveTvHooks/index.ts
  src/hooks/api/liveTvHooks/useCancelSeriesTimer.ts
  src/hooks/api/liveTvHooks/useCancelTimer.ts
  src/hooks/api/liveTvHooks/useGetChannel.ts
  src/hooks/api/liveTvHooks/useGetSeriesTimer.ts
  src/hooks/api/liveTvHooks/useGetTimer.ts
  src/hooks/api/videosHooks/index.ts
  src/hooks/api/videosHooks/useDeleteAlternateSources.ts
  src/strings/en-us.json
Labels: typescript

#5991 Add default choice to collection display order
  src/components/metadataEditor/metadataEditor.js
  src/strings/en-us.json
Labels: enhancement
