Repository jellyfin/jellyfin-web, pull requests merged in 2024-07, with the labels that each got.

#5746 Remove usage of deprecated getItemImageUrl
  src/components/listview/List/listHelper.ts
Labels: cleanup

#5732 Fix dashboard user page crash
  src/apps/dashboard/routes/users/access.tsx
  src/apps/dashboard/routes/users/parentalcontrol.tsx
  src/apps/dashboard/routes/users/password.tsx
  src/apps/dashboard/routes/users/profile.tsx
  src/apps/stable/routes/user/userprofile.tsx
  src/components/dashboard/users/UserPasswordForm.tsx
  src/utils/url.test.ts
  src/utils/url.ts
Labels: bug, stable backport

#5740 Don't change volume if it is physically controlled
  src/components/playback/playbackmanager.js
  src/plugins/htmlAudioPlayer/plugin.js
  src/plugins/htmlVideoPlayer/plugin.js
Labels: bug, regression, stable backport, p: webos, playback

#5687 play/pause when Enter is pressed on non-dragging position slider
  src/controllers/playback/video/index.js
Labels: enhancement, ui & ux

#5733 Add error boundary for page crashes
  src/apps/dashboard/routes/routes.tsx
  src/apps/experimental/routes/routes.tsx
  src/apps/stable/routes/routes.tsx
  src/components/router/ErrorBoundary.tsx
  src/themes/defaults.ts
Labels: enhancement

#4903 Fix return type in supports fullscreen
  src/components/apphost.js
Labels: hacktoberfest-accepted, cleanup

#5741 Disallow scripted content in epubs
  src/plugins/bookPlayer/plugin.js
  src/styles/ios.scss
Labels: enhancement, stable backport, security

#5531 Add commit sha to version information
  .eslintrc.js
  src/controllers/dashboard/dashboard.js
  src/global.d.ts
  src/index.jsx
  webpack.common.js
Labels: enhancement

#5761 Remove the intermediate notifications dashboard page
  src/apps/dashboard/components/drawer/sections/AdvancedDrawerSection.tsx
  src/apps/dashboard/routes/_asyncRoutes.ts
  src/apps/dashboard/routes/_redirects.ts
  src/apps/dashboard/routes/notifications.tsx
  src/strings/en-us.json
Labels: cleanup

#5377 Fix changing filters not resetting multiselected media cards
  CONTRIBUTORS.md
  src/components/filterdialog/filterdialog.js
  src/components/multiSelect/multiSelect.js
  src/controllers/list.js
  src/controllers/movies/movies.js
Labels: bug, stable backport

#5776 Fix invisible headings
  src/apps/experimental/AppLayout.tsx
Labels: bug, regression, stable backport

#5553 Fix Dolby Vision playback on webOS
  src/scripts/browserDeviceProfile.js
  src/scripts/settings/userSettings.js
Labels: enhancement, stable backport, p: webos, playback

#5719 Fix Trickplay thumbnail in older web engines
  src/controllers/playback/video/index.js
Labels: bug, stable backport, ui & ux

#5622 Add Home videos and Photos View
  src/apps/experimental/components/library/SortButton.tsx
  src/apps/experimental/components/library/filter/FiltersStatus.tsx
  src/apps/experimental/components/tabs/tabRoutes.ts
  src/apps/experimental/routes/asyncRoutes/user.ts
  src/apps/experimental/routes/homevideos/index.tsx
  src/components/router/appRouter.js
  src/hooks/useFetchItems.ts
  src/types/libraryTab.ts
Labels: enhancement, typescript

#5571 Fix search for tab library in experimental layout
  src/apps/experimental/components/AppToolbar/SearchButton.tsx
  src/apps/experimental/components/AppToolbar/index.tsx
  src/components/router/appRouter.js
Labels: enhancement

#5724 Fix Refresh Indicator in experimental layout
  src/components/cardbuilder/Card/CardImageContainer.tsx
  src/elements/emby-itemrefreshindicator/RefreshIndicator.tsx
Labels: bug

#5787 Fix parent thumb image for next up and continue watching in experimental layout
  src/components/cardbuilder/Card/useCardImageUrl.ts
  src/hooks/useFetchItems.ts
Labels: bug

#5607 Refactor search page
  src/apps/stable/routes/search.tsx
  src/components/search/LiveTVSearchResults.tsx
  src/components/search/SearchFields.tsx
  src/components/search/SearchResults.tsx
  src/components/search/SearchResultsRow.tsx
  src/components/search/SearchSuggestions.tsx
  src/hooks/searchHook/index.ts
  src/hooks/searchHook/useSearchItems.ts
  src/hooks/searchHook/useSearchSuggestions.ts
Labels: typescript, cleanup

#5625 Add setting for preferred video codec
  src/components/apphost.js
  src/components/playbackSettings/playbackSettings.js
  src/components/playbackSettings/playbackSettings.template.html
  src/scripts/settings/appSettings.js
  src/strings/en-us.json
Labels: feature, playback

#5790 Use react-router lazy for dynamic route import
  src/components/router/AsyncRoute.tsx
Labels: enhancement

#5789 Add headings and links to plugin pages
  src/apps/dashboard/components/drawer/sections/AdvancedDrawerSection.tsx
  src/components/ListItemLink.tsx
  src/controllers/dashboard/plugins/available/index.html
  src/controllers/dashboard/plugins/installed/index.html
  src/styles/dashboard.scss
Labels: enhancement

#5791 Remove "open in browser" button for external id from metadata editor
  src/components/metadataEditor/metadataEditor.js
Labels: cleanup

#5731 Add test coverage support
  .gitignore
  package-lock.json
  package.json
  vite.config.ts
Labels: tests

#5759 Display previous/next keyboard shortcuts
  src/controllers/playback/video/index.html
  src/controllers/playback/video/index.js
Labels: enhancement, stable backport

#5801 Fix home page crashing when using react-router lazy import
  src/apps/experimental/routes/asyncRoutes/user.ts
  src/components/router/AsyncRoute.tsx
Labels: bug, regression

#5802 Use lazy routes everywhere
  package-lock.json
  package.json
  src/RootApp.tsx
  src/RootAppRouter.tsx
  src/apps/dashboard/AppLayout.tsx
  src/apps/dashboard/routes/routes.tsx
  src/apps/experimental/AppLayout.tsx
  src/apps/experimental/routes/asyncRoutes/user.ts
  src/apps/experimental/routes/home.tsx
  src/apps/experimental/routes/routes.tsx
  src/apps/stable/AppRouter.tsx
  src/apps/stable/routes/routes.tsx
  src/components/router/AsyncRoute.tsx
Labels: enhancement, cleanup

#5797 Fix progress bar position indicator in experimental
  src/components/indicators/indicators.scss
Labels: bug

#5798 Fix invisible media source indicator in experimental
  src/components/cardbuilder/card.scss
Labels: bug

#5806 Fix dashboard body class sometimes missing
  src/apps/dashboard/AppLayout.tsx
  src/scripts/libraryMenu.js
Labels: bug, stable backport

#5735 Fix stuck page titles on admin dashboard
  CONTRIBUTORS.md
  src/apps/dashboard/routes/playback/trickplay.tsx
  src/apps/dashboard/routes/users/index.tsx
  src/controllers/dashboard/apikeys.html
  src/controllers/dashboard/dashboard.html
  src/controllers/dashboard/devices/devices.html
  src/controllers/dashboard/encodingsettings.html
  src/controllers/dashboard/general.html
  src/controllers/dashboard/library.html
  src/controllers/dashboard/librarydisplay.html
  src/controllers/dashboard/logs.html
  src/controllers/dashboard/metadataimages.html
  src/controllers/dashboard/metadatanfo.html
  src/controllers/dashboard/networking.html
  src/controllers/dashboard/playback.html
  src/controllers/dashboard/plugins/available/index.html
  src/controllers/dashboard/plugins/installed/index.html
  src/controllers/dashboard/plugins/repositories/index.html
  src/controllers/dashboard/scheduledtasks/scheduledtasks.html
  src/controllers/dashboard/streaming.html
  src/controllers/livetvsettings.html
  src/controllers/livetvstatus.html
Labels: bug, regression

#5810 Fix chapter type options not showing for mixed libraries
  src/components/libraryoptionseditor/libraryoptionseditor.js
Labels: bug

#5812 Fix stuck page titles on admin dashboard
  CONTRIBUTORS.md
  src/apps/dashboard/routes/playback/trickplay.tsx
  src/apps/dashboard/routes/users/index.tsx
  src/controllers/dashboard/apikeys.html
  src/controllers/dashboard/dashboard.html
  src/controllers/dashboard/devices/devices.html
  src/controllers/dashboard/encodingsettings.html
  src/controllers/dashboard/general.html
  src/controllers/dashboard/library.html
  src/controllers/dashboard/librarydisplay.html
  src/controllers/dashboard/logs.html
  src/controllers/dashboard/metadataimages.html
  src/controllers/dashboard/metadatanfo.html
  src/controllers/dashboard/networking.html
  src/controllers/dashboard/playback.html
  src/controllers/dashboard/plugins/available/index.html
  src/controllers/dashboard/plugins/installed/index.html
  src/controllers/dashboard/plugins/repositories/index.html
  src/controllers/dashboard/scheduledtasks/scheduledtasks.html
  src/controllers/dashboard/streaming.html
  src/controllers/livetvsettings.html
  src/controllers/livetvstatus.html
Labels: bug, regression

#5829 Display mute keyboard shortcut in uppercase
  src/controllers/playback/video/index.js
Labels: enhancement, stable backport

#5666 Update up-next text when auto play next episode is disabled
  src/components/upnextdialog/upnextdialog.js
  src/strings/en-us.json
Labels: enhancement, ui & ux

#5669 Force DoVi on browser.xboxOne as edgeUWP says it can't play it
  src/scripts/browserDeviceProfile.js
Labels: enhancement, playback

#5218 Remove reset password option for admin users
  src/components/dashboard/users/UserPasswordForm.tsx
Labels: enhancement

#5620 Allow to display detailLogo on TV with CSS customization
  src/controllers/itemDetails/index.js
  src/styles/librarybrowser.scss
Labels: enhancement

#5781 Prevent modal close on mouse press up if outside the dialog
  src/components/dialogHelper/dialogHelper.js
  src/components/metadataEditor/metadataEditor.js
Labels: enhancement

#5773 Redesign add plugins page
  package-lock.json
  package.json
  src/apps/dashboard/components/drawer/sections/AdvancedDrawerSection.tsx
  src/apps/dashboard/features/plugins/api/configurationPage.ts
  src/apps/dashboard/features/plugins/api/pluginInfo.ts
  src/apps/dashboard/features/plugins/api/queryKey.ts
  src/apps/dashboard/features/plugins/api/useConfigurationPages.ts
  src/apps/dashboard/features/plugins/api/useDisablePlugin.ts
  src/apps/dashboard/features/plugins/api/useEnablePlugin.ts
  src/apps/dashboard/features/plugins/api/useInstallPackage.ts
  src/apps/dashboard/features/plugins/api/usePackageInfo.ts
  src/apps/dashboard/features/plugins/api/usePlugins.ts
  src/apps/dashboard/features/plugins/api/useUninstallPlugin.ts
  src/apps/dashboard/features/plugins/components/PluginDetailsTable.tsx
  src/apps/dashboard/features/plugins/components/PluginImage.tsx
  src/apps/dashboard/features/plugins/components/PluginRevisions.tsx
  src/apps/dashboard/features/plugins/types/PluginDetails.ts
  src/apps/dashboard/routes/_asyncRoutes.ts
  src/apps/dashboard/routes/_legacyRoutes.ts
  src/apps/dashboard/routes/_redirects.ts
  src/apps/dashboard/routes/plugins/plugin.tsx
  src/components/ConfirmDialog.tsx
  src/components/MarkdownBox.tsx
  src/controllers/dashboard/plugins/add/index.html
  src/controllers/dashboard/plugins/add/index.js
  src/controllers/dashboard/plugins/available/index.js
  src/strings/en-us.json
  src/utils/api.ts
Labels: feature

#5760 Improve item list titles for collections
  src/controllers/itemDetails/index.js
Labels: enhancement
