Repository jellyfin/jellyfin-web, pull requests merged in 2024-05, with the labels that each got.

#5380 Fix cards in emby-scroller being off-center from section titles
  src/controllers/itemDetails/index.html
  src/elements/emby-scroller/emby-scroller.scss
Labels: bug

#5402 Show error message on playback failure
  src/components/playback/playbackmanager.js
Labels: bug, enhancement, ui & ux

#5437 Fix usages of item in location state
  src/apps/experimental/components/library/ItemsView.tsx
  src/components/playback/displayMirrorManager.ts
  src/components/router/appRouter.js
  src/components/themeMediaPlayer.js
  src/hooks/useFetchItems.ts
  src/hooks/useItem.ts
Labels: bug, regression

#5439 Hide lyrics button when there are no lyrics
  src/components/nowPlayingBar/nowPlayingBar.js
Labels: enhancement

#5423 Fix playback sequence of episodes in a series/season
  src/components/playback/playbackmanager.js
  src/components/shortcuts.js
Labels: enhancement, playback

#5428 Fall back to other normalization gain if preferred one is null
  src/plugins/htmlAudioPlayer/plugin.js
Labels: enhancement

#5441 Fix unplayed count styling when navigating back
  src/components/cardbuilder/cardBuilder.js
Labels: bug

#5442 Show "99+" in unplayed indicator when more 100 or more new items
  src/components/indicators/indicators.js
  src/components/indicators/useIndicator.tsx
Labels: bug

#5420 Remove apiClient parameters on Playback Stopped callback in experimental layout
  src/elements/emby-itemscontainer/ItemsContainer.tsx
  src/types/playbackStopInfo.ts
Labels: bug

#5391 User configurable codecs (DTS, TrueHD)
  src/components/playbackSettings/playbackSettings.js
  src/components/playbackSettings/playbackSettings.template.html
  src/scripts/browserDeviceProfile.js
  src/scripts/settings/appSettings.js
  src/strings/en-us.json
Labels: feature, playback, release critical

#5449 Add public access option when creating playlist
  src/components/playlisteditor/playlisteditor.ts
  src/strings/en-us.json
Labels: feature

#5451 Fix missing URL encoding for font name + fix typo
  src/plugins/htmlVideoPlayer/plugin.js
Labels: bug

#5453 Add permission check to playlist editor
  src/components/playlisteditor/playlisteditor.ts
  src/strings/en-us.json
Labels: bug

#5448 Remove mention of piracy tools in help text
  src/strings/en-us.json
Labels: enhancement, ui & ux

#5455 Add playlist access checks
  src/components/itemContextMenu.js
  src/components/playlisteditor/playlisteditor.ts
  src/components/shortcuts.js
  src/scripts/playlistViewer.js
Labels: enhancement

#5458 Remove open graph tags to fight "safe browsing" idiocy
  src/index.html
Labels: enhancement

#5459 Fix missing person types
  CONTRIBUTORS.md
  src/components/metadataEditor/metadataEditor.js
  src/components/metadataEditor/personEditor.template.html
  src/strings/en-us.json
Labels: enhancement

#5463 Fix recently added for mixed libraries
  src/components/homesections/sections/recentlyAdded.ts
Labels: bug, regression

#5465 Fix direct reference to mui theme
  src/apps/experimental/routes/user/display/index.tsx
  src/themes/theme.ts
Labels: bug

#4361 Show all Cast&Crew, not just Actors
  src/components/cardbuilder/cardBuilder.js
  src/controllers/itemDetails/index.js
Labels: bug

#5470 Fix branch ref in publish action
  .github/workflows/build.yml
  .github/workflows/publish.yml
Labels: ci

#5471 Fix publish workflow for non-prs
  .github/workflows/publish.yml
Labels: ci

#5472 Add missing ref fallback in publish action
  .github/workflows/publish.yml
Labels: ci

#5473 Don’t set save lyrics locally as default
  src/components/libraryoptionseditor/libraryoptionseditor.template.html
Labels: enhancement

#5477 Fix now playing bar rendering under drawer
  src/apps/experimental/AppOverrides.scss
  src/components/appFooter/appFooter.scss
Labels: bug

#5476 Add configuration for scan fanout concurrency
  src/controllers/dashboard/general.html
  src/controllers/dashboard/general.js
  src/strings/en-us.json
Labels: enhancement

#5506 Update @jellyfin/sdk to 0.9.0
  package-lock.json
  package.json
Labels: dependencies

#5500 Fix stored credentials not updating on logout
  src/components/ServerConnections.js
Labels: bug, stable backport

#5507 Set the minimum server version to match the sdk
  src/components/ServerConnections.js
Labels: enhancement, stable backport

#5512 Fix invalid sort order values
  src/scripts/itemsByName.js
Labels: bug, stable backport

#5518 Fix syncplay playback starting before listener created
  src/plugins/syncPlay/core/QueueCore.js
Labels: bug, regression, stable backport

#5519 Fix chapter markings not displayed properly
  src/elements/emby-slider/emby-slider.js
Labels: bug, stable backport

#5517 Fix video osd not hiding in experimental layout
  src/apps/experimental/components/AppToolbar/index.tsx
  src/apps/experimental/routes/legacyRoutes/user.ts
  src/apps/experimental/routes/routes.tsx
  src/apps/experimental/routes/video/index.tsx
  src/components/toolbar/AppToolbar.tsx
  src/controllers/playback/video/index.js
  src/types/eventType.ts
Labels: bug, stable backport

#5530 Fix scheduled task dialog z-index
  src/controllers/dashboard/scheduledtasks/scheduledtask.html
Labels: bug, regression, stable backport

#5529 Restore library menu tabs functionality
  src/apps/dashboard/AppLayout.tsx
  src/apps/dashboard/AppOverrides.scss
  src/apps/dashboard/components/AppTabs.tsx
  src/controllers/dashboard/encodingsettings.html
  src/controllers/dashboard/encodingsettings.js
  src/controllers/dashboard/library.html
  src/controllers/dashboard/library.js
  src/controllers/dashboard/librarydisplay.html
  src/controllers/dashboard/librarydisplay.js
  src/controllers/dashboard/metadataImages.js
  src/controllers/dashboard/metadataimages.html
  src/controllers/dashboard/metadatanfo.html
  src/controllers/dashboard/metadatanfo.js
  src/controllers/dashboard/playback.html
  src/controllers/dashboard/playback.js
  src/controllers/dashboard/plugins/available/index.html
  src/controllers/dashboard/plugins/available/index.js
  src/controllers/dashboard/plugins/installed/index.html
  src/controllers/dashboard/plugins/installed/index.js
  src/controllers/dashboard/plugins/repositories/index.html
  src/controllers/dashboard/plugins/repositories/index.js
  src/controllers/dashboard/streaming.html
  src/controllers/dashboard/streaming.js
  src/scripts/libraryMenu.js
  src/styles/dashboard.scss
  src/types/eventType.ts
Labels: bug, regression, stable backport

#5434 Add setting to prioritise what audio codec to transcode to
  src/components/apphost.js
  src/components/playbackSettings/playbackSettings.js
  src/components/playbackSettings/playbackSettings.template.html
  src/scripts/settings/appSettings.js
  src/strings/en-us.json
Labels: feature, playback

#5558 Fix `TypeError: Failed to construct 'Headers': No matching constructor signature.`
  src/index.jsx
  src/legacy/patchHeaders.js
Labels: bug, regression, p: webos, p: tizen

#5563 Fix chapter name XSS injection in progress bar
  src/controllers/playback/video/index.js
  src/elements/emby-slider/emby-slider.js
Labels: bug, stable backport, security

#5478 Remove the need for PR context artifacts in workflows
  .github/workflows/build.yml
  .github/workflows/publish.yml
Labels: cleanup, ci

#5460 Dynamic generate selectPersonType Options
  src/components/metadataEditor/personEditor.js
  src/components/metadataEditor/personEditor.template.html
Labels: cleanup

#5573 Fix playback interceptor rejecting
  src/components/playback/playbackmanager.js
  src/plugins/playAccessValidation/plugin.js
Labels: bug, regression, stable backport

#5452 Limit maximum FLAC audio channels in video to 2 on webOS
  src/scripts/browserDeviceProfile.js
Labels: bug, stable backport, p: webos, playback

#5526 Don’t bind to keyevents of media keys when browser support mediaSession
  src/scripts/keyboardNavigation.js
Labels: bug, stable backport

#5581 Fix missing policy check for download all
  src/components/itemContextMenu.js
Labels: bug, stable backport

#5587 Fix square posters
  src/components/cardbuilder/cardBuilder.js
  src/components/cardbuilder/cardBuilderUtils.test.ts
  src/components/cardbuilder/cardBuilderUtils.ts
  src/components/cardbuilder/cardImage.ts
Labels: bug, stable backport

#5593 Fix chapter marker re-rendering
  src/elements/emby-slider/emby-slider.js
  src/elements/emby-slider/emby-slider.scss
Labels: bug, stable backport

#5590 Fix positioning of the main animated page elements
  src/apps/dashboard/AppOverrides.scss
  src/apps/experimental/AppOverrides.scss
Labels: bug, stable backport

#5601 Fix chapter markers not updating
  src/controllers/playback/video/index.js
  src/elements/emby-slider/emby-slider.js
Labels: bug, regression, stable backport

#5599 Show correct release date
  src/scripts/datetime.js
Labels: bug, stable backport

#5589 Add support for user themes for mui components
  src/RootApp.tsx
  src/RootAppRouter.tsx
  src/apps/experimental/routes/user/display/DisplayPreferences.tsx
  src/apps/experimental/routes/user/display/hooks/useServerThemes.ts
  src/apps/stable/AppRouter.tsx
  src/hooks/useThemes.ts
  src/hooks/useUserTheme.ts
  src/themes/UserThemeProvider.tsx
  src/themes/appletv/index.ts
  src/themes/blueradiance/index.ts
  src/themes/dark/index.ts
  src/themes/defaults.ts
  src/themes/light/index.ts
  src/themes/purplehaze/index.ts
  src/themes/themes.ts
  src/themes/wmc/index.ts
Labels: enhancement, stable backport

#5612 Fix user agent detection
  src/scripts/browser.js
Labels: bug, stable backport

#5617 Allow VideoStreamCopy for remote source fallback
  src/components/playback/playbackmanager.js
  src/utils/mediaSource.ts
Labels: bug, stable backport

#5610 Fix Search Field for Tv Mode
  src/components/search/SearchFields.tsx
  src/elements/emby-input/Input.tsx
Labels: bug, regression, stable backport

#5619 Clear the cache view on user logout
  src/components/ServerConnections.js
Labels: bug, regression, stable backport

#5636 Clear query and view cache on user logout
  src/components/ServerConnections.js
  src/utils/dashboard.js
Labels: bug, stable backport

#5638 Fix: Tv guide only covers half the screen in Experimental Layout
  src/apps/experimental/components/library/GuideView.tsx
Labels: bug, stable backport
