Repository jellyfin/jellyfin-web, pull requests merged in 2024-06, with the labels that each got.

#5640 Fix background being invisible with theme videos
  src/styles/site.scss
Labels: bug, regression, ui & ux

#5653 Fix video OSD not fully hiding
  src/controllers/playback/video/index.js
Labels: bug, stable backport, ui & ux

#5657 Revert "Fix extra requests in standalone mode"
  src/utils/dashboard.js
Labels: bug, regression, stable backport

#5658 Update activity table column widths
  src/apps/dashboard/routes/activity.tsx
Labels: enhancement, stable backport

#5660 Fixed being unable to properly long press on cards to multiselect on Firefox
  src/components/multiSelect/multiSelect.js
Labels: bug, stable backport

#5661 Use display missing episodes setting in search
  src/components/search/SearchResults.tsx
Labels: enhancement, stable backport

#5621 Prioritise HEVC over H264 in HLS TS streams on webOS
  src/scripts/browserDeviceProfile.js
Labels: enhancement, p: webos, p: tizen

#5664 Fix live tv images being ignored
  src/scripts/libraryMenu.js
Labels: bug, stable backport

#5667 Fix uneven slider value
  src/elements/emby-slider/emby-slider.js
Labels: bug, stable backport, ui & ux

#5668 Remove IMDb references
  src/apps/experimental/components/library/SortButton.tsx
  src/controllers/movies/moviecollections.js
  src/controllers/movies/movies.js
  src/controllers/movies/movietrailers.js
  src/controllers/shows/tvshows.js
  src/strings/en-us.json
Labels: stable backport, ui & ux, cleanup

#5680 Fix episode overview markdown render
  CONTRIBUTORS.md
  src/components/listview/listview.js
Labels: bug, stable backport, security, ui & ux

#5681 Fix loading hides too early
  src/components/playback/playbackmanager.js
Labels: bug, regression, stable backport

#5467 Use VideoDoViTitle when available
  src/components/playerstats/playerstats.js
Labels: enhancement

#5505 Add display options for tvdb plugin
  src/components/metadataEditor/metadataEditor.js
  src/strings/en-us.json
Labels: enhancement

#5483 Remove DLNA dashboard page
  src/apps/dashboard/components/drawer/sections/DevicesDrawerSection.tsx
  src/apps/dashboard/routes/_asyncRoutes.ts
  src/apps/dashboard/routes/_redirects.ts
  src/apps/dashboard/routes/dlna.tsx
Labels: cleanup

#5238 Updates react to v18 and tanstack to v5.
  package-lock.json
  package.json
  src/apps/dashboard/routes/activity.tsx
  src/apps/dashboard/routes/playback/trickplay.tsx
  src/apps/dashboard/routes/users/access.tsx
  src/apps/dashboard/routes/users/add.tsx
  src/apps/dashboard/routes/users/index.tsx
  src/apps/dashboard/routes/users/parentalcontrol.tsx
  src/apps/dashboard/routes/users/password.tsx
  src/apps/dashboard/routes/users/profile.tsx
  src/apps/experimental/components/AppToolbar/RemotePlayButton.tsx
  src/apps/experimental/components/AppToolbar/SyncPlayButton.tsx
  src/apps/experimental/components/AppToolbar/menus/SyncPlayMenu.tsx
  src/apps/experimental/components/library/ItemsView.tsx
  src/apps/experimental/components/library/Pagination.tsx
  src/apps/experimental/routes/home.tsx
  src/apps/experimental/routes/user/display/hooks/useDisplaySettingForm.ts
  src/components/AppBody.tsx
  src/components/Page.tsx
  src/components/ResponsiveDrawer.tsx
  src/components/cardbuilder/Card/CardWrapper.tsx
  src/components/dashboard/users/AccessContainer.tsx
  src/components/listview/List/ListContentWrapper.tsx
  src/components/listview/List/ListGroupHeaderWrapper.tsx
  src/components/listview/List/ListTextWrapper.tsx
  src/components/listview/List/ListWrapper.tsx
  src/components/search/SearchResults.tsx
  src/components/toolbar/AppToolbar.tsx
  src/components/toolbar/UserMenuButton.tsx
  src/elements/CheckBoxElement.tsx
  src/elements/emby-input/Input.tsx
  src/elements/emby-itemrefreshindicator/RefreshIndicator.tsx
  src/elements/emby-itemscontainer/ItemsContainer.tsx
  src/elements/emby-scroller/Scroller.tsx
  src/hooks/useApi.tsx
  src/hooks/useFetchItems.ts
  src/hooks/useItem.ts
  src/hooks/useSystemInfo.ts
  src/hooks/useUserTheme.ts
  src/hooks/useUserViews.ts
  src/hooks/useWebConfig.tsx
  src/index.jsx
  src/themes/UserThemeProvider.tsx
  src/utils/query/queryOptions.ts
  webpack.common.js
Labels: dependencies

#5631 Replace ternary with equivalent OR statement
  CONTRIBUTORS.md
  src/components/filtermenu/filtermenu.js
Labels: cleanup

#5694 Disable eval support in pdfjs
  src/plugins/pdfPlayer/plugin.js
Labels: stable backport, security

#5585 Add lyrics auto scroll
  src/controllers/lyrics.js
  src/controllers/lyrics.types.ts
Labels: feature, release-highlight
