Repository jellyfin/jellyfin-web, pull requests merged in 2025-01, with the labels that each got.

#6419 fix: move `@types/react-lazy-load-image-component` to dev dependencies
  package-lock.json
  package.json
Labels: dependencies

#6324 Fix spinner direction (should be clockwise) in @keyframes spin
  src/styles/videoosd.scss
Labels: bug, stable backport

#6352 Fix maximum allowed parental rating not showing up
  src/apps/dashboard/routes/users/parentalcontrol.tsx
Labels: bug, stable backport

#6421 Fix metadata dialog backdrop click to exit
  src/components/dialogHelper/dialogHelper.js
  src/components/metadataEditor/metadataEditor.js
Labels: bug, stable backport

#6427 Fix styling for wide device icons
  src/controllers/dashboard/devices/devices.js
Labels: bug

#6229 Add HDR10 and Dolby Vision support for Vidaa OS
  src/scripts/browserDeviceProfile.js
Labels: enhancement, playback

#6305 Add collections as header on collections page
  src/controllers/itemDetails/index.js
Labels: enhancement

#6307 add media type specific translation in up next dialog
  src/components/upnextdialog/upnextdialog.js
  src/strings/en-us.json
Labels: enhancement, i18n

#6310 Fix "Select All" for Search Results with more than 49 Items in a Row
  src/components/cardbuilder/cardBuilder.js
  src/components/multiSelect/multiSelect.js
Labels: bug

#6319 Refactor getDeviceName() for readability
  CONTRIBUTORS.md
  src/components/apphost.js
Labels: cleanup

#6425 Fix css fallback of max function in chrome 76.
  src/components/alphaPicker/style.scss
  src/components/multiSelect/multiSelect.scss
  src/components/remotecontrol/remotecontrol.scss
  src/components/toast/toast.scss
  src/elements/emby-scroller/emby-scroller.scss
  src/styles/_mixins.scss
  src/styles/librarybrowser.scss
  src/styles/videoosd.scss
Labels: bug, stable backport, p: tizen, ui & ux

#6408 Fix focus loss on popups in Samsung Tizen 8 Smart TVs
  src/components/alert.js
  src/components/confirm/confirm.js
Labels: bug, stable backport, p: tizen

#6433 Fix main tab manager crash in experimental layout
  src/apps/experimental/routes/home.tsx
  src/scripts/libraryMenu.js
  src/types/eventType.ts
Labels: bug, stable backport

#6371 Update to stylelint v16
  .stylelintrc.json
  package-lock.json
  package.json
Labels: dependencies

#6271 Refactor media session to playback subscriber
  src/apps/stable/features/playback/constants/playerEvent.ts
  src/apps/stable/features/playback/utils/image.ts
  src/apps/stable/features/playback/utils/mediaSessionSubscriber.ts
  src/apps/stable/features/playback/utils/playbackSubscriber.ts
  src/components/nowPlayingBar/nowPlayingBar.js
  src/components/playback/mediasession.js
  src/components/playback/playbackmanager.js
  src/components/remotecontrol/remotecontrol.js
  src/constants/time.ts
  src/index.jsx
  src/types/playbackStopInfo.ts
  src/types/plugin.ts
Labels: typescript, cleanup

#6262 Don't send unsupported commands to Cast receiver
  src/plugins/chromecastPlayer/plugin.js
Labels: cleanup

#6330 Add media segment providers to library options
  src/components/libraryoptionseditor/libraryoptionseditor.js
  src/components/libraryoptionseditor/libraryoptionseditor.template.html
  src/strings/en-us.json
Labels: feature, release-highlight

#6354 make tonemapping helptext make sense
  src/strings/en-us.json
Labels: ui & ux, cleanup

#6443 Use getMediaSegmentsApi from sdk
  src/apps/stable/features/playback/utils/mediaSegmentManager.ts
Labels: cleanup

#6333 Remove jQuery
  src/components/mediaLibraryCreator/mediaLibraryCreator.js
  src/components/tvproviders/schedulesdirect.js
  src/components/tvproviders/xmltv.js
  src/controllers/dashboard/encodingsettings.js
  src/controllers/dashboard/general.js
  src/controllers/dashboard/library.js
  src/controllers/dashboard/librarydisplay.js
  src/controllers/dashboard/metadatanfo.js
  src/controllers/dashboard/playback.js
  src/controllers/dashboard/scheduledtasks/scheduledtask.js
  src/controllers/dashboard/scheduledtasks/scheduledtasks.js
  src/controllers/dashboard/streaming.js
  src/controllers/livetvsettings.js
  src/controllers/livetvstatus.js
  src/controllers/wizard/start/index.js
Labels: cleanup

#6450 Fix menu closing when expanding section
  src/apps/dashboard/components/drawer/sections/ServerDrawerSection.tsx
Labels: bug, stable backport

#6453 Remove safe area padding on video container
  src/plugins/htmlVideoPlayer/style.scss
  src/plugins/youtubePlayer/style.scss
Labels: enhancement, stable backport

#6455 Add "metadata" to en-US.json LabelLockItemToPreventChanges string
  src/strings/en-us.json
Labels: i18n

#6465 Use getUri from SDK
  src/apps/dashboard/features/logs/components/LogItemList.tsx
  src/apps/dashboard/routes/plugins/plugin.tsx
  src/utils/api.ts
Labels: typescript, cleanup

#6462 Use reference framerate as sampling rate (target FPS) for SubtitlesOctopus
  src/plugins/htmlVideoPlayer/plugin.js
Labels: bug, stable backport, playback

#6390 Migrate apikeys to React
  src/apps/dashboard/features/keys/api/useApiKeys.ts
  src/apps/dashboard/features/keys/api/useCreateKey.ts
  src/apps/dashboard/features/keys/api/useRevokeKey.ts
  src/apps/dashboard/routes/_asyncRoutes.ts
  src/apps/dashboard/routes/_legacyRoutes.ts
  src/apps/dashboard/routes/keys/index.tsx
  src/controllers/dashboard/apikeys.html
  src/controllers/dashboard/apikeys.js
Labels: typescript, cleanup

#6466 Add LiveTV channels to favorites section
  src/controllers/favorites.js
Labels: enhancement

#6472 Refactor app type
  src/apps/dashboard/routes/_asyncRoutes.ts
  src/apps/dashboard/routes/_legacyRoutes.ts
  src/apps/dashboard/routes/routes.tsx
  src/apps/experimental/routes/asyncRoutes/user.ts
  src/components/router/AsyncRoute.tsx
  src/components/viewManager/ViewManagerPage.tsx
  src/constants/appType.ts
Labels: cleanup

#6475 Add renovate PR priority for SDK and hls.js
  .github/renovate.json
Labels: dependencies

#6477 Remove iOS splash screen images
  src/assets/splash/ipad_splash.png
  src/assets/splash/ipad_splash_l.png
  src/assets/splash/ipadpro1_splash.png
  src/assets/splash/ipadpro1_splash_l.png
  src/assets/splash/ipadpro2_splash.png
  src/assets/splash/ipadpro2_splash_l.png
  src/assets/splash/ipadpro3_splash.png
  src/assets/splash/ipadpro3_splash_l.png
  src/assets/splash/iphone5_splash.png
  src/assets/splash/iphone5_splash_l.png
  src/assets/splash/iphone6_splash.png
  src/assets/splash/iphone6_splash_l.png
  src/assets/splash/iphoneplus_splash.png
  src/assets/splash/iphoneplus_splash_l.png
  src/assets/splash/iphonex_splash.png
  src/assets/splash/iphonex_splash_l.png
  src/assets/splash/iphonexr_splash.png
  src/assets/splash/iphonexr_splash_l.png
  src/assets/splash/iphonexsmax_splash.png
  src/assets/splash/iphonexsmax_splash_l.png
  src/index.html
Labels: cleanup

#5737 Add subtitle setting for native vs custom element
  src/components/subtitlesettings/subtitlesettings.js
  src/components/subtitlesettings/subtitlesettings.template.html
  src/plugins/htmlVideoPlayer/plugin.js
  src/strings/en-us.json
Labels: enhancement

#6434 Fix alignment of the user menu button
  src/components/toolbar/UserMenuButton.tsx
Labels: bug

#6396 Remove invalid item id usage as media source id
  src/components/playback/playbackmanager.js
Labels: bug, regression, stable backport

#5786 Fix playback of series with large set of episodes
  src/components/playback/playbackmanager.js
Labels: bug, playback

#6496 Skip prevented keyboard events
  src/controllers/playback/video/index.js
  src/scripts/keyboardNavigation.js
Labels: bug, stable backport
