Repository jellyfin/jellyfin-web, pull requests merged in 2025-09, with the labels that each got.

#7141 Extract native/custom subtitle element logic to separate typescript file
  src/apps/stable/features/playback/constants/subtitleStylingOption.ts
  src/apps/stable/features/playback/utils/subtitleStyles.ts
  src/elements/emby-scroller/Scroller.tsx
  src/plugins/htmlVideoPlayer/plugin.js
  src/scripts/browser.d.ts
  src/scripts/settings/userSettings.js
Labels: bug, cleanup

#7157 Fix browser type definition
  src/scripts/browser.d.ts
Labels: bug, build

#7155 Allow editing artists for music albums
  src/components/metadataEditor/metadataEditor.js
Labels: enhancement

#7156 Add favorite seasons
  src/controllers/favorites.js
Labels: enhancement

#7118 Update LanNetworksHelp description for clarity
  src/strings/en-us.json
Labels: cleanup
