Repository jellyfin/jellyfin-web, pull requests merged in 2025-07, with the labels that each got.

#6998 Fix image loading skeleton
  src/apps/dashboard/routes/plugins/plugin.tsx
  src/components/Image.tsx
  src/components/LoadingSkeleton.tsx
Labels: bug

#6860 Fix play all & shuffle for studios
  src/components/playback/playbackmanager.js
Labels: enhancement

#7014 use PascalCase for api_key parameter
  eslint.config.mjs
  src/components/playback/playbackmanager.js
  src/controllers/playback/video/index.js
  src/plugins/htmlVideoPlayer/plugin.js
Labels: cleanup

#6939 Migrate dashboard to React
  src/apps/dashboard/components/widgets/ActivityLogWidget.tsx
  src/apps/dashboard/components/widgets/AlertsLogWidget.tsx
  src/apps/dashboard/components/widgets/DevicesWidget.tsx
  src/apps/dashboard/components/widgets/RunningTasksWidget.tsx
  src/apps/dashboard/components/widgets/ServerInfoWidget.tsx
  src/apps/dashboard/components/widgets/ServerPathWidget.tsx
  src/apps/dashboard/components/widgets/Widget.tsx
  src/apps/dashboard/controllers/dashboard.html
  src/apps/dashboard/controllers/dashboard.js
  src/apps/dashboard/controllers/dashboard.scss
  src/apps/dashboard/features/activity/api/useLogEntries.ts
  src/apps/dashboard/features/activity/components/ActivityListItem.tsx
  src/apps/dashboard/features/activity/components/LogLevelChip.tsx
  src/apps/dashboard/features/activity/utils/getLogLevelColor.ts
  src/apps/dashboard/features/devices/components/DeviceCard.tsx
  src/apps/dashboard/features/metrics/api/useItemCounts.ts
  src/apps/dashboard/features/sessions/api/usePlayPauseSession.ts
  src/apps/dashboard/features/sessions/api/useSendMessage.ts
  src/apps/dashboard/features/sessions/api/useSessions.ts
  src/apps/dashboard/features/sessions/hooks/useLiveSessions.ts
  src/apps/dashboard/features/sessions/utils/filterSessions.ts
  src/apps/dashboard/features/sessions/utils/getNowPlayingImageUrl.ts
  src/apps/dashboard/features/sessions/utils/getNowPlayingName.ts
  src/apps/dashboard/features/sessions/utils/getSessionNowPlayingStreamInfo.ts
  src/apps/dashboard/features/sessions/utils/getSessionNowPlayingTime.ts
  src/apps/dashboard/features/storage/api/useSystemStorage.ts
  src/apps/dashboard/features/system/api/useRestartServer.ts
  src/apps/dashboard/features/system/api/useShutdownServer.ts
  src/apps/dashboard/features/tasks/hooks/useLiveTasks.ts
  src/apps/dashboard/routes/_asyncRoutes.ts
  src/apps/dashboard/routes/_legacyRoutes.ts
  src/apps/dashboard/routes/index.tsx
  src/apps/dashboard/routes/tasks/index.tsx
  src/components/InputDialog.tsx
  src/components/SimpleAlert.tsx
  src/components/activitylog.js
  src/themes/defaults.ts
Labels: enhancement, cleanup

#7022 Fix line breaks in StorageListItem path
  src/apps/dashboard/features/storage/components/StorageListItem.tsx
Labels: enhancement

#7027 Fix logic for DeviceCard controls
  src/apps/dashboard/features/devices/components/DeviceCard.tsx
Labels: bug

#7017 Add unified plugin page
  src/apps/dashboard/components/BaseCard.tsx
  src/apps/dashboard/components/SearchInput.tsx
  src/apps/dashboard/components/drawer/sections/PluginDrawerSection.tsx
  src/apps/dashboard/constants/helpLinks.ts
  src/apps/dashboard/features/plugins/api/usePluginDetails.ts
  src/apps/dashboard/features/plugins/components/NoPluginResults.tsx
  src/apps/dashboard/features/plugins/components/PackageCard.tsx
  src/apps/dashboard/features/plugins/components/PluginCard.tsx
  src/apps/dashboard/features/plugins/components/PluginDetailsTable.tsx
  src/apps/dashboard/features/plugins/constants/categoryLabels.ts
  src/apps/dashboard/features/plugins/constants/pluginCategory.ts
  src/apps/dashboard/features/plugins/constants/pluginStatusOption.ts
  src/apps/dashboard/features/plugins/types/PluginDetails.ts
  src/apps/dashboard/features/plugins/utils/getPackageCategories.ts
  src/apps/dashboard/features/plugins/utils/getPackagesByCategory.ts
  src/apps/dashboard/routes/_asyncRoutes.ts
  src/apps/dashboard/routes/plugins/catalog.tsx
  src/apps/dashboard/routes/plugins/index.tsx
  src/apps/dashboard/routes/plugins/plugin.tsx
  src/apps/dashboard/routes/routes.tsx
  src/apps/stable/routes/search.tsx
  src/hooks/useSearchParam.ts
  src/strings/en-us.json
Labels: enhancement

#7042 Add loading indicator when installing plugin
  src/apps/dashboard/routes/plugins/plugin.tsx
Labels: enhancement
