Repository jellyfin/jellyfin-web, pull requests merged in 2025-02, with the labels that each got.

#6509 Fix navigation for emby-select element
  src/elements/emby-select/emby-select.js
Labels: bug, regression, stable backport

#5876 Add Firefox 134+ to list of HEVC-supporting browsers
  src/scripts/browserDeviceProfile.js
Labels: feature, playback

#6479 Fix toolbar safe area in experimental layout
  src/apps/experimental/routes/video/index.tsx
  src/components/toolbar/AppToolbar.tsx
Labels: bug

#6474 Move dashboard controllers to app directory
  src/apps/dashboard/controllers/dashboard.html
  src/apps/dashboard/controllers/dashboard.js
  src/apps/dashboard/controllers/dashboard.scss
  src/apps/dashboard/controllers/devices/device.html
  src/apps/dashboard/controllers/devices/device.js
  src/apps/dashboard/controllers/devices/devices.html
  src/apps/dashboard/controllers/devices/devices.js
  src/apps/dashboard/controllers/encodingsettings.html
  src/apps/dashboard/controllers/encodingsettings.js
  src/apps/dashboard/controllers/general.html
  src/apps/dashboard/controllers/general.js
  src/apps/dashboard/controllers/library.html
  src/apps/dashboard/controllers/library.js
  src/apps/dashboard/controllers/librarydisplay.html
  src/apps/dashboard/controllers/librarydisplay.js
  src/apps/dashboard/controllers/livetvguideprovider.html
  src/apps/dashboard/controllers/livetvguideprovider.js
  src/apps/dashboard/controllers/livetvsettings.html
  src/apps/dashboard/controllers/livetvsettings.js
  src/apps/dashboard/controllers/livetvstatus.html
  src/apps/dashboard/controllers/livetvstatus.js
  src/apps/dashboard/controllers/livetvtuner.html
  src/apps/dashboard/controllers/livetvtuner.js
  src/apps/dashboard/controllers/metadataImages.js
  src/apps/dashboard/controllers/metadataimages.html
  src/apps/dashboard/controllers/metadatanfo.html
  src/apps/dashboard/controllers/metadatanfo.js
  src/apps/dashboard/controllers/networking.html
  src/apps/dashboard/controllers/networking.js
  src/apps/dashboard/controllers/playback.html
  src/apps/dashboard/controllers/playback.js
  src/apps/dashboard/controllers/plugins/available/index.html
  src/apps/dashboard/controllers/plugins/available/index.js
  src/apps/dashboard/controllers/plugins/installed/index.html
  src/apps/dashboard/controllers/plugins/installed/index.js
  src/apps/dashboard/controllers/plugins/repositories/index.html
  src/apps/dashboard/controllers/plugins/repositories/index.js
  src/apps/dashboard/controllers/scheduledtasks/scheduledtask.html
  src/apps/dashboard/controllers/scheduledtasks/scheduledtask.js
  src/apps/dashboard/controllers/scheduledtasks/scheduledtasks.html
  src/apps/dashboard/controllers/scheduledtasks/scheduledtasks.js
  src/apps/dashboard/controllers/streaming.html
  src/apps/dashboard/controllers/streaming.js
  src/apps/dashboard/routes/_legacyRoutes.ts
  src/components/viewManager/ViewManagerPage.tsx
Labels: cleanup

#6447 Refactor item text lines
  src/apps/stable/features/playback/utils/itemText.test.ts
  src/apps/stable/features/playback/utils/itemText.ts
  src/apps/stable/features/playback/utils/mediaSessionSubscriber.ts
  src/components/nowPlayingBar/nowPlayingBar.js
  src/components/playback/nowplayinghelper.js
  src/components/remotecontrol/remotecontrol.js
Labels: typescript, cleanup

#5714 Updated theme media playback to play in Random order
  CONTRIBUTORS.md
  src/components/themeMediaPlayer.js
Labels: enhancement

#6523 Remove unnecessary global variables
  .eslintrc.js
  src/apps/dashboard/controllers/dashboard.js
  src/controllers/edititemmetadata.js
  src/controllers/livetv/livetvschedule.js
  src/scripts/editorsidebar.js
  src/scripts/livetvcomponents.js
Labels: cleanup

#6489 Rewrite devices dashboard page in react
  src/apps/dashboard/components/UserAvatarButton.tsx
  src/apps/dashboard/components/table/DateTimeCell.tsx
  src/apps/dashboard/components/table/TablePage.tsx
  src/apps/dashboard/controllers/devices/device.html
  src/apps/dashboard/controllers/devices/device.js
  src/apps/dashboard/controllers/devices/devices.html
  src/apps/dashboard/controllers/devices/devices.js
  src/apps/dashboard/features/devices/api/useDeleteDevice.ts
  src/apps/dashboard/features/devices/api/useDevices.ts
  src/apps/dashboard/features/devices/api/useUpdateDevice.ts
  src/apps/dashboard/features/devices/components/DeviceNameCell.tsx
  src/apps/dashboard/features/devices/types/deviceInfoCell.ts
  src/apps/dashboard/routes/_asyncRoutes.ts
  src/apps/dashboard/routes/_legacyRoutes.ts
  src/apps/dashboard/routes/activity/index.tsx
  src/apps/dashboard/routes/devices/index.tsx
  src/apps/dashboard/routes/keys/index.tsx
  src/components/Page.tsx
  src/hooks/useUsers.ts
  src/strings/en-us.json
Labels: enhancement

#6347 Fix trickplay/chapter when play from list/shuffle
  src/controllers/list.js
  src/controllers/movies/movies.js
Labels: bug

#6366 Add confirm dialog when deleting server
  src/controllers/session/selectServer/index.js
  src/strings/en-us.json
Labels: enhancement, ui & ux

#6525 Fix Date Added helper text
  src/strings/en-us.json
Labels: i18n

#6513 Don't allow library name with leading or trailing space
  src/components/mediaLibraryCreator/mediaLibraryCreator.js
  src/strings/en-us.json
Labels: bug

#6526 Refactor api keys to use TablePage component
  src/apps/dashboard/components/table/TablePage.tsx
  src/apps/dashboard/routes/activity/index.tsx
  src/apps/dashboard/routes/keys/index.tsx
Labels: cleanup

#6516 Migrate resume & streaming to React
  src/apps/dashboard/controllers/playback.html
  src/apps/dashboard/controllers/playback.js
  src/apps/dashboard/controllers/streaming.html
  src/apps/dashboard/controllers/streaming.js
  src/apps/dashboard/routes/_asyncRoutes.ts
  src/apps/dashboard/routes/_legacyRoutes.ts
  src/apps/dashboard/routes/branding/index.tsx
  src/apps/dashboard/routes/logs/index.tsx
  src/apps/dashboard/routes/playback/resume.tsx
  src/apps/dashboard/routes/playback/streaming.tsx
Labels: enhancement, cleanup

#6534 Fix sass deprecation warnings
  src/components/alphaPicker/style.scss
  src/components/multiSelect/multiSelect.scss
  src/components/remotecontrol/remotecontrol.scss
  src/components/toast/toast.scss
  src/elements/emby-scroller/emby-scroller.scss
  src/styles/_font.scss
  src/styles/fonts.noto.scss
  src/styles/librarybrowser.scss
  src/styles/noto-sans/base-400-normal.scss
  src/styles/noto-sans/base-700-normal.scss
  src/styles/noto-sans/hk-400-normal.scss
  src/styles/noto-sans/hk-700-normal.scss
  src/styles/noto-sans/index.scss
  src/styles/noto-sans/jp-400-normal.scss
  src/styles/noto-sans/jp-700-normal.scss
  src/styles/noto-sans/kr-400-normal.scss
  src/styles/noto-sans/kr-700-normal.scss
  src/styles/noto-sans/sc-400-normal.scss
  src/styles/noto-sans/sc-700-normal.scss
  src/styles/noto-sans/tc-400-normal.scss
  src/styles/noto-sans/tc-700-normal.scss
  src/styles/videoosd.scss
Labels: cleanup

#6506 Migrate scheduled tasks to React
  src/apps/dashboard/controllers/scheduledtasks/scheduledtasks.html
  src/apps/dashboard/controllers/scheduledtasks/scheduledtasks.js
  src/apps/dashboard/features/scheduledtasks/api/useStartTask.ts
  src/apps/dashboard/features/scheduledtasks/api/useStopTask.ts
  src/apps/dashboard/features/scheduledtasks/api/useTasks.ts
  src/apps/dashboard/features/scheduledtasks/components/Task.tsx
  src/apps/dashboard/features/scheduledtasks/components/TaskLastRan.tsx
  src/apps/dashboard/features/scheduledtasks/components/TaskProgress.tsx
  src/apps/dashboard/features/scheduledtasks/components/Tasks.tsx
  src/apps/dashboard/features/scheduledtasks/types/taskProps.ts
  src/apps/dashboard/features/scheduledtasks/utils/tasks.ts
  src/apps/dashboard/routes/_asyncRoutes.ts
  src/apps/dashboard/routes/_legacyRoutes.ts
  src/apps/dashboard/routes/tasks/index.tsx
Labels: cleanup

#6528 Remove trailing whitespace from new users' usernames
  src/apps/dashboard/routes/users/add.tsx
Labels: enhancement

#6524 Convert trickplay to mui
  src/apps/dashboard/routes/playback/resume.tsx
  src/apps/dashboard/routes/playback/streaming.tsx
  src/apps/dashboard/routes/playback/trickplay.tsx
  src/hooks/useConfiguration.ts
Labels: enhancement, cleanup

#6543 Fix restart and shutdown buttons
  src/apps/dashboard/controllers/dashboard.html
  src/apps/dashboard/controllers/dashboard.js
Labels: bug, regression

#6344 Add title attribute to actor roles
  src/components/cardbuilder/cardBuilder.js
Labels: enhancement

#6547 Update library name validation to trim automatically
  src/components/mediaLibraryCreator/mediaLibraryCreator.js
  src/strings/en-us.json
Labels: enhancement

#6563 Prevent whitespaces in username during wizard setup
  src/controllers/wizard/user/index.js
Labels: enhancement

#6561 Add log viewer to dashboard
  src/apps/dashboard/features/logs/api/useServerLog.ts
  src/apps/dashboard/features/logs/components/LogItemList.tsx
  src/apps/dashboard/routes/_asyncRoutes.ts
  src/apps/dashboard/routes/logs/file.tsx
  src/strings/en-us.json
Labels: feature
