Repository jellyfin/jellyfin-web, pull requests merged in 2025-06, with the labels that each got.

#6874 Migrate MUI themes to CSS vars
  src/components/ElevationScroll.tsx
  src/hooks/useUserTheme.ts
  src/themes/UserThemeProvider.tsx
  src/themes/appletv/index.ts
  src/themes/blueradiance/index.ts
  src/themes/dark/index.ts
  src/themes/defaults.ts
  src/themes/light/index.ts
  src/themes/purplehaze/index.ts
  src/themes/themes.ts
  src/themes/wmc/index.ts
Labels: cleanup

#6906 Add Proxy polyfill
  package-lock.json
  package.json
  src/lib/legacy/index.ts
  webpack.common.js
Labels: regression, p: webos, p: tizen

#6917 Add backup dashboard page
  src/apps/dashboard/components/drawer/sections/AdvancedDrawerSection.tsx
  src/apps/dashboard/features/backups/api/useBackups.ts
  src/apps/dashboard/features/backups/api/useCreateBackup.ts
  src/apps/dashboard/features/backups/api/useRestoreBackup.ts
  src/apps/dashboard/features/backups/components/Backup.tsx
  src/apps/dashboard/features/backups/components/BackupInfoDialog.tsx
  src/apps/dashboard/features/backups/components/BackupProgressDialog.tsx
  src/apps/dashboard/features/backups/components/CreateBackupForm.tsx
  src/apps/dashboard/features/backups/components/RestoreConfirmationDialog.tsx
  src/apps/dashboard/features/backups/components/RestoreProgressDialog.tsx
  src/apps/dashboard/routes/_asyncRoutes.ts
  src/apps/dashboard/routes/backups/index.tsx
  src/strings/en-us.json
Labels: feature

#6918 Add storage metric display to dashboard
  CONTRIBUTORS.md
  src/apps/dashboard/components/widgets/ServerPathWidget.tsx
  src/apps/dashboard/controllers/dashboard.html
  src/apps/dashboard/controllers/dashboard.js
  src/apps/dashboard/features/storage/api/useSystemStorage.ts
  src/apps/dashboard/features/storage/components/StorageListItem.tsx
  src/apps/dashboard/features/storage/components/StorageTypeIcon.tsx
  src/apps/dashboard/features/storage/constants/StorageType.ts
  src/apps/dashboard/features/storage/utils/space.test.ts
  src/apps/dashboard/features/storage/utils/space.ts
  src/components/itemMediaInfo/itemMediaInfo.js
  src/components/playerstats/playerstats.js
  src/strings/en-us.json
  src/utils/file.test.ts
  src/utils/file.ts
  src/utils/reactUtils.tsx
Labels: feature

#6921 Migrate installed plugins page to React
  src/apps/dashboard/components/BaseCard.tsx
  src/apps/dashboard/controllers/plugins/installed/index.html
  src/apps/dashboard/controllers/plugins/installed/index.js
  src/apps/dashboard/features/plugins/components/PluginCard.tsx
  src/apps/dashboard/routes/_asyncRoutes.ts
  src/apps/dashboard/routes/_legacyRoutes.ts
  src/apps/dashboard/routes/plugins/index.tsx
  src/apps/dashboard/routes/settings/index.tsx
  src/strings/en-us.json
Labels: enhancement, cleanup

#6933 Add item count widget to dashboard
  src/apps/dashboard/components/widgets/ItemCountsWidget.tsx
  src/apps/dashboard/controllers/dashboard.html
  src/apps/dashboard/controllers/dashboard.js
  src/apps/dashboard/features/metrics/api/useItemCounts.ts
  src/apps/dashboard/features/metrics/components/MetricCard.tsx
  src/elements/emby-itemrefreshindicator/RefreshIndicator.tsx
  src/elements/emby-progressring/emby-progressring.js
  src/hooks/useLocale.tsx
  src/themes/dark/theme.scss
  src/utils/number.ts
Labels: feature

#6970 Fix path references in themes
  webpack.common.js
Labels: bug

#6924 Migrate DVR to React
  src/apps/dashboard/components/drawer/sections/LiveTvDrawerSection.tsx
  src/apps/dashboard/controllers/livetvsettings.html
  src/apps/dashboard/controllers/livetvsettings.js
  src/apps/dashboard/routes/_asyncRoutes.ts
  src/apps/dashboard/routes/_legacyRoutes.ts
  src/apps/dashboard/routes/livetv/recordings.tsx
  src/strings/en-us.json
Labels: enhancement, cleanup

#6936 Fix RTL support for lyrics
  src/apps/stable/features/lyrics/constants/autoScroll.ts
  src/controllers/lyrics.html
  src/controllers/lyrics.js
  src/styles/lyrics.scss
Labels: bug, cleanup

#6962 Fix split idiom shutdown -> shut down
  src/strings/en-us.json
Labels: i18n

#6960 Hide metric cards if value is zero
  src/apps/dashboard/components/widgets/ItemCountsWidget.tsx
  src/apps/dashboard/features/metrics/components/MetricCard.tsx
Labels: enhancement

#6989 Update dashboard header sizes to be consistent
  src/apps/dashboard/components/table/TablePage.tsx
  src/apps/dashboard/routes/libraries/display.tsx
  src/apps/dashboard/routes/libraries/nfo.tsx
Labels: enhancement
