Repository jellyfin/jellyfin-web, pull requests merged in 2025-08, with the labels that each got.

#7031 Fix a couple focus issues in TV layout with keyboard navigation.
  src/apps/stable/routes/quickConnect/index.tsx
  src/apps/stable/routes/session/forgotPassword/index.tsx
  src/controllers/session/resetPassword/index.js
Labels: bug, p:xbox

#7075 Disable spellcheck on custom CSS textbox
  src/apps/dashboard/routes/branding/index.tsx
Labels: enhancement

#7076 Fix aborted by server shutdown message wrapped in parenthesis
  src/strings/en-us.json
Labels: i18n

#7084 Fix incorrect user menu location
  src/components/toolbar/AppToolbar.tsx
Labels: bug

#7083 Add start icons to dashboard buttons
  src/apps/dashboard/components/widgets/ServerInfoWidget.tsx
Labels: enhancement, ui & ux

#7104 Refactor music video section handling for artists
  src/controllers/itemDetails/index.js
  src/scripts/itemsByName.js
Labels: cleanup

#7119 Fix comic player not loading images with uppercase extensions
  src/plugins/comicsPlayer/plugin.js
Labels: bug
