Repository jellyfin/jellyfin-web, pull requests merged in 2025-04, with the labels that each got.

#6675 Move user settings menu to react
  src/apps/experimental/routes/asyncRoutes/user.ts
  src/apps/experimental/routes/legacyRoutes/user.ts
  src/apps/stable/routes/asyncRoutes/user.ts
  src/apps/stable/routes/legacyRoutes/user.ts
  src/apps/stable/routes/user/settings/index.tsx
  src/components/Page.tsx
  src/components/autoFocuser.js
  src/components/toolbar/AppUserMenu.tsx
  src/controllers/user/menu/index.html
  src/controllers/user/menu/index.js
  src/elements/emby-button/LinkButton.tsx
  src/scripts/shell.js
Labels: enhancement

#6389 feat: allow grouping shows into collections
  package-lock.json
  package.json
  src/apps/dashboard/routes/libraries/display.tsx
  src/strings/en-us.json
Labels: feature, release critical

#6693 Fix task stop from dashboard page
  src/apps/dashboard/controllers/dashboard.js
Labels: bug, regression

#6616 Add splash screen preview and upload/delete
  src/apps/dashboard/features/plugins/components/PluginImage.tsx
  src/apps/dashboard/routes/branding/index.tsx
  src/apps/dashboard/routes/plugins/plugin.tsx
  src/components/Image.tsx
  src/strings/en-us.json
Labels: feature

#6692 Fix mui deprecations
  src/apps/dashboard/features/logs/components/LogItemList.tsx
  src/apps/dashboard/features/tasks/components/NewTriggerForm.tsx
  src/apps/dashboard/routes/libraries/nfo.tsx
  src/apps/dashboard/routes/plugins/plugin.tsx
  src/apps/experimental/components/AppToolbar/menus/RemotePlayActiveMenu.tsx
  src/apps/experimental/components/AppToolbar/menus/SyncPlayMenu.tsx
  src/apps/experimental/components/drawers/DrawerHeaderLink.tsx
  src/apps/experimental/components/library/filter/FilterButton.tsx
  src/components/common/NoItemsMessage.tsx
Labels: cleanup

#6689 Migrate wizard to dedicated app
  src/RootAppRouter.tsx
  src/apps/dashboard/routes/routes.tsx
  src/apps/experimental/routes/legacyRoutes/public.ts
  src/apps/experimental/routes/routes.tsx
  src/apps/stable/routes/legacyRoutes/public.ts
  src/apps/stable/routes/routes.tsx
  src/apps/wizard/controllers/finish/index.html
  src/apps/wizard/controllers/finish/index.js
  src/apps/wizard/controllers/library.html
  src/apps/wizard/controllers/library.js
  src/apps/wizard/controllers/remote/index.html
  src/apps/wizard/controllers/remote/index.js
  src/apps/wizard/controllers/settings/index.html
  src/apps/wizard/controllers/settings/index.js
  src/apps/wizard/controllers/start/index.html
  src/apps/wizard/controllers/start/index.js
  src/apps/wizard/controllers/user/index.html
  src/apps/wizard/controllers/user/index.js
  src/apps/wizard/routes/routes.tsx
  src/components/ConnectionRequired.tsx
  src/components/router/FallbackRoute.tsx
  src/components/viewManager/ViewManagerPage.tsx
  src/constants/appType.ts
Labels: enhancement

#6604 Fix shuffle button for random individual items
  src/controllers/list.js
Labels: enhancement

#6652 Fix imagedownloader Uncaught (in promise) when no changes are done
  src/components/imageeditor/imageeditor.js
Labels: bug

#6697 Add saving aspect ratio in video player
  src/components/playback/playersettingsmenu.js
  src/plugins/htmlVideoPlayer/plugin.js
  src/scripts/settings/appSettings.js
  src/strings/en-us.json
Labels: enhancement

#6369 Display AV1 option for VideoToolbox
  src/apps/dashboard/controllers/encodingsettings.html
Labels: feature

#6583 Fix skip button not displaying correctly with OSD
  src/components/playback/skipsegment.ts
Labels: bug

#6706 Use server name for document title
  src/index.jsx
  src/scripts/libraryMenu.js
Labels: enhancement

#6659 Add configurable ReadInputAtNativeFramerate flag to M3U tuner
  src/apps/dashboard/controllers/livetvtuner.html
  src/apps/dashboard/controllers/livetvtuner.js
  src/strings/en-us.json
Labels: feature, release critical

#6712 Fix wizard stuck loading
  src/apps/wizard/controllers/finish/index.js
  src/apps/wizard/controllers/library.js
  src/apps/wizard/controllers/remote/index.js
  src/apps/wizard/controllers/settings/index.js
  src/apps/wizard/controllers/start/index.js
  src/apps/wizard/controllers/user/index.js
  src/components/ConnectionRequired.tsx
Labels: bug, regression, release critical

#6729 Remove redundant button and input components
  src/apps/dashboard/routes/users/access.tsx
  src/apps/dashboard/routes/users/add.tsx
  src/apps/dashboard/routes/users/parentalcontrol.tsx
  src/apps/dashboard/routes/users/profile.tsx
  src/apps/stable/routes/quickConnect/index.tsx
  src/apps/stable/routes/user/userprofile.tsx
  src/components/dashboard/users/UserPasswordForm.tsx
  src/elements/ButtonElement.tsx
  src/elements/InputElement.tsx
Labels: cleanup

#6582 Redesign library navigation in experimental layout
  src/apps/dashboard/AppLayout.tsx
  src/apps/experimental/AppLayout.tsx
  src/apps/experimental/AppOverrides.scss
  src/apps/experimental/components/AppToolbar/SearchButton.tsx
  src/apps/experimental/components/AppToolbar/index.tsx
  src/apps/experimental/components/AppToolbar/userViews/UserViewNav.tsx
  src/apps/experimental/components/AppToolbar/userViews/UserViewsMenu.tsx
  src/apps/experimental/components/LibraryIcon.tsx
  src/apps/experimental/components/drawers/MainDrawerContent.tsx
  src/apps/experimental/components/library/ItemsView.tsx
  src/apps/experimental/components/library/LibraryViewMenu.tsx
  src/apps/experimental/components/library/PageTabContent.tsx
  src/apps/experimental/components/library/Pagination.tsx
  src/apps/experimental/components/library/PlayAllButton.tsx
  src/apps/experimental/components/library/QueueButton.tsx
  src/apps/experimental/components/library/ShuffleButton.tsx
  src/apps/experimental/components/tabs/AppTabs.tsx
  src/apps/experimental/constants/metaView.ts
  src/apps/experimental/features/libraries/constants/libraryRoutes.ts
  src/apps/experimental/features/libraries/types/LibraryRoute.ts
  src/apps/experimental/features/libraries/utils/path.ts
  src/apps/experimental/routes/video/index.tsx
  src/apps/stable/features/search/components/SearchResults.tsx
  src/components/toolbar/AppToolbar.tsx
  src/components/toolbar/ServerButton.tsx
  src/hooks/useCurrentTab.ts
Labels: enhancement, ui & ux

#6746 Use logos from @jellyfin/ux-web
  package-lock.json
  package.json
  src/apps/experimental/components/drawers/DrawerHeaderLink.tsx
  src/assets/img/banner-dark.png
  src/assets/img/banner-light.png
  src/assets/img/icon-transparent.png
  src/favicon.ico
  src/favicon.png
  src/index.html
  src/manifest.json
  src/plugins/logoScreensaver/plugin.js
  src/styles/site.scss
  src/themes/appletv/theme.scss
  src/themes/blueradiance/theme.scss
  src/themes/dark/theme.scss
  src/themes/light/theme.scss
  src/themes/purplehaze/theme.scss
  src/themes/wmc/theme.scss
  src/touchicon.png
  src/touchicon114.png
  src/touchicon144.png
  src/touchicon512.png
  src/touchicon72.png
  webpack.common.js
Labels: enhancement

#6748 Remove trailers tab
  src/apps/experimental/components/library/SortButton.tsx
  src/apps/experimental/features/libraries/constants/libraryRoutes.ts
  src/apps/experimental/routes/movies/index.tsx
  src/components/homeScreenSettings/homeScreenSettings.js
  src/controllers/movies/movies.html
  src/controllers/movies/moviesrecommended.js
  src/controllers/movies/movietrailers.js
  src/hooks/useFetchItems.ts
  src/strings/en-us.json
  src/types/libraryTab.ts
Labels: cleanup

#6749 Fix the icon in the experimental layout header
  src/components/toolbar/ServerButton.tsx
Labels: bug

#6644 Fix active device cards from getting too large/overflowing on some resolutions
  src/styles/dashboard.scss
Labels: bug

#5179 Reduce the number of events triggered by sessionPlayer
  src/plugins/sessionPlayer/plugin.js
Labels: enhancement, playback

#6752 Remove index.html redirects
  src/apps/wizard/controllers/finish/index.js
  src/controllers/session/resetPassword/index.js
Labels: cleanup

#6530 Add option to limit hls segment length for webOS
  src/components/playbackSettings/playbackSettings.js
  src/components/playbackSettings/playbackSettings.template.html
  src/scripts/browserDeviceProfile.js
  src/scripts/settings/userSettings.js
  src/strings/en-us.json
Labels: p: webos, playback

#6716 Enable "Network Discovery" section in Networking settings
  src/apps/dashboard/controllers/networking.html
Labels: bug

#6714 Fix filter name collisions
  src/components/filterdialog/filterdialog.js
Labels: bug

#6732 Add eslint rules for large imports
  eslint.config.mjs
  src/apps/dashboard/components/UserAvatarButton.tsx
  src/apps/dashboard/components/toolbar/HelpButton.tsx
  src/apps/dashboard/features/activity/components/ActionsCell.tsx
  src/apps/dashboard/features/keys/api/useRevokeKey.ts
  src/apps/dashboard/features/plugins/components/PluginRevisions.tsx
  src/apps/dashboard/routes/devices/index.tsx
  src/apps/experimental/components/library/GridListViewButton.tsx
  src/apps/experimental/components/library/ItemsView.tsx
  src/apps/experimental/components/library/NewCollectionButton.tsx
  src/apps/experimental/components/library/PlayAllButton.tsx
  src/apps/experimental/components/library/QueueButton.tsx
  src/apps/experimental/components/library/ShuffleButton.tsx
  src/apps/experimental/components/library/SortButton.tsx
  src/apps/experimental/components/library/ViewSettingsButton.tsx
  src/apps/experimental/components/library/filter/FilterButton.tsx
  src/apps/experimental/components/library/filter/FiltersSeriesStatus.tsx
  src/apps/experimental/components/library/filter/FiltersStatus.tsx
  src/apps/experimental/components/library/filter/FiltersVideoTypes.tsx
  src/apps/experimental/features/details/components/buttons/CancelSeriesTimerButton.tsx
  src/apps/experimental/features/details/components/buttons/CancelTimerButton.tsx
  src/apps/experimental/features/details/components/buttons/DownloadButton.tsx
  src/apps/experimental/features/details/components/buttons/InstantMixButton.tsx
  src/apps/experimental/features/details/components/buttons/MoreCommandsButton.tsx
  src/apps/experimental/features/details/components/buttons/PlayOrResumeButton.tsx
  src/apps/experimental/features/details/components/buttons/PlayTrailerButton.tsx
  src/apps/experimental/features/details/components/buttons/ShuffleButton.tsx
  src/apps/experimental/features/details/components/buttons/SplitVersionsButton.tsx
  src/apps/stable/features/search/api/useSearchSuggestions.ts
  src/components/common/Media.tsx
  src/components/listview/List/ListViewUserDataButtons.tsx
  src/components/listview/List/listHelper.ts
  src/components/metadataEditor/personEditor.js
  src/components/themeMediaPlayer.js
  src/elements/emby-itemscontainer/ItemsContainer.tsx
  src/elements/emby-playstatebutton/PlayedButton.tsx
  src/elements/emby-ratingbutton/FavoriteButton.tsx
  src/themes/UserThemeProvider.tsx
  src/types/sections.ts
Labels: cleanup

#6778 Update filter icons
  src/controllers/list.html
  src/controllers/livetv.html
  src/controllers/movies/movies.html
  src/controllers/music/music.html
  src/controllers/shows/tvrecommended.html
  src/scripts/libraryBrowser.js
Labels: enhancement, ui & ux

#5219 Convert `toast` and `confirm` to TypeScript
  CONTRIBUTORS.md
  src/components/confirm/confirm.js
  src/components/confirm/confirm.ts
  src/components/toast/toast.ts
Labels: typescript, cleanup

#6762 Allow setting roles for guest stars
  src/components/metadataEditor/personEditor.js
Labels: enhancement

#6769 Add server name to startup wizard
  src/apps/wizard/controllers/start/index.html
  src/apps/wizard/controllers/start/index.js
  src/strings/en-us.json
Labels: enhancement

#6771 Add splash screen backdrop to login page
  src/apps/dashboard/routes/branding/index.tsx
  src/components/Backdrop.tsx
  src/components/backdrop/backdrop.js
  src/constants/branding.ts
  src/controllers/itemDetails/index.js
  src/controllers/session/login/index.html
  src/scripts/autoBackdrops.js
Labels: feature

#6731 Add polyfills for swiper
  package-lock.json
  package.json
  src/lib/legacy/elementAppendPrepend.js
  src/lib/legacy/index.ts
Labels: bug

#6772 Fix item details page not filling desktop screen
  src/styles/librarybrowser.scss
Labels: enhancement

#6766 Update subtitle position styling
  src/components/subtitlesettings/subtitleappearancehelper.js
  src/plugins/htmlVideoPlayer/plugin.js
Labels: enhancement

#6799 Fix lazy loading on the genre pages
  src/components/lazyLoader/lazyLoaderIntersectionObserver.js
  src/controllers/movies/moviegenres.js
  src/controllers/shows/tvgenres.js
Labels: bug

#6796 Update server update required handling
  src/components/ConnectionErrorPage.tsx
  src/components/ConnectionRequired.tsx
  src/strings/en-us.json
Labels: cleanup
