Repository jellyfin/jellyfin-web, pull requests merged in 2025-03, with the labels that each got.

#6580 Refactor queries to use non-null assert
  src/apps/dashboard/features/activity/api/useLogEntries.ts
  src/apps/dashboard/features/branding/api/useBrandingOptions.ts
  src/apps/dashboard/features/devices/api/useDeleteDevice.ts
  src/apps/dashboard/features/devices/api/useDevices.ts
  src/apps/dashboard/features/devices/api/useUpdateDevice.ts
  src/apps/dashboard/features/keys/api/useApiKeys.ts
  src/apps/dashboard/features/keys/api/useCreateKey.ts
  src/apps/dashboard/features/keys/api/useRevokeKey.ts
  src/apps/dashboard/features/logs/api/useServerLogs.ts
  src/apps/dashboard/features/plugins/api/useConfigurationPages.ts
  src/apps/dashboard/features/plugins/api/useDisablePlugin.ts
  src/apps/dashboard/features/plugins/api/useEnablePlugin.ts
  src/apps/dashboard/features/plugins/api/useInstallPackage.ts
  src/apps/dashboard/features/plugins/api/usePackageInfo.ts
  src/apps/dashboard/features/plugins/api/usePlugins.ts
  src/apps/dashboard/features/plugins/api/useUninstallPlugin.ts
  src/apps/dashboard/features/scheduledtasks/api/useStartTask.ts
  src/apps/dashboard/features/scheduledtasks/api/useStopTask.ts
  src/apps/dashboard/features/scheduledtasks/api/useTasks.ts
  src/components/playback/displayMirrorManager.ts
  src/components/router/appRouter.js
  src/components/themeMediaPlayer.js
  src/hooks/useItem.ts
  src/hooks/useSyncPlayGroups.ts
  src/hooks/useSystemInfo.ts
  src/hooks/useUserViews.ts
  src/hooks/useUsers.ts
  src/utils/container.ts
Labels: cleanup

#6589 Fix text truncation for user cards in dashboard
  src/styles/dashboard.scss
Labels: bug

#6531 Add a basic nix flake for development
  .gitignore
  flake.lock
  flake.nix
Labels: build

#6574 Fix undefined server id in experimental layout
  src/apps/experimental/components/library/GenresSectionContainer.tsx
  src/apps/experimental/components/library/ItemsView.tsx
  src/apps/experimental/components/library/ProgramsSectionView.tsx
  src/apps/experimental/components/library/SuggestionsSectionView.tsx
  src/apps/experimental/components/library/UpcomingView.tsx
  src/components/cardbuilder/Card/cardHelper.ts
Labels: bug

#6565 Migrate tasks edit page to react
  src/apps/dashboard/controllers/scheduledtasks/scheduledtask.html
  src/apps/dashboard/controllers/scheduledtasks/scheduledtask.js
  src/apps/dashboard/features/tasks/api/useStartTask.ts
  src/apps/dashboard/features/tasks/api/useStopTask.ts
  src/apps/dashboard/features/tasks/api/useTask.ts
  src/apps/dashboard/features/tasks/api/useTasks.ts
  src/apps/dashboard/features/tasks/api/useUpdateTask.ts
  src/apps/dashboard/features/tasks/components/NewTriggerForm.tsx
  src/apps/dashboard/features/tasks/components/Task.tsx
  src/apps/dashboard/features/tasks/components/TaskLastRan.tsx
  src/apps/dashboard/features/tasks/components/TaskProgress.tsx
  src/apps/dashboard/features/tasks/components/TaskTriggerCell.tsx
  src/apps/dashboard/features/tasks/components/Tasks.tsx
  src/apps/dashboard/features/tasks/constants/intervalDurations.ts
  src/apps/dashboard/features/tasks/types/taskProps.ts
  src/apps/dashboard/features/tasks/utils/edit.ts
  src/apps/dashboard/features/tasks/utils/tasks.ts
  src/apps/dashboard/routes/_asyncRoutes.ts
  src/apps/dashboard/routes/_legacyRoutes.ts
  src/apps/dashboard/routes/tasks/index.tsx
  src/apps/dashboard/routes/tasks/task.tsx
  src/components/ConfirmDialog.tsx
Labels: enhancement, cleanup

#6594 Migrate NFO Settings to React
  src/apps/dashboard/controllers/metadatanfo.html
  src/apps/dashboard/controllers/metadatanfo.js
  src/apps/dashboard/routes/_asyncRoutes.ts
  src/apps/dashboard/routes/_legacyRoutes.ts
  src/apps/dashboard/routes/libraries/display.tsx
  src/apps/dashboard/routes/libraries/nfo.tsx
  src/components/SimpleAlert.tsx
  src/strings/en-us.json
Labels: enhancement, cleanup

#6601 Add basic 404 page and *.html redirect
  src/apps/experimental/AppOverrides.scss
  src/apps/experimental/routes/routes.tsx
  src/apps/stable/routes/routes.tsx
  src/components/router/FallbackRoute.tsx
  src/strings/en-us.json
Labels: enhancement

#6602 Use paper background for avatar with user image
  src/components/UserAvatar.tsx
Labels: enhancement

#6596 Migrate General to React
  src/apps/dashboard/controllers/general.html
  src/apps/dashboard/controllers/general.js
  src/apps/dashboard/features/settings/api/useLocalizationOptions.ts
  src/apps/dashboard/routes/_asyncRoutes.ts
  src/apps/dashboard/routes/_legacyRoutes.ts
  src/apps/dashboard/routes/settings/index.tsx
  src/strings/en-us.json
Labels: enhancement, cleanup

#6617 Remove .html from routes
  src/apps/dashboard/routes/users/profile.tsx
  src/apps/experimental/components/AppToolbar/SearchButton.tsx
  src/apps/experimental/components/AppToolbar/index.tsx
  src/apps/experimental/components/drawers/MainDrawerContent.tsx
  src/apps/experimental/components/tabs/tabRoutes.ts
  src/apps/experimental/features/details/components/buttons/CancelSeriesTimerButton.tsx
  src/apps/experimental/routes/asyncRoutes/user.ts
  src/apps/experimental/routes/legacyRoutes/public.ts
  src/apps/experimental/routes/legacyRoutes/user.ts
  src/apps/experimental/routes/routes.tsx
  src/apps/stable/routes/asyncRoutes/user.ts
  src/apps/stable/routes/legacyRoutes/public.ts
  src/apps/stable/routes/legacyRoutes/user.ts
  src/apps/stable/routes/quickConnect/index.tsx
  src/apps/stable/routes/routes.tsx
  src/components/ConnectionRequired.tsx
  src/components/favoriteitems.js
  src/components/itemContextMenu.js
  src/components/router/FallbackRoute.tsx
  src/components/router/appRouter.js
  src/components/toolbar/AppUserMenu.tsx
  src/controllers/itemDetails/index.js
  src/controllers/livetv.html
  src/controllers/livetv/livetvrecordings.js
  src/controllers/livetv/livetvsuggested.js
  src/controllers/movies/moviesrecommended.js
  src/controllers/music/musicrecommended.js
  src/controllers/session/addServer/index.js
  src/controllers/session/forgotPassword/index.js
  src/controllers/session/login/index.js
  src/controllers/session/selectServer/index.html
  src/controllers/session/selectServer/index.js
  src/controllers/shows/tvrecommended.js
  src/controllers/user/menu/index.js
  src/controllers/wizard/library.js
  src/controllers/wizard/remote/index.js
  src/controllers/wizard/settings/index.js
  src/controllers/wizard/start/index.js
  src/controllers/wizard/user/index.js
  src/hooks/useCurrentTab.ts
  src/manifest.json
  src/scripts/itemsByName.js
  src/scripts/libraryMenu.js
  src/utils/dashboard.js
Labels: cleanup

#6620 Replace switches with checkboxes
  src/apps/dashboard/routes/libraries/display.tsx
  src/apps/dashboard/routes/libraries/nfo.tsx
  src/apps/dashboard/routes/logs/index.tsx
  src/apps/dashboard/routes/playback/trickplay.tsx
Labels: enhancement, ui & ux

#6650 Move theme and custom css to react components
  src/apps/dashboard/AppLayout.tsx
  src/apps/experimental/AppLayout.tsx
  src/apps/stable/AppLayout.tsx
  src/components/CustomCss.tsx
  src/components/ThemeCss.tsx
  src/hooks/useUserSettings.tsx
  src/index.jsx
  src/scripts/themeManager.js
Labels: cleanup

#6661 Fix parsing minor version of Tizen
  src/scripts/browser.js
Labels: bug, stable backport, p: tizen

#6510 Fix re-focusing on pause button when displaying OSD
  src/components/playback/skipbutton.scss
  src/components/playback/skipsegment.ts
  src/controllers/playback/video/index.js
Labels: bug, stable backport

#6593 Search Enhancements
  src/apps/stable/features/search/api/fetchItemsByType.ts
  src/apps/stable/features/search/api/useArtistsSearch.ts
  src/apps/stable/features/search/api/useLiveTvSearch.ts
  src/apps/stable/features/search/api/usePeopleSearch.ts
  src/apps/stable/features/search/api/useProgramsSearch.ts
  src/apps/stable/features/search/api/useSearchItems.ts
  src/apps/stable/features/search/api/useSearchSuggestions.ts
  src/apps/stable/features/search/api/useVideoSearch.ts
  src/apps/stable/features/search/components/SearchFields.tsx
  src/apps/stable/features/search/components/SearchResults.tsx
  src/apps/stable/features/search/components/SearchResultsRow.tsx
  src/apps/stable/features/search/components/SearchSuggestions.tsx
  src/apps/stable/features/search/components/searchfields.scss
  src/apps/stable/features/search/constants/liveTvCardOptions.ts
  src/apps/stable/features/search/constants/queryOptions.ts
  src/apps/stable/features/search/constants/sectionSortOrder.ts
  src/apps/stable/features/search/types.ts
  src/apps/stable/features/search/utils/search.ts
  src/apps/stable/routes/search.tsx
  src/hooks/searchHook/index.ts
  src/hooks/searchHook/useSearchItems.ts
  src/strings/en-us.json
Labels: enhancement

#6662 Move themes to sass
  package-lock.json
  package.json
  src/themes/appletv/theme.scss
  src/themes/blueradiance/theme.scss
  src/themes/dark/theme.scss
  src/themes/light/theme.scss
  src/themes/purplehaze/theme.scss
  src/themes/wmc/theme.scss
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Labels: enhancement

#6665 Fix inputProps deprecation
  src/apps/dashboard/features/tasks/components/NewTriggerForm.tsx
  src/apps/dashboard/routes/branding/index.tsx
  src/apps/dashboard/routes/libraries/metadata.tsx
  src/apps/dashboard/routes/playback/resume.tsx
  src/apps/dashboard/routes/playback/streaming.tsx
  src/apps/dashboard/routes/playback/trickplay.tsx
  src/apps/dashboard/routes/settings/index.tsx
  src/apps/experimental/features/preferences/components/DisplayPreferences.tsx
  src/apps/experimental/features/preferences/components/LibraryPreferences.tsx
  src/apps/experimental/features/preferences/components/NextUpPreferences.tsx
Labels: cleanup

#6671 Cleanup eslint warnings
  eslint.config.mjs
  src/components/ServerConnections.js
  src/components/apphost.js
  src/components/cardbuilder/cardBuilder.js
  src/components/cardbuilder/cardBuilderUtils.test.ts
  src/components/filterdialog/filterdialog.js
  src/components/guide/guide.js
  src/components/imageUploader/imageUploader.js
  src/components/images/imageLoader.js
  src/components/listview/List/Lists.tsx
  src/components/mediaLibraryEditor/mediaLibraryEditor.js
  src/components/mediainfo/mediainfo.js
  src/components/metadataEditor/metadataEditor.js
  src/components/notifications/notifications.js
  src/components/playback/playbackorientation.js
  src/controllers/lyrics.js
  src/controllers/playback/video/index.js
  src/controllers/shows/tvupcoming.js
  src/lib/globalize/index.js
  src/lib/legacy/domParserTextHtml.js
  src/lib/legacy/keyboardEvent.js
  src/lib/legacy/patchHeaders.js
  src/plugins/chromecastPlayer/plugin.js
  src/plugins/htmlVideoPlayer/plugin.js
  src/plugins/syncPlay/core/PlaybackCore.js
  src/plugins/syncPlay/core/players/GenericPlayer.js
  src/scripts/datetime.js
  src/scripts/gamepadtokey.js
  src/scripts/keyboardNavigation.js
  src/scripts/screensavermanager.js
  src/utils/dashboard.js
  src/utils/number.ts
Labels: cleanup

#6537 Limit number of streams on Tizen
  src/scripts/browserDeviceProfile.js
  src/strings/en-us.json
Labels: enhancement, p: tizen, playback
