Repository jellyfin/jellyfin-web, pull requests merged in 2025-05, with the labels that each got.

#6821 Use enum for app features
  src/apps/experimental/features/preferences/components/DisplayPreferences.tsx
  src/apps/experimental/features/preferences/components/LocalizationPreferences.tsx
  src/apps/experimental/features/preferences/hooks/useDisplaySettings.ts
  src/apps/stable/routes/user/settings/index.tsx
  src/apps/stable/routes/user/userprofile.tsx
  src/components/ConnectionErrorPage.tsx
  src/components/apphost.js
  src/components/displaySettings/displaySettings.js
  src/components/imageDownloader/imageDownloader.js
  src/components/imageeditor/imageeditor.js
  src/components/itemContextMenu.js
  src/components/itemHelper.js
  src/components/multiSelect/multiSelect.js
  src/components/nowPlayingBar/nowPlayingBar.js
  src/components/playback/playbackmanager.js
  src/components/playback/playerSelectionMenu.js
  src/components/playbackSettings/playbackSettings.js
  src/components/remotecontrol/remotecontrol.js
  src/components/slideshow/slideshow.js
  src/components/subtitleeditor/subtitleeditor.js
  src/components/subtitlesettings/subtitlesettings.js
  src/components/toolbar/AppUserMenu.tsx
  src/constants/appFeature.ts
  src/controllers/itemDetails/index.js
  src/controllers/playback/video/index.js
  src/controllers/session/login/index.js
  src/elements/emby-button/LinkButton.tsx
  src/elements/emby-button/emby-button.js
  src/index.jsx
  src/plugins/htmlAudioPlayer/plugin.js
  src/plugins/htmlVideoPlayer/plugin.js
  src/plugins/syncPlay/ui/playbackPermissionManager.js
  src/scripts/inputManager.js
  src/scripts/libraryMenu.js
  src/utils/dashboard.js
Labels: cleanup

#6777 Update experimental layout library controls
  src/apps/experimental/components/library/GridListViewButton.tsx
  src/apps/experimental/components/library/ItemsView.tsx
  src/apps/experimental/components/library/NewCollectionButton.tsx
  src/apps/experimental/components/library/Pagination.tsx
  src/apps/experimental/components/library/PlayAllButton.tsx
  src/apps/experimental/components/library/QueueButton.tsx
  src/apps/experimental/components/library/ShuffleButton.tsx
  src/apps/experimental/components/library/SortButton.tsx
  src/apps/experimental/components/library/ViewSettingsButton.tsx
  src/apps/experimental/components/library/filter/FilterButton.tsx
  src/apps/experimental/routes/music/index.tsx
  src/strings/en-us.json
Labels: enhancement, ui & ux

#6818 Replace deprecated system info fields
  src/apps/dashboard/routes/settings/index.tsx
Labels: cleanup

#6837 Require full import for @mui/icons-material
  eslint.config.mjs
  src/apps/dashboard/components/drawer/sections/DevicesDrawerSection.tsx
  src/apps/dashboard/components/drawer/sections/LiveTvDrawerSection.tsx
  src/apps/dashboard/components/drawer/sections/ServerDrawerSection.tsx
  src/apps/dashboard/routes/logs/file.tsx
Labels: cleanup

#6844 Fix forgot password page imports
  src/apps/stable/routes/session/forgotPassword/index.tsx
Labels: bug

#6845 Restore manifest.json output filename
  webpack.common.js
Labels: bug, release critical

#6833 Add "DownloadManagement" app feature for use in NativeShell clients
  src/apps/stable/routes/user/settings/index.tsx
  src/components/toolbar/AppUserMenu.tsx
  src/constants/appFeature.ts
  src/scripts/shell.js
  src/strings/en-us.json
Labels: enhancement

#6817 Handle promise rejection exceptions from actionSheet
  CONTRIBUTORS.md
  src/components/directorybrowser/directorybrowser.js
  src/controllers/session/selectServer/index.js
  src/scripts/libraryBrowser.js
Labels: cleanup

#6788 Fix missing last group of upcoming TV shows
  src/controllers/shows/tvupcoming.js
Labels: bug

#6826 Use shadow for trickplay thumbnail text
  src/styles/videoosd.scss
Labels: enhancement

#6847 Fix url "Configure And Verify LP Mode On Linux"
  src/apps/dashboard/controllers/encodingsettings.html
Labels: bug

#6789 Update link for setup guide
  src/apps/wizard/controllers/start/index.html
  src/strings/en-us.json
Labels: cleanup

#6867 Fix: clarify interval units in dummy chapter help text
  CONTRIBUTORS.md
  src/strings/en-us.json
Labels: enhancement

#6868 Fix link - skip redirection
  src/apps/dashboard/controllers/encodingsettings.html
Labels: cleanup
